Repository maplibre/maplibre-native, pull requests merged in 2023-03, with the labels that each got.

#867 First step towards DocC iOS docs
  .github/workflows/gh-pages-docc.yml
  platform/ios/Makefile
  platform/ios/platform/ios/CONTRIBUTING.md
  platform/ios/platform/ios/Documentation.docc/Documentation.md
Labels: documentation

#881 Fix compiler error seen in Xcode 14.3 Beta 2
  platform/ios/platform/darwin/src/NSDate+MGLAdditions.mm
Labels: iOS

#877 Disable test to not trigger -Werror=use-after-free
  test/actor/actor_ref.test.cpp
Labels: cpp-core

#891 Node platform improvements
  platform/node/CHANGELOG.md
  platform/node/README.md
  platform/node/src/node_map.cpp
  platform/node/src/node_map.hpp
  platform/node/test/js/map.test.js
Labels: node

#897 Get rid of errors from Makefile Android
  platform/android/DEVELOPING.md
  platform/android/Makefile
Labels: android

#908 Bump iOS and macOS deployment targets
  platform/ios/ios.cmake
  platform/macos/macos.cmake
Labels: iOS, macOS

#815 Remove old devices from Makefile
  platform/ios/Makefile
Labels: iOS

#930 Run Android instrumentation tests on AWS Device Farm
  .github/workflows/android-ci.yml
  platform/android/DEVELOPING.md
Labels: android, github_actions

#937 Fixed and enabled iOS render tests
  metrics/expectations/platform-ios/render-tests/line-dasharray/overscaled/expected.png
  metrics/expectations/platform-ios/render-tests/sprites/2x-screen-2x-pattern/expected.png
  platform/ios/ios.cmake
  render-test/ios/ios_test_runner.cpp
  vendor/zip-archive.cmake
Labels: iOS

#961 Enable Address Sanitizer, etc., in CI
  platform/ios/platform/ios/ios.xcodeproj/xcshareddata/xcschemes/CI.xcscheme
Labels: iOS, macOS

#962 cleaner includes in 'util'
  include/mbgl/util/chrono.hpp
  include/mbgl/util/constants.hpp
  include/mbgl/util/convert.hpp
  include/mbgl/util/default_style.hpp
  include/mbgl/util/monotonic_timer.hpp
  include/mbgl/util/size.hpp
  include/mbgl/util/tile_server_options.hpp
  src/mbgl/style/sources/image_source_impl.cpp
  src/mbgl/style/sources/image_source_impl.hpp
Labels: cpp-core

#965 Get the benchmark UI test working again
  .gitignore
  platform/ios/platform/ios/bench UITests/bench_UITests.swift
  platform/ios/platform/ios/benchmark/Info.plist
  platform/ios/platform/ios/benchmark/MBXBenchAppDelegate.m
  platform/ios/platform/ios/benchmark/MBXBenchViewController.mm
  platform/ios/platform/ios/benchmark/assets/download.sh
  platform/ios/platform/ios/benchmark/assets/glyphs/download.sh
Labels: bug, build, iOS
