Repository maplibre/maplibre-native, pull requests merged in 2023-11, with the labels that each got.

#1835 Benchmark workflow fix
  .github/workflows/pr-tests.yml
Labels: github_actions

#1831 Refactor bindings to allow for eliminating duplicates...
  include/mbgl/gfx/uniform_buffer.hpp
  include/mbgl/mtl/buffer_resource.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/mtl/drawable.hpp
  include/mbgl/mtl/index_buffer_resource.hpp
  include/mbgl/mtl/render_pass.hpp
  include/mbgl/mtl/upload_pass.hpp
  include/mbgl/mtl/vertex_buffer_resource.hpp
  src/mbgl/gfx/context.hpp
  src/mbgl/gfx/index_buffer.hpp
  src/mbgl/gfx/uniform_buffer.cpp
  src/mbgl/gfx/upload_pass.hpp
  src/mbgl/gfx/vertex_buffer.hpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/gl/upload_pass.cpp
  src/mbgl/gl/upload_pass.hpp
  src/mbgl/mtl/buffer_resource.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_impl.hpp
  src/mbgl/mtl/index_buffer_resource.cpp
  src/mbgl/mtl/render_pass.cpp
  src/mbgl/mtl/texture2d.cpp
  src/mbgl/mtl/upload_pass.cpp
  src/mbgl/mtl/vertex_attribute.cpp
  src/mbgl/mtl/vertex_buffer_resource.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/render_static_data.cpp
Labels: metal

#1849 Fix tile collection update
  src/mbgl/renderer/render_layer.cpp
Labels: bug

#1853 Fixed metal symbol render tests
  include/mbgl/shaders/mtl/common.hpp
  include/mbgl/shaders/mtl/symbol_icon.hpp
  include/mbgl/shaders/mtl/symbol_sdf.hpp
  include/mbgl/shaders/mtl/symbol_text_and_icon.hpp
  src/mbgl/shaders/mtl/symbol_icon.cpp
  src/mbgl/shaders/mtl/symbol_sdf.cpp
  src/mbgl/shaders/mtl/symbol_text_and_icon.cpp
Labels: metal, iOS

#1854 Fixed metal circle render tests
  include/mbgl/shaders/mtl/circle.hpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/shaders/mtl/circle.cpp
Labels: metal, iOS

#1860 Fixed metal heatmap render tests
  src/mbgl/mtl/offscreen_texture.cpp
Labels: metal, iOS

#1864 Fixed metal background render tests
  include/mbgl/shaders/background_layer_ubo.hpp
  include/mbgl/shaders/mtl/background.hpp
  include/mbgl/shaders/mtl/background_pattern.hpp
  src/mbgl/renderer/layers/background_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/shaders/mtl/background.cpp
  src/mbgl/shaders/mtl/background_pattern.cpp
Labels: metal, iOS

#1865 Fixed metal fill color per vertex
  include/mbgl/shaders/mtl/fill.hpp
  src/mbgl/shaders/mtl/fill.cpp
Labels: metal, iOS

#1867 Fixed metal vertex attribute update render tests
  include/mbgl/mtl/vertex_attribute.hpp
  src/mbgl/mtl/drawable_impl.hpp
  src/mbgl/mtl/vertex_attribute.cpp
Labels: metal, iOS

#1868 Fixed metal line render tests
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
Labels: metal, iOS

#1870 Metal debug shader
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/shaders/debug_layer_ubo.hpp
  include/mbgl/shaders/mtl/debug.hpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/shaders/mtl/debug.cpp
Labels: metal, iOS

#1871 Bug/stencil tiles
  include/mbgl/renderer/layer_group.hpp
  src/mbgl/gl/layer_group_gl.cpp
  src/mbgl/mtl/tile_layer_group.cpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/paint_parameters.cpp
  src/mbgl/renderer/paint_parameters.hpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/renderer/tile_layer_group.cpp
  src/mbgl/style/layers/custom_drawable_layer.cpp
Labels: bug, metal, OpenGL

#1874 Handle the case where styles update without a bucket change, fixing `…
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
Labels: bug

#1842 Replace rather than update Metal buffers
  include/mbgl/gfx/rendering_stats.hpp
  include/mbgl/mtl/context.hpp
  platform/ios/benchmark/MBXBenchViewController.mm
  src/mbgl/gfx/context.hpp
  src/mbgl/gfx/rendering_stats.cpp
  src/mbgl/gl/context.cpp
  src/mbgl/mtl/buffer_resource.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/render_pass.cpp
  test/map/map.test.cpp
Labels: metal

#1851 Complex, Animatable, Interactive Annotations Proposal
  design-proposals/2023-11-08-complex-animatable-interactive-annotations.md
Labels: design-proposal

#1877 Design proposal: ambient cache initialization speed improvement
  design-proposals/2023-11-06-ambient-cache-initialization-speed-improvement.md
Labels: design-proposal

#1740 [qt] Only build core platform as part of main maplibre-native repo
  .github/actions/qt5-build/entrypoint.sh
  .github/actions/qt6-build/entrypoint.sh
  .github/workflows/qt-ci.yml
  .gitignore
  platform/qt/CHANGELOG.md
  platform/qt/QMapLibreGLConfig.cmake.in
  platform/qt/README.md
  platform/qt/VERSION
  platform/qt/app/CMakeLists.txt
  platform/qt/app/main.cpp
  platform/qt/app/mapwindow.cpp
  platform/qt/app/mapwindow.hpp
  platform/qt/config.qdocconf
  platform/qt/include/QMapLibreGL/Map
  platform/qt/include/QMapLibreGL/QMapLibreGL
  platform/qt/include/QMapLibreGL/Settings
  platform/qt/include/QMapLibreGL/Types
  platform/qt/include/QMapLibreGL/Utils
  platform/qt/include/QMapLibreGL/export.hpp
  platform/qt/include/QMapLibreGL/map.hpp
  platform/qt/include/QMapLibreGL/settings.hpp
  platform/qt/include/QMapLibreGL/types.hpp
  platform/qt/include/QMapLibreGL/utils.hpp
  platform/qt/qt.cmake
  platform/qt/resources/common.qrc
  platform/qt/resources/label-arrow.svg
  platform/qt/resources/label-background.svg
  platform/qt/resources/source1.geojson
  platform/qt/resources/source2.geojson
  platform/qt/scripts/configure_Qt5_Android_static.sh
  platform/qt/scripts/configure_Qt5_Linux.sh
  platform/qt/scripts/configure_Qt5_Windows.ps1
  platform/qt/scripts/configure_Qt5_Windows_static.ps1
  platform/qt/scripts/configure_Qt5_iOS_static.sh
  platform/qt/scripts/configure_Qt5_macOS.sh
  platform/qt/scripts/configure_Qt5_macOS_static.sh
  platform/qt/scripts/configure_Qt6_Windows.ps1
  platform/qt/scripts/configure_Qt6_macOS.sh
  platform/qt/scripts/configure_Qt6_macOS_static.sh
  platform/qt/src/map.cpp
  platform/qt/src/map_p.hpp
  platform/qt/src/settings.cpp
  platform/qt/src/types.cpp
  platform/qt/src/utils.cpp
  platform/qt/src/utils/conversion.hpp
  platform/qt/src/utils/geojson.cpp
  platform/qt/src/utils/geojson.hpp
  platform/qt/src/utils/map_observer.cpp
  platform/qt/src/utils/map_observer.hpp
  platform/qt/src/utils/map_renderer.cpp
  platform/qt/src/utils/map_renderer.hpp
  platform/qt/src/utils/renderer_backend.cpp
  platform/qt/src/utils/renderer_backend.hpp
  platform/qt/src/utils/renderer_observer.hpp
  platform/qt/src/utils/scheduler.cpp
  platform/qt/src/utils/scheduler.hpp
  platform/qt/test/qmaplibregl.test.cpp
  platform/qt/test/qmaplibregl.test.hpp
  test/util/image.test.cpp
Labels: Qt

#1879 [qt] Only build core platform as part of main maplibre-native repo
  .github/actions/qt5-build/entrypoint.sh
  .github/actions/qt6-build/entrypoint.sh
  .github/workflows/qt-ci.yml
  .gitignore
  platform/qt/CHANGELOG.md
  platform/qt/QMapLibreGLConfig.cmake.in
  platform/qt/README.md
  platform/qt/VERSION
  platform/qt/app/CMakeLists.txt
  platform/qt/app/main.cpp
  platform/qt/app/mapwindow.cpp
  platform/qt/app/mapwindow.hpp
  platform/qt/config.qdocconf
  platform/qt/include/QMapLibreGL/Map
  platform/qt/include/QMapLibreGL/QMapLibreGL
  platform/qt/include/QMapLibreGL/Settings
  platform/qt/include/QMapLibreGL/Types
  platform/qt/include/QMapLibreGL/Utils
  platform/qt/include/QMapLibreGL/export.hpp
  platform/qt/include/QMapLibreGL/map.hpp
  platform/qt/include/QMapLibreGL/settings.hpp
  platform/qt/include/QMapLibreGL/types.hpp
  platform/qt/include/QMapLibreGL/utils.hpp
  platform/qt/qt.cmake
  platform/qt/resources/common.qrc
  platform/qt/resources/label-arrow.svg
  platform/qt/resources/label-background.svg
  platform/qt/resources/source1.geojson
  platform/qt/resources/source2.geojson
  platform/qt/scripts/configure_Qt5_Android_static.sh
  platform/qt/scripts/configure_Qt5_Linux.sh
  platform/qt/scripts/configure_Qt5_Windows.ps1
  platform/qt/scripts/configure_Qt5_Windows_static.ps1
  platform/qt/scripts/configure_Qt5_iOS_static.sh
  platform/qt/scripts/configure_Qt5_macOS.sh
  platform/qt/scripts/configure_Qt5_macOS_static.sh
  platform/qt/scripts/configure_Qt6_Windows.ps1
  platform/qt/scripts/configure_Qt6_macOS.sh
  platform/qt/scripts/configure_Qt6_macOS_static.sh
  platform/qt/src/map.cpp
  platform/qt/src/map_p.hpp
  platform/qt/src/settings.cpp
  platform/qt/src/types.cpp
  platform/qt/src/utils.cpp
  platform/qt/src/utils/conversion.hpp
  platform/qt/src/utils/geojson.cpp
  platform/qt/src/utils/geojson.hpp
  platform/qt/src/utils/map_observer.cpp
  platform/qt/src/utils/map_observer.hpp
  platform/qt/src/utils/map_renderer.cpp
  platform/qt/src/utils/map_renderer.hpp
  platform/qt/src/utils/renderer_backend.cpp
  platform/qt/src/utils/renderer_backend.hpp
  platform/qt/src/utils/renderer_observer.hpp
  platform/qt/src/utils/scheduler.cpp
  platform/qt/src/utils/scheduler.hpp
  platform/qt/test/qmaplibregl.test.cpp
  platform/qt/test/qmaplibregl.test.hpp
Labels: cherry-pick

#1890 [qt] Use more explicit build image names
  .github/actions/qt5-build/Dockerfile
  .github/actions/qt6-build/Dockerfile
Labels: Qt

#1889 [qt] Update build images to use GCC11
  .github/actions/qt5-build/Dockerfile
  .github/actions/qt5-build/entrypoint.sh
  .github/actions/qt6-build/Dockerfile
  .github/actions/qt6-build/entrypoint.sh
  .github/workflows/qt-ci.yml
Labels: Qt

#1883 Don't use std::function in the renderer hot paths
  include/mbgl/gfx/uniform_block.hpp
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/renderer/layer_group.hpp
  include/mbgl/renderer/render_target.hpp
  src/mbgl/gfx/vertex_attribute.cpp
  src/mbgl/gl/vertex_attribute_gl.cpp
  src/mbgl/renderer/layer_group.cpp
  src/mbgl/renderer/layers/background_layer_tweaker.cpp
  src/mbgl/renderer/layers/circle_layer_tweaker.cpp
  src/mbgl/renderer/layers/collision_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_texture_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_prepare_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/raster_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_orchestrator.hpp
  src/mbgl/renderer/render_target.cpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/renderer/tile_layer_group.cpp
Labels: cpp-core

#1898 Shared attributes
  include/mbgl/gfx/drawable.hpp
  include/mbgl/gfx/drawable_builder.hpp
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/gl/drawable_gl.hpp
  include/mbgl/gl/vertex_attribute_gl.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/mtl/drawable.hpp
  include/mbgl/mtl/vertex_attribute.hpp
  include/mbgl/shaders/gl/shader_program_gl.hpp
  include/mbgl/shaders/mtl/shader_program.hpp
  include/mbgl/shaders/shader_program_base.hpp
  src/mbgl/gfx/context.hpp
  src/mbgl/gfx/drawable_builder.cpp
  src/mbgl/gfx/drawable_builder_impl.cpp
  src/mbgl/gfx/drawable_builder_impl.hpp
  src/mbgl/gfx/index_vector.hpp
  src/mbgl/gfx/vertex_attribute.cpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/drawable_gl_impl.hpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_impl.hpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/style/layers/custom_drawable_layer.cpp
Labels: enhancement
