Repository maplibre/maplibre-native, pull requests merged in 2023-09, with the labels that each got.

#1399 Windows: protect WGLDisplayConfig from being created multiple times by different threads
  platform/windows/src/headless_backend_wgl.cpp
Labels: windows

#1598 Deduplicate job names CI, remove path filtering
  .github/workflows/android-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/linux-ci.yml
Labels: github_actions

#1604 Delete glyph paths with spaces, include render test in coverage report
  .github/workflows/linux-ci.yml
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/0-255.pbf
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/12288-12543.pbf
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/1536-1791.pbf
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/256-511.pbf
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/5888-6143.pbf
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/64256-64511.pbf
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/65024-65279.pbf
  metrics/integration/glyphs/Open Sans Semibold,Arial Unicode MS Bold/8192-8447.pbf
  metrics/integration/glyphs/mapbox/Open Sans Bold,Arial Unicode MS Bold/0-255.pbf
  metrics/integration/glyphs/mapbox/Open Sans Semibold,Arial Unicode MS Bold/0-255.pbf
Labels: build

#1605 `USE_CPP_TEST_SERVER` for Linux C++ tests
  .github/workflows/linux-ci.yml
  test/CMakeLists.txt
Labels: build, linux

#1619 iOS CI Improvements
  .github/workflows/ios-ci.yml
  .github/workflows/ios-device-test.yml
Labels: iOS, github_actions

#1626 Improve artifact handling CI
  .github/workflows/android-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/ios-device-test.yml
Labels: github_actions

#1636 Use a more obvious placeholder image in iOS app instead of the app icon
  platform/ios/app/Assets.xcassets/MissingImage.imageset/Contents.json
  platform/ios/app/Assets.xcassets/MissingImage.imageset/missing.png
  platform/ios/app/MBXViewController.m
Labels: iOS

#1638 Add checks for zero indexes on fill patterns to match fills.
  .github/actions/download-workflow-run-artifact/action.yml
  .github/workflows/android-ci.yml
  include/mbgl/gfx/vertex_attribute.hpp
  src/mbgl/gfx/drawable_builder.cpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
Labels: bug

#1629 Fix duplicate layer entries when `addLayerGroup` was called between `…
  include/mbgl/renderer/change_request.hpp
  src/mbgl/renderer/change_request.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_orchestrator.hpp
  src/mbgl/renderer/renderer_impl.cpp
Labels: bug

#1618 Rebase fill-extrusion work to eliminate dependence on render target branch
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/gfx/uniform_block.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/mtl/mtl_fwd.hpp
  include/mbgl/renderer/layer_tweaker.hpp
  include/mbgl/shaders/fill_extrusion_layer_ubo.hpp
  include/mbgl/shaders/mtl/clipping_mask.hpp
  include/mbgl/shaders/mtl/common.hpp
  include/mbgl/shaders/mtl/fill.hpp
  include/mbgl/shaders/mtl/fill_extrusion.hpp
  include/mbgl/shaders/mtl/fill_extrusion_pattern.hpp
  include/mbgl/util/string_indexer.hpp
  platform/default/include/mbgl/gfx/headless_backend.hpp
  platform/ios/src/MLNMapView+Metal.mm
  src/mbgl/gfx/vertex_attribute.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/render_pass.cpp
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/mtl/tile_layer_group.cpp
  src/mbgl/mtl/upload_pass.cpp
  src/mbgl/programs/fill_extrusion_program.hpp
  src/mbgl/renderer/layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.hpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/paint_parameters.cpp
  src/mbgl/renderer/paint_parameters.hpp
  src/mbgl/shaders/mtl/shader_program.cpp
  src/mbgl/util/string_indexer.cpp
  test/util/string_indexer.test.cpp
Labels: metal

#1646 Make iOS pre-release on main merge
  .github/workflows/ios-ci.yml
  platform/ios/VERSION
Labels: metal, build, github_actions

#1640 Topic/metal symbol rebase
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/shaders/gl/drawable_symbol_sdf.hpp
  include/mbgl/shaders/mtl/common.hpp
  include/mbgl/shaders/mtl/symbol_icon.hpp
  include/mbgl/shaders/mtl/symbol_sdf.hpp
  include/mbgl/shaders/mtl/symbol_text_and_icon.hpp
  include/mbgl/shaders/shader_manifest.hpp
  include/mbgl/shaders/shader_source.hpp
  include/mbgl/shaders/symbol_layer_ubo.hpp
  platform/ios/app/MBXViewController.m
  platform/ios/benchmark/locations.cpp
  shaders/manifest.json
  src/mbgl/gl/renderer_backend.cpp
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.hpp
Labels: metal

#1655 Fix typo ios-ci
  .github/workflows/ios-ci.yml
Labels: github_actions

#1656 Skip `linux-ci` when not needed
  .github/workflows/linux-ci.yml
Labels: github_actions

#1665 Skip jobs linux-ci
  .github/workflows/linux-ci.yml
Labels: github_actions

#1659 Create tag for iOS release
  .github/workflows/ios-ci.yml
  render-test/BUILD.bazel
Labels: iOS, github_actions

#1666 Fix string indexer reallocation bug
  include/mbgl/util/string_indexer.hpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/util/string_indexer.cpp
  test/util/string_indexer.test.cpp
Labels: bug

#1658 Cache metal pipeline state
  include/mbgl/gfx/drawable.hpp
  include/mbgl/gfx/renderable.hpp
  include/mbgl/mtl/drawable.hpp
  platform/ios/benchmark/locations.cpp
  src/mbgl/gfx/render_pass.hpp
  src/mbgl/mtl/drawable.cpp
Labels: metal

#1668 Issue/1648
  include/mbgl/renderer/change_request.hpp
  src/mbgl/renderer/change_request.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_orchestrator.hpp
  test/util/offscreen_texture.test.cpp
Labels: bug

#1674 Fix XCFramework umbrella header
  .github/workflows/ios-ci.yml
  platform/BUILD.bazel
  platform/ios/BUILD.bazel
  platform/ios/bazel/files.bzl
  platform/ios/src/Mapbox.template.h
Labels: metal, iOS

#1546 Metal hillshade layer
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/mtl/texture2d.hpp
  include/mbgl/shaders/gl/drawable_fill_outline.hpp
  include/mbgl/shaders/gl/drawable_hillshade.hpp
  include/mbgl/shaders/gl/drawable_hillshade_prepare.hpp
  include/mbgl/shaders/hillshade_layer_ubo.hpp
  include/mbgl/shaders/hillshade_prepare_layer_ubo.hpp
  include/mbgl/shaders/mtl/common.hpp
  include/mbgl/shaders/mtl/hillshade.hpp
  include/mbgl/shaders/mtl/hillshade_prepare.hpp
  shaders/drawable.hillshade.fragment.glsl
  shaders/drawable.hillshade.vertex.glsl
  shaders/drawable.hillshade_prepare.fragment.glsl
  shaders/drawable.hillshade_prepare.vertex.glsl
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/renderer/layers/hillshade_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_prepare_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.hpp
Labels: metal, iOS

#1667 Try to improve ccache usage Android
  .github/workflows/android-ci.yml
  .github/workflows/linux-ci.yml
Labels: github_actions

#1685 Enable skipping Android CI, fix path apk
  .github/workflows/android-ci.yml
Labels: android, github_actions

#1637 Android annotations: implement new `Symbol` class
  design-proposals/2023-06-17-android-annotations.md
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/AnnotationContainer.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/AnnotationManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Circle.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/CircleManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/CircleOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/DataDrivenPropertyUtil.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/DraggableAnnotationController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Fill.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/FillManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/FillOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/KAnnotation.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/KSymbol.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Line.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/LineManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/LineOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnAnnotationClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnAnnotationDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnAnnotationLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnCircleClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnCircleDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnCircleLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnFillClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnFillDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnFillLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnLineClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnLineDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnLineLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnSymbolClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnSymbolDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnSymbolLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Options.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Symbol.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/SymbolManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/SymbolOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Alignment.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Anchor.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Defaults.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Halo.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Icon.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Text.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/maps/MapLibreMap.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/maps/MapView.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/CircleManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/DraggableAnnotationControllerTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/FillManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/LineManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/SymbolManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/maps/MapLibreMapTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/maps/StyleTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/annotation/BulkMarkerActivity.kt
Labels: android

#1688 Try to run on MapLibre_Native_Large_Runner
  .github/actionlint.yaml
  .github/workflows/android-ci.yml
  .github/workflows/linux-ci.yml
Labels: github_actions

#1700 Fix raster geometry updates
  include/mbgl/renderer/layer_tweaker.hpp
  src/mbgl/gfx/index_vector.hpp
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_builder.cpp
  src/mbgl/renderer/buckets/raster_bucket.cpp
  src/mbgl/renderer/buckets/raster_bucket.hpp
  src/mbgl/renderer/layer_tweaker.cpp
  src/mbgl/renderer/layers/circle_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.hpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
  src/mbgl/renderer/render_layer.cpp
Labels: bug

#1703 Fix CI build
  src/mbgl/renderer/buckets/raster_bucket.hpp
Labels: build

#1706 Attempting to improve coverage metrics
  src/mbgl/gfx/index_vector.hpp
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/renderer/buckets/raster_bucket.cpp
Labels: build
