Repository maplibre/maplibre-native, pull requests merged in 2023-10, with the labels that each got.

#1705 Refactor depth and stencil setup for clipping masks to reuse a context method.
  src/mbgl/renderer/paint_parameters.cpp
Labels: metal

#1690 Metal headless backend
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/gfx/backend.hpp
  include/mbgl/gfx/types.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/mtl/offscreen_texture.hpp
  include/mbgl/shaders/collision_layer_ubo.hpp
  include/mbgl/shaders/mtl/collision_box.hpp
  include/mbgl/shaders/mtl/collision_circle.hpp
  include/mbgl/shaders/mtl/symbol_text_and_icon.hpp
  platform/default/BUILD.bazel
  platform/default/include/mbgl/gfx/headless_backend.hpp
  platform/default/include/mbgl/mtl/headless_backend.hpp
  platform/default/src/mbgl/mtl/headless_backend.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/offscreen_texture.cpp
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/mtl/texture2d.cpp
  src/mbgl/renderer/layers/collision_layer_tweaker.cpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/shaders/mtl/background_pattern.cpp
  src/mbgl/shaders/mtl/collision_box.cpp
  src/mbgl/shaders/mtl/collision_circle.cpp
Labels: metal, iOS

#1715 Revert offscreen texture changes
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_impl.hpp
  src/mbgl/mtl/offscreen_texture.cpp
  src/mbgl/renderer/paint_parameters.cpp
Labels: metal

#1720 Fix Drawable / Legacy renderer matrix Linux CI
  .github/workflows/ios-ci.yml
  .github/workflows/linux-ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/shaders/gl/shader_group_gl.hpp
  include/mbgl/util/string_indexer.hpp
  metrics/ignores/linux-drawable.json
  metrics/linux-drawable.json
  metrics/linux-legacy.json
  platform/ios/test/BUILD.bazel
  src/mbgl/gfx/drawable_builder.cpp
  src/mbgl/gfx/drawable_custom_layer_host_tweaker.cpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/drawable_gl_impl.hpp
  src/mbgl/gl/offscreen_texture.cpp
  src/mbgl/gl/upload_pass.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_impl.hpp
  src/mbgl/renderer/layers/background_layer_tweaker.cpp
  src/mbgl/renderer/layers/circle_layer_tweaker.cpp
  src/mbgl/renderer/layers/collision_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_texture_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_prepare_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/raster_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/shaders/gl/shader_program_gl.cpp
  src/mbgl/shaders/mtl/shader_program.cpp
  src/mbgl/util/string_indexer.cpp
  test/util/string_indexer.test.cpp
Labels: github_actions

#1730 Line sdf gradient rebase
  include/mbgl/shaders/mtl/line.hpp
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/shaders/mtl/line.cpp
Labels: metal

#1729 implement fill extrusion pattern shader for metal
  include/mbgl/shaders/fill_extrusion_layer_ubo.hpp
  include/mbgl/shaders/mtl/fill_extrusion.hpp
  include/mbgl/shaders/mtl/fill_extrusion_pattern.hpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/shaders/mtl/fill_extrusion_pattern.cpp
Labels: metal

#1741 Line gradient fixes
  include/mbgl/shaders/mtl/line_gradient.hpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.hpp
Labels: metal

#1747 Clear space on free runner
  .github/workflows/android-ci.yml
Labels: github_actions

#1744 Update minimum CMake version to 3.19
  .github/actions/qt5-build/Dockerfile
  .github/workflows/android-ci.yml
  .github/workflows/node-ci.yml
  CMakeLists.txt
Labels: cherry-pick

#1724 Android annotations: implement `Circle`, `Line`, `Fill`
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/AnnotationContainer.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/AnnotationManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Circle.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Circle.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/CircleManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/CircleOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Fill.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Fill.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/FillManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/FillOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/KAnnotation.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Line.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Line.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/LineManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/LineOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnAnnotationClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnAnnotationDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnAnnotationLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnCircleClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnCircleDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnCircleLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnFillClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnFillDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnFillLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnLineClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnLineDragListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/OnLineLongClickListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/Symbol.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/SymbolManager.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Defaults.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Icon.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/annotations/data/Text.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/maps/MapLibreMap.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/CircleManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/FillManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/LineManagerTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/annotations/SymbolManagerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/annotation/BulkMarkerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/annotation/PolygonActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/annotation/PolylineActivity.kt
Labels: android

#1756 Fixes for GCC 13 and LLVM 17 (#1749)
  .github/workflows/qt-ci.yml
  include/mbgl/gfx/shader_registry.hpp
  include/mbgl/style/transition_options.hpp
  include/mbgl/util/compression.hpp
  include/mbgl/util/image.hpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/style/conversion/transition_options.cpp
  src/mbgl/style/sources/geojson_source_impl.cpp
  test/util/thread.test.cpp
Labels: cherry-pick

#1709 [qt] Make WASM build run without crashes with latest Qt
  .github/workflows/qt-ci.yml
  platform/qt/qt.cmake
  platform/qt/src/mbgl/http_request.cpp
  vendor/csscolorparser.cmake
  vendor/icu.cmake
  vendor/nunicode.cmake
  vendor/parsedate.cmake
  vendor/sqlite.cmake
Labels: Qt

#1757 [qt] Make WASM build run without crashes with latest Qt
  .github/workflows/qt-ci.yml
  platform/qt/qt.cmake
  platform/qt/src/mbgl/http_request.cpp
  vendor/csscolorparser.cmake
  vendor/icu.cmake
  vendor/nunicode.cmake
  vendor/parsedate.cmake
  vendor/sqlite.cmake
Labels: cherry-pick

#1755 More stencil caching
  include/mbgl/mtl/buffer_resource.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/shaders/mtl/shader_program.hpp
  src/mbgl/mtl/buffer_resource.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/tile_layer_group.cpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/shaders/mtl/shader_program.cpp
Labels: metal

#1761 Leave PR message with Bloaty results
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1765 CI fixes and improvements
  .github/workflows/android-device-test.yml
  .github/workflows/ios-device-test.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1766 Use RelWithDebInfo with Bloaty McBloatface (size test)
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1767 Compile bloaty in action
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1769 Upload coverage in separate workflow
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
  .github/workflows/upload-coverage.yml
Labels: github_actions

#1770 Don't use Ninja for bloaty build
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1771 Cache Bloaty, use PR number
  .github/workflows/ios-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1774 CI PR number handling
  .github/actions/get-pr-number/action.yml
  .github/actions/save-pr-number/action.yml
  .github/workflows/android-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1775 cd in bloaty compile step
  .github/changed-files.yml
  .github/workflows/android-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1778 Disable stencil instancing
  include/mbgl/shaders/mtl/clipping_mask.hpp
  src/mbgl/mtl/context.cpp
Labels: bug, metal

#1782 Upload Bloaty report to S3
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1783 Add id-token permissions to workflows
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1784 Update permissions linux-ci
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1787 Last Bloaty fixes
  .github/workflows/linux-ci.yml
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1788 Eliminate duplicate calls to updateRenderTileIDs
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.hpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.hpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.hpp
  src/mbgl/renderer/layers/render_line_layer.cpp
Labels: bug, metal

#1789 Bloaty report path
  .github/workflows/pr-bloaty.yml
Labels: github_actions

#1781 Metal stats
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/gfx/rendering_stats.hpp
  include/mbgl/gfx/uniform_buffer.hpp
  include/mbgl/gl/uniform_buffer_gl.hpp
  include/mbgl/mtl/buffer_resource.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/mtl/index_buffer_resource.hpp
  include/mbgl/mtl/uniform_buffer.hpp
  include/mbgl/mtl/vertex_buffer_resource.hpp
  src/mbgl/gfx/context.hpp
  src/mbgl/gfx/rendering_stats.cpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/gl/uniform_buffer_gl.cpp
  src/mbgl/mtl/buffer_resource.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_impl.hpp
  src/mbgl/mtl/index_buffer_resource.cpp
  src/mbgl/mtl/offscreen_texture.cpp
  src/mbgl/mtl/render_pass.cpp
  src/mbgl/mtl/texture2d.cpp
  src/mbgl/mtl/uniform_buffer.cpp
  src/mbgl/mtl/vertex_buffer_resource.cpp
  src/mbgl/renderer/paint_parameters.cpp
  src/mbgl/renderer/render_orchestrator.cpp
  test/map/map.test.cpp
Labels: metal

#1794 update for node 21
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
  platform/node/CMakeLists.txt
  platform/node/scripts/publish.sh
  platform/node/src/node_request.cpp
Labels: node

#1802 Remove old size test
  .github/workflows/ios-ci.yml
  .github/workflows/pr-size-test-result.yml
  platform/ios/BUILD.bazel
Labels: iOS, github_actions

#1812 [ci] Qt workflow improvements
  .github/workflows/qt-ci.yml
Labels: cherry-pick

#1811 Benchmark fixes
  .github/workflows/pr-tests.yml
  vendor/benchmark.cmake
Labels: build, github_actions

#1813 Ignore Qt installation when finding ICU
  .github/actions/qt5-build/entrypoint.sh
  .github/actions/qt6-build/entrypoint.sh
  .github/workflows/qt-ci.yml
  platform/qt/qt.cmake
Labels: Qt

#1817 Ignore Qt installation when finding ICU
  .github/actions/qt5-build/entrypoint.sh
  .github/actions/qt6-build/entrypoint.sh
  .github/workflows/qt-ci.yml
  platform/qt/qt.cmake
Labels: cherry-pick

#1825 Fix old Qt version support for usage in linux distributions
  platform/qt/src/mbgl/http_file_source.cpp
Labels: Qt

#1829 Fix old Qt version support for usage in linux distributions
  platform/qt/src/mbgl/http_file_source.cpp
Labels: cherry-pick
