Repository maplibre/maplibre-native, pull requests merged in 2023-08, with the labels that each got.

#1443 Fix flaky Node.js CI with cache
  .github/workflows/node-ci.yml
  platform/node/CMakeLists.txt
  platform/node/cmake/module.cmake
Labels: node, github_actions

#1457 Use Bazel to build XCFramework for release
  platform/BUILD.bazel
  platform/ios/scripts/deploy-swift-package.sh
  platform/ios/scripts/swift_package_template.swift
Labels: build, iOS

#1465 Replace Mapbox logo with MapLibre logo on iOS
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Contents.json
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-29@2x-1.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-29@2x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-29@3x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-40.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-40@2x-1.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-40@2x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-60@2x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-60@3x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-76.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-76@2x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-83.5@2x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-Small.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/Icon-Spotlight-40@3x.png
  platform/ios/app/Assets.xcassets/AppIcon.appiconset/maplibre-app-icon.png
  platform/ios/resources/Images.xcassets/Contents.json
  platform/ios/resources/Images.xcassets/maplibre-logo-stroke-gray.imageset/Contents.json
  platform/ios/resources/Images.xcassets/maplibre-logo-stroke-gray.imageset/maplibre-logo-stroke-gray.svg
Labels: iOS

#1455 ios-setLatLngBounds
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/src/MLNMapView.h
  platform/ios/src/MLNMapView.mm
Labels: enhancement, iOS

#1454 add-fly-to-with-padding
  platform/ios/CHANGELOG.md
  platform/ios/app/MBXViewController.m
  platform/ios/src/MLNMapView.h
  platform/ios/src/MLNMapView.mm
Labels: enhancement, iOS

#1514 Add MapLibre.podspec
  .github/workflows/ios-release.yml
  platform/ios/BUILD.bazel
  platform/ios/MapLibre.podspec
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/scripts/deploy-swift-package.sh
Labels: build, iOS

#1519 Update SECURITY.md
  SECURITY.md
Labels: documentation, security

#1523 Fix asset path logo iOS
  platform/ios/src/MLNMapView.mm
Labels: iOS

#1521 Add execution_root to path built xcframework
  platform/ios/MapLibre.podspec
  platform/ios/scripts/deploy-swift-package.sh
Labels: iOS, github_actions

#1528 Metal color mode
  include/mbgl/gfx/drawable.hpp
  include/mbgl/shaders/mtl/shader_program.hpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/shaders/mtl/shader_program.cpp
Labels: metal, iOS

#1531 Topic/drawable fixes
  render-test/ios/iosTestRunner.mm
  render-test/ios/tests/Tests.m
  src/mbgl/renderer/render_orchestrator.cpp
Labels: bug

#1539 Don't pre-multiply uniform colors in fills
  include/mbgl/gfx/vertex_attribute.hpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
Labels: bug

#1534 iOS C++ Unit Tests Bazel target & running on CI
  .github/workflows/ios-ci.yml
  .github/workflows/ios-device-test.yml
  platform/default/BUILD.bazel
  platform/ios/BUILD.bazel
  platform/ios/README.md
  platform/ios/bazel/example_config.bzl
  platform/ios/test/common/BUILD.bazel
  platform/ios/test/common/iosTestRunner.mm
  platform/ios/test/core/BUILD.bazel
  platform/ios/test/core/Info.plist
  platform/ios/test/core/Tests.m
  platform/ios/test/core/iosTestRunner.h
  platform/ios/test/core/iosTestRunner.mm
  platform/ios/test/core/ios_test_runner.cpp
  render-test/ios/BUILD.bazel
  src/mbgl/util/bounding_volumes.cpp
  test/BUILD.bazel
  test/CMakeLists.txt
  test/src/mbgl/test/test.cpp
  test/storage/sync_file_source.test.cpp
  vendor/BUILD.bazel
Labels: build, iOS

#1556 Update ios-device-test.yml
  .github/workflows/ios-device-test.yml
Labels: github_actions

#1387 Android Render Test CI
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
  metrics/android-render-test-runner-metrics.json
  metrics/android-render-test-runner-style.json
  metrics/ignores/platform-android.json
  platform/android/src/test/render_test_runner.cpp
  render-test/android/.gitignore
  render-test/android/app/build.gradle
  render-test/android/app/src/main/AndroidManifest.xml
  render-test/android/build.gradle
  render-test/android/gradle.properties
Labels: build, android, github_actions

#1133 Implement slice expression
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/style/expression/expression.hpp
  include/mbgl/style/expression/slice.hpp
  metrics/integration/expression-tests/slice/array-one-index/test.json
  metrics/integration/expression-tests/slice/array-two-indexes/test.json
  metrics/integration/expression-tests/slice/invalid-inputs/test.json
  metrics/integration/expression-tests/slice/string-one-index/test.json
  metrics/integration/expression-tests/slice/string-two-indexes/test.json
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/style/expressions/ExpressionTest.kt
  src/mbgl/style/expression/index_of.cpp
  src/mbgl/style/expression/parsing_context.cpp
  src/mbgl/style/expression/slice.cpp
Labels: enhancement, android

#1582 Another fix
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#1585 Fix path render tests .apk CI
  .github/workflows/android-ci.yml
Labels: github_actions

#1586 Use release build render test app
  .github/workflows/android-ci.yml
Labels: android, github_actions

#1562 Topic/metal symbol
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/gfx/uniform_block.hpp
  include/mbgl/renderer/layer_tweaker.hpp
  include/mbgl/shaders/gl/drawable_symbol_sdf.hpp
  include/mbgl/shaders/gl/drawable_symbol_sdf_text.hpp
  include/mbgl/shaders/mtl/common.hpp
  include/mbgl/shaders/mtl/symbol_icon.hpp
  include/mbgl/shaders/mtl/symbol_sdf.hpp
  include/mbgl/shaders/mtl/symbol_text_and_icon.hpp
  include/mbgl/shaders/shader_manifest.hpp
  include/mbgl/shaders/symbol_layer_ubo.hpp
  platform/ios/src/MLNMapView+Metal.mm
  shaders/manifest.json
  src/mbgl/gfx/vertex_attribute.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/mtl/upload_pass.cpp
  src/mbgl/renderer/layer_tweaker.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.hpp
  src/mbgl/shaders/mtl/shader_program.cpp
Labels: metal

#1583 Don't re-build index buffers unnecessarily
  include/mbgl/gfx/drawable.hpp
  src/mbgl/gfx/index_vector.hpp
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_impl.hpp
Labels: enhancement, metal

#1383 Windows: update OSMesa HeadlessBackend to OpenGL ES 3.0
  platform/windows/src/headless_backend_osmesa.cpp
Labels: windows

#1591 Fix index vector constructors (drawable renderer)
  src/mbgl/gfx/index_vector.hpp
Labels: bug
