Repository maplibre/maplibre-native, pull requests merged in 2023-01, with the labels that each got.

#646 More of the SDK files converted to Kotlin
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/Polygon.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/PolygonOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraPosition.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactory.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLng.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLng.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngQuad.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngQuad.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngSpan.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngSpan.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/PackageInfo.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/ProjectedMeters.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/ProjectedMeters.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/VisibleRegion.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/VisibleRegion.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/Extensions.kt
  platform/android/MapboxGLAndroidSDKLint/src/test/java/com/mapbox/mapboxsdk/lint/KeepDetectorTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/annotation/BulkMarkerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/camera/CameraAnimatorActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/LocationFragmentActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/AnimatedSymbolLayerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/telemetry/PerformanceMeasurementActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/strings.xml
Labels: android

#655 Fixed a crash when native code was accessing the LatLngBounds class
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/LatLngBounds.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineTilePyramidRegionDefinition.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/Utils.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/AnimatedSymbolLayerActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/CollectionUpdateOnStyleChange.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GridSourceActivity.kt
Labels: android

#684 Port testapp activity unit tests to kotlin
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/EspressoTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/EspressoTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/activity.junit.ejs
  platform/android/scripts/generate-test-code.js
Labels: android

#685 Fix Ktlint Gradle intergration, add documentation about linting
  platform/android/CONTRIBUTING.md
  platform/android/Makefile
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDKLint/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/offline/OfflineDownloadTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/location/CustomizedLocationPulsingCircleActivity.kt
  platform/android/build.gradle
  platform/android/gradle/ktlint.gradle
Labels: android

#686 Port FeatureOverview to Kotlin and remove empty activity tests
  .github/workflows/android-ci-pull.yml
  .github/workflows/android-ci.yml
  platform/android/Makefile
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/activity.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/FeatureOverviewActivity.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/FeatureOverviewActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/NavUtils.java
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/utils/NavUtils.kt
  platform/android/scripts/exclude-activity-gen.json
  platform/android/scripts/generate-test-code.js
Labels: android

#692 More namespaces updated to Kotlin
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/Mapbox.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CannotAddSourceException.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CannotAddSourceException.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySource.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySourceOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/CustomGeometrySourceOptions.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonOptions.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonOptions.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeoJsonSource.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeometryTileProvider.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/GeometryTileProvider.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/ImageSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/ImageSource.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/PackageInfo.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterDemSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterDemSource.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/RasterSource.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/Source.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/TileSet.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/TileSet.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/UnknownSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/UnknownSource.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/VectorSource.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/sources/VectorSource.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/Formatted.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/Formatted.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/types/PackageInfo.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/DataDrivenStyleActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/GridSourceActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/activity/style/RealTimeGeoJsonActivity.kt
Labels: android

#700 MapLibre GL Core Build or Pull Request
  .github/workflows/core-ci.yml
Labels: android

#716 Avoid implicit casts and make code more portable
  benchmark/api/query.benchmark.cpp
  benchmark/api/render.benchmark.cpp
  benchmark/util/dtoa.benchmark.cpp
  bin/offline.cpp
  bin/render.cpp
  expression-test/expression_test_parser.cpp
  include/mbgl/util/string.hpp
  platform/default/src/mbgl/storage/http_file_source.cpp
  platform/default/src/mbgl/util/jpeg_reader.cpp
  platform/default/src/mbgl/util/png_reader.cpp
  platform/glfw/glfw_view.cpp
  platform/node/src/node_conversion.hpp
  platform/node/src/node_expression.cpp
  platform/node/src/node_feature.cpp
  platform/node/src/node_map.cpp
  render-test/metadata.hpp
  render-test/parser.cpp
  render-test/runner.cpp
Labels: cpp-core

#721 Remove Mapbox from iOS Public Docs
  platform/ios/platform/ios/CHANGELOG.md
  platform/ios/platform/ios/docs/pod-README.md
  platform/ios/platform/ios/jazzy.yml
  platform/ios/platform/ios/scripts/document.sh
  platform/ios/platform/ios/scripts/release-notes-jazzy.md.ejs
Labels: documentation, iOS

#731 Use `*_t` and `*_v` trait helpers from C++17 STL
  include/mbgl/actor/actor_ref.hpp
  include/mbgl/actor/established_actor.hpp
  include/mbgl/actor/message.hpp
  include/mbgl/math/log2.hpp
  include/mbgl/math/minmax.hpp
  include/mbgl/style/conversion/constant.hpp
  include/mbgl/style/conversion_impl.hpp
  include/mbgl/style/expression/value.hpp
  include/mbgl/util/convert.hpp
  include/mbgl/util/interpolate.hpp
  include/mbgl/util/string.hpp
  include/mbgl/util/traits.hpp
  include/mbgl/util/work_task_impl.hpp
  platform/android/MapboxGLAndroidSDK/src/cpp/CMakeLists.txt
  platform/ios/platform/darwin/darwin.xcconfig
  src/mbgl/gfx/attribute.hpp
  src/mbgl/gl/attribute.hpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/enum.hpp
  src/mbgl/style/conversion/constant.cpp
  src/mbgl/style/conversion/stringify.hpp
  src/mbgl/style/expression/compound_expression.cpp
  src/mbgl/style/expression/value.cpp
  test/map/map.test.cpp
Labels: cpp-core

#712 Android CI based on GitHub Image
  .github/workflows/android-ci-pull.yml
  .github/workflows/android-ci.yml
  .github/workflows/android-docker-base.yml
  .github/workflows/android-docker-ndk-r21b.yml
  .github/workflows/android-release.yml
  benchmark/android/app/build.gradle
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/docker/README.md
  platform/android/docker/android-base
  platform/android/docker/android-ndk-r21b
  platform/android/docker/filesystem/apt-google-cloud-sdk.tar.gz
  platform/android/docker/filesystem/apt-llvm.tar.gz
  platform/android/docker/filesystem/apt-toolchain.tar.gz
  platform/android/docker/filesystem/etc/apt/sources.list.d/google-cloud-sdk.list
  platform/android/docker/filesystem/etc/apt/sources.list.d/llvm.list
  platform/android/docker/filesystem/etc/apt/sources.list.d/toolchain.list
  platform/android/docker/filesystem/libsysconfcpus.tar.gz
  platform/android/docker/filesystem/tmp/google-cloud-sdk.gpg
  platform/android/docker/filesystem/tmp/llvm.gpg
  platform/android/docker/filesystem/tmp/toolchain.gpg
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/native-build.gradle
Labels: build, android, github_actions

#754 Use Dokka instead of Javadoc for Android API docs
  .github/workflows/gh-pages-android-api.yml
  platform/android/MapboxGLAndroidSDK/build.gradle
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: documentation, android, github_actions

#753 Kotlin testapp fixes
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/snapshotter/MapSnapshotter.kt
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/InstrumentationApplication.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/maps/MapboxTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/maps/widgets/CompassViewTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineManagerTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineUtilsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/offline/OfflineUtilsTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/storage/FileSourceMapTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/CustomGeometrySourceTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/StyleLoaderTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/style/StyleLoaderTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/utils/FontUtilsTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/utils/FontUtilsTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MapLibreApplication.kt
Labels: android

#756 Actually build core in core-build.yml
  .github/workflows/core-build.yml
Labels: github_actions
