Repository maplibre/maplibre-native, pull requests merged in 2023-06, with the labels that each got.

#1208 Update Makefile - add style-code dependency
  platform/ios/Makefile
Labels: build, iOS

#1121 Fix issues in index-of expression
  metrics/integration/expression-tests/index-of/with-from-index/test.json
  src/mbgl/style/expression/index_of.cpp
Labels: js-parity

#1193 Include excluded tests in coverage report, use xorg-dummy-driver
  .github/workflows/linux-ci.yml
  BUILD.bazel
  platform/linux/BUILD.bazel
  platform/linux/xorg/README.md
  platform/linux/xorg/startxwrapper
  platform/linux/xorg/xorg.conf
  test/BUILD.bazel
  test/storage/sync_file_source.test.cpp
Labels: build

#1218 Update Android SDK to Gradle 8
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
  platform/android/build.gradle
  platform/android/gradle.properties
  platform/android/gradle/gradle-lint.gradle
  platform/android/gradle/wrapper/gradle-wrapper.properties
Labels: android

#1192 Add render test to coverage report
  .github/workflows/linux-ci.yml
  expression-test/BUILD.bazel
  metrics/BUILD.bazel
  platform/default/BUILD.bazel
  platform/default/src/mbgl/util/async_task.cpp
  platform/default/src/mbgl/util/run_loop.cpp
  platform/default/src/mbgl/util/timer.cpp
  platform/linux/xorg/startxwrapper
  render-test/BUILD.bazel
  render-test/CMakeLists.txt
  render-test/runner.cpp
  vendor/BUILD.bazel
Labels: build, github_actions

#1220 Delete unused scripts Linux
  platform/linux/scripts/after_script.sh
  platform/linux/scripts/after_success.sh
  platform/linux/scripts/metrics.sh
  scripts/codestyle.sh
  scripts/collect-coverage.sh
  scripts/environment.js
  scripts/log_memory_benchmarks.sh
  scripts/mason.sh
  scripts/nitpick/submodule-pin.js
  scripts/publish_github_stats.js
  scripts/standalone.sh
  scripts/trigger-maps-documentation-deploy-steps.sh
  scripts/valgrind.sh
  scripts/valgrind.sup
Labels: linux

#1224 Run style-code generation when building docs
  platform/ios/Makefile
Labels: iOS

#1135 Add doc for annotation
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/android/annotation-guide.md
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/annotation/JsonApiActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_json_api.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/descriptions.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/titles.xml
Labels: documentation, android, 💰 bounty S

#1239 Fix Android code generation templates & regenerate generated sources
  platform/android/MapboxGLAndroidSDK/src/cpp/style/layers/layer.hpp.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/HillshadeLayer.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/PropertyFactory.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/layer.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/property_factory.java.ejs
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/light/light.java.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/LightTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/layer.junit.ejs
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/light.junit.ejs
Labels: android

#905 Add Windows support to MBTiles file source
  platform/android/android.cmake
  platform/default/BUILD.bazel
  platform/default/src/mbgl/storage/mbtiles_file_source.cpp
  platform/default/src/mbgl/util/filesystem.cpp
  platform/ios/ios.cmake
  platform/linux/linux.cmake
  platform/macos/macos.cmake
  platform/qt/qt.cmake
  platform/windows/windows.cmake
  src/mbgl/util/filesystem.hpp
Labels: cpp-core, windows

#1275 Fix for #1274
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/utils/BitmapUtils.java
Labels: bug, android
