Repository maplibre/maplibre-native, pull requests merged in 2023-04, with the labels that each got.

#963 Improve fling animation
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/cpp/native_map_view.cpp
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/MapGestureDetector.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/UiSettings.java
Labels: enhancement, android

#973 Fixed iOS Xcode all targets to compile and run
  platform/ios/platform/ios/Integration Tests/Camera Tests/MLNCameraTransitionTests.mm
  platform/ios/platform/ios/Integration Tests/MLNIntegrationTestCase.m
  platform/ios/platform/ios/Integration Tests/MLNNetworkConfigurationIntegrationTests.mm
  platform/ios/platform/ios/Integration Tests/Snapshotter Tests/MLNMapSnapshotterSwiftTests.swift
  platform/ios/platform/ios/Integration Tests/Snapshotter Tests/MLNMapSnapshotterTest.m
  platform/ios/platform/ios/app/MBXViewController.m
  platform/ios/platform/ios/app/insert_access_token.sh
  platform/ios/platform/ios/benchmark/insert_access_token.sh
  platform/ios/platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/platform/ios/test/MLNMapViewContentInsetTests.m
Labels: iOS

#972 Bump iOS target to 12 for `std::optional::value` error
  platform/ios/ios.cmake
  platform/ios/platform/ios/ios.xcodeproj/project.pbxproj
Labels: build, iOS, cpp-core

#980 Increase timeout Android instrumentation test
  .github/workflows/android-ci.yml
Labels: android, github_actions

#985 Fix macOS CI by running tests in graphical env
  .github/workflows/macos-ci.yml
  platform/macos/scripts/run-in-macos-gui-env.sh
Labels: macOS, github_actions

#984 iOS size test
  platform/ios/Makefile
  platform/ios/platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/scripts/size-check.sh
Labels: iOS

#987 Organize source code based on tree folders
  CMakeLists.txt
  platform/ios/ios.cmake
Labels: iOS, cpp-core

#999 Remove ninja 1.7.1 binary
  platform/linux/ninja
Labels: linux

#1040 Roll back linux metrics submit along with macos metrics.
  metrics/linux-gcc8-release/render-tests/icon-rotate/with-offset/metrics.json
Labels: cherry-pick

#1020 Remove internal build support
  CMakeLists.txt
  platform/android/android.cmake
  platform/ios/ios.cmake
  platform/linux/linux.cmake
  platform/macos/macos.cmake
  platform/qt/qt.cmake
  platform/windows/windows.cmake
Labels: cherry-pick

#1043 Wayland Support
  .github/workflows/node-ci.yml
  platform/glfw/glfw_view.cpp
  platform/linux/linux.cmake
Labels: cherry-pick

#1045 [ci] Cleanup caches when PR is closed (#1022)
  .github/workflows/cache-cleanup.yml
Labels: cherry-pick

#1044 [win] Make _USE_MATH_DEFINES definition global
  CMakeLists.txt
  expression-test/CMakeLists.txt
  platform/glfw/CMakeLists.txt
  platform/node/cmake/module.cmake
  platform/qt/qt.cmake
  platform/windows/windows.cmake
Labels: cherry-pick

#1035 Fix CameraUpdateFactory#zoomOut
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/camera/CameraUpdateFactory.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineManager.kt
Labels: android

#1028 Configure clang-tidy CI check
  .clang-tidy
  .github/workflows/core-build.yml
  .gitignore
  CMakeLists.txt
  DEVELOPING.md
  platform/darwin/src/headless_backend_cgl.mm
  platform/darwin/src/image.mm
  platform/darwin/src/local_glyph_rasterizer.mm
  platform/darwin/src/string_nsstring.mm
  platform/default/src/mbgl/storage/mbtiles_file_source.cpp
  platform/default/src/mbgl/text/bidi.cpp
  platform/ios/.clang-tidy
  src/mbgl/layermanager/layer_factory.cpp
  src/mbgl/layout/symbol_feature.hpp
  src/mbgl/map/map_impl.hpp
  src/mbgl/renderer/layers/render_location_indicator_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/paint_property_binder.hpp
  src/mbgl/style/expression/match.cpp
  src/mbgl/style/properties.hpp
  src/mbgl/text/placement.cpp
  src/mbgl/util/bounding_volumes.cpp
  src/mbgl/util/mapbox.cpp
  test/.clang-tidy
  test/CMakeLists.txt
  test/include/mbgl/test/util.hpp
  test/util/bounding_volumes.test.cpp
Labels: build

#1053 Configure clang-tidy CI check
  .clang-tidy
  .github/workflows/core-build.yml
  .gitignore
  CMakeLists.txt
  DEVELOPING.md
  platform/darwin/src/headless_backend_cgl.mm
  platform/darwin/src/image.mm
  platform/darwin/src/local_glyph_rasterizer.mm
  platform/darwin/src/string_nsstring.mm
  platform/default/src/mbgl/storage/mbtiles_file_source.cpp
  platform/default/src/mbgl/text/bidi.cpp
  platform/ios/.clang-tidy
  src/mbgl/layermanager/layer_factory.cpp
  src/mbgl/layout/symbol_feature.hpp
  src/mbgl/map/map_impl.hpp
  src/mbgl/renderer/layers/render_location_indicator_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/paint_property_binder.hpp
  src/mbgl/style/expression/match.cpp
  src/mbgl/style/properties.hpp
  src/mbgl/text/placement.cpp
  src/mbgl/util/bounding_volumes.cpp
  src/mbgl/util/mapbox.cpp
  test/.clang-tidy
  test/CMakeLists.txt
  test/include/mbgl/test/util.hpp
  test/util/bounding_volumes.test.cpp
Labels: cherry-pick

#1050 Remove Mapbox::Base::optional dependency from CMake
  CMakeLists.txt
Labels: cpp-core

#1056 Remove Mapbox::Base::optional dependency from CMake
  .github/workflows/android-ci-pull.yml
  .github/workflows/android-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/node-ci-mac.yml
  .github/workflows/node-ci.yml
  .github/workflows/qt-ci.yml
  CMakeLists.txt
Labels: cherry-pick

#1055 Linux C++ test & render tests on CI
  .github/workflows/core-build.yml
  .github/workflows/linux-ci.yml
  .github/workflows/node-ci-mac.yml
  .github/workflows/node-ci.yml
  CMakeLists.txt
  include/mbgl/platform/gl_functions.hpp
  platform/default/src/mbgl/storage/http_file_source.cpp
  platform/default/src/mbgl/util/jpeg_reader.cpp
  platform/linux/linux.cmake
  platform/macos/macos.cmake
  platform/node/DEVELOPING.md
  platform/windows/windows.cmake
  src/mbgl/text/placement.cpp
  test/src/mbgl/test/getrss.hpp
Labels: cherry-pick

#1078 Fix if-condition in workflow
  .github/workflows/upload-render-test-results.yml
Labels: github_actions

#1088 [cmake] Use MLN prefix instead of MBGL
  .github/actions/qt5-build/entrypoint.sh
  .github/actions/qt6-build/entrypoint.sh
  .github/workflows/android-ci-pull.yml
  .github/workflows/android-ci.yml
  .github/workflows/linux-ci.yml
  .github/workflows/qt-ci.yml
  BUILD.bazel
  CHANGELOG.md
  CMakeLists.txt
  CONTRIBUTING.md
  DEVELOPING.md
  benchmark/CMakeLists.txt
  expression-test/CMakeLists.txt
  platform/android/Makefile
  platform/glfw/CMakeLists.txt
  platform/ios/ios-test-runners.cmake
  platform/ios/ios.cmake
  platform/ios/scripts/standalone.cmake
  platform/linux/linux.cmake
  platform/macos/macos.cmake
  platform/node/CMakeLists.txt
  platform/node/DEVELOPING.md
  platform/node/cmake/module.cmake
  platform/qt/QMapLibreGLConfig.cmake.in
  platform/qt/README.md
  platform/qt/qt.cmake
  platform/qt/scripts/configure_Qt5_Android_static.sh
  platform/qt/scripts/configure_Qt5_Linux.sh
  platform/qt/scripts/configure_Qt5_Windows.ps1
  platform/qt/scripts/configure_Qt5_Windows_static.ps1
  platform/qt/scripts/configure_Qt5_iOS_static.sh
  platform/qt/scripts/configure_Qt5_macOS.sh
  platform/qt/scripts/configure_Qt5_macOS_static.sh
  platform/qt/scripts/configure_Qt6_Windows.ps1
  platform/qt/scripts/configure_Qt6_macOS.sh
  platform/qt/scripts/configure_Qt6_macOS_static.sh
  platform/windows/README.md
  platform/windows/windows.cmake
  test/CMakeLists.txt
  vendor/csscolorparser.cmake
  vendor/nunicode.cmake
  vendor/parsedate.cmake
  vendor/sqlite.cmake
Labels: cherry-pick
