Repository maplibre/maplibre-native, pull requests merged in 2023-02, with the labels that each got.

#733 Don't offset views rendered on top of snapshots
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/NativeMapView.java
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/utils/BitmapUtils.java
Labels: android

#642 Remove GLKView.snapshot to prevent the app from crash
  platform/ios/platform/ios/src/MGLMapView.mm
Labels: iOS

#768 Make sure Actions are run when maplibre-gl-js is changed
  .github/workflows/android-ci-pull.yml
  .github/workflows/android-ci.yml
  .github/workflows/core-build.yml
  .github/workflows/ios-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/node-ci.yml
  .github/workflows/qt-ci.yml
Labels: github_actions

#674 Enable CPP unit test on macOS CI
  .github/workflows/macos-ci.yml
  expression-test/main.cpp
  package.json
  platform/ios/CMakeLists.txt
  platform/ios/platform/default/src/mbgl/render-test/main.cpp
  platform/macos/macos.cmake
  test/fixtures/.gitignore
  test/fixtures/local_glyphs/ping_fang/expected.png
  test/fixtures/local_glyphs/ping_fang_semibold/expected.png
  test/src/mbgl/test/http_server.cpp
  test/src/mbgl/test/test.cpp
  test/storage/resource.test.cpp
  test/storage/server.js
  test/storage/with-server.js
  test/tile/tile_coordinate.test.cpp
Labels: macOS, cpp-core

#786 Improve node docs with available platforms
  platform/node/README.md
Labels: node

#802 Update DEVELOPING.md for macOS instructions Android
  platform/android/DEVELOPING.md
Labels: documentation, android

#806 Use C++17 with Bazel
  bazel/flags.bzl
Labels: build

#844 Remove files generated by `platform/ios/platform/darwin/scripts/generate-style-code.js`
  platform/ios/.gitignore
  platform/ios/Makefile
  platform/ios/platform/darwin/src/MGLBackgroundStyleLayer.h
  platform/ios/platform/darwin/src/MGLBackgroundStyleLayer.mm
  platform/ios/platform/darwin/src/MGLBackgroundStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLCircleStyleLayer.h
  platform/ios/platform/darwin/src/MGLCircleStyleLayer.mm
  platform/ios/platform/darwin/src/MGLCircleStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLFillExtrusionStyleLayer.h
  platform/ios/platform/darwin/src/MGLFillExtrusionStyleLayer.mm
  platform/ios/platform/darwin/src/MGLFillExtrusionStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLFillStyleLayer.h
  platform/ios/platform/darwin/src/MGLFillStyleLayer.mm
  platform/ios/platform/darwin/src/MGLFillStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLHeatmapStyleLayer.h
  platform/ios/platform/darwin/src/MGLHeatmapStyleLayer.mm
  platform/ios/platform/darwin/src/MGLHeatmapStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLHillshadeStyleLayer.h
  platform/ios/platform/darwin/src/MGLHillshadeStyleLayer.mm
  platform/ios/platform/darwin/src/MGLHillshadeStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLLight.h
  platform/ios/platform/darwin/src/MGLLight.mm
  platform/ios/platform/darwin/src/MGLLineStyleLayer.h
  platform/ios/platform/darwin/src/MGLLineStyleLayer.mm
  platform/ios/platform/darwin/src/MGLLineStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLRasterStyleLayer.h
  platform/ios/platform/darwin/src/MGLRasterStyleLayer.mm
  platform/ios/platform/darwin/src/MGLRasterStyleLayer_Private.h
  platform/ios/platform/darwin/src/MGLSymbolStyleLayer.h
  platform/ios/platform/darwin/src/MGLSymbolStyleLayer.mm
  platform/ios/platform/darwin/src/MGLSymbolStyleLayer_Private.h
  platform/ios/platform/darwin/test/MGLBackgroundStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLCircleStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLFillExtrusionStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLFillStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLHeatmapStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLHillshadeStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLLightTest.mm
  platform/ios/platform/darwin/test/MGLLineStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLRasterStyleLayerTests.mm
  platform/ios/platform/darwin/test/MGLStyleLayerTests.mm.ejs
  platform/ios/platform/darwin/test/MGLSymbolStyleLayerTests.mm
  platform/ios/platform/ios/docs/guides/For Style Authors.md
  platform/ios/platform/ios/docs/guides/Migrating to Expressions.md
  platform/ios/platform/ios/docs/guides/Tile URL Templates.md
  platform/ios/platform/macos/docs/guides/For Style Authors.md
  platform/ios/platform/macos/docs/guides/Migrating to Expressions.md
  platform/ios/platform/macos/docs/guides/Tile URL Templates.md
  scripts/generate-style-code.js
  scripts/style-code.js
Labels: iOS
