Repository maplibre/maplibre-native, pull requests merged in 2023-07, with the labels that each got.

#1255 Android Annotations proposal
  design-proposals/2023-06-17-android-annotations.md
Labels: android, design-proposal

#1308 Make reusable action for downloading workflow run artifact
  .github/actions/download-workflow-run-artifact/action.yml
  .github/workflows/pr-render-test-result.yml
Labels: github_actions

#1311 Skip flaky test `MainResourceLoader.CachedResourceLowPriority`
  test/BUILD.bazel
  test/storage/main_resource_loader.test.cpp
Labels: cpp-core

#1211 Refresh Debian 11 build instructions
  platform/linux/README.md
Labels: documentation, linux

#1320 fix use of the wrong builder, simplify
  src/mbgl/renderer/layers/render_fill_layer.cpp
Labels: bug

#1321 Render drawables in order
  include/mbgl/gfx/drawable.hpp
  include/mbgl/renderer/layer_group.hpp
  src/mbgl/renderer/layer_group.cpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.hpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/tile_layer_group.cpp
Labels: bug

#1291 Bazel Build config iOS Tests
  .github/workflows/ios-ci.yml
  platform/ios/BUILD.bazel
  platform/ios/platform/darwin/test/BUILD.bazel
  platform/ios/platform/darwin/test/MLNAttributionInfoTests.m
  platform/ios/platform/darwin/test/MLNClockDirectionFormatterTests.m
  platform/ios/platform/darwin/test/MLNCodingTests.mm
  platform/ios/platform/darwin/test/MLNCompassDirectionFormatterTests.m
  platform/ios/platform/darwin/test/MLNComputedShapeSourceTests.m
  platform/ios/platform/darwin/test/MLNCoordinateFormatterTests.m
  platform/ios/platform/darwin/test/MLNDistanceFormatterTests.m
  platform/ios/platform/darwin/test/MLNDocumentationExampleTests.swift
  platform/ios/platform/darwin/test/MLNDocumentationGuideTests.swift
  platform/ios/platform/darwin/test/MLNFeatureTests.mm
  platform/ios/platform/darwin/test/MLNGeometryTests.mm
  platform/ios/platform/darwin/test/MLNHeatmapColorTests.mm
  platform/ios/platform/darwin/test/MLNImageSourceTests.m
  platform/ios/platform/darwin/test/MLNImageTests.mm
  platform/ios/platform/darwin/test/MLNLightTest.mm.ejs
  platform/ios/platform/darwin/test/MLNMapCameraTests.m
  platform/ios/platform/darwin/test/MLNMapProjectionTests.m
  platform/ios/platform/darwin/test/MLNMapSnapshotterTests.m
  platform/ios/platform/darwin/test/MLNMapViewTests.m
  platform/ios/platform/darwin/test/MLNNSStringAdditionsTests.m
  platform/ios/platform/darwin/test/MLNOfflinePackTests.mm
  platform/ios/platform/darwin/test/MLNOfflineRegionTests.m
  platform/ios/platform/darwin/test/MLNOfflineStorageTests.mm
  platform/ios/platform/darwin/test/MLNPredicateTests.mm
  platform/ios/platform/darwin/test/MLNRendererConfigurationTests.m
  platform/ios/platform/darwin/test/MLNResourceTests.mm
  platform/ios/platform/darwin/test/MLNShapeSourceTests.mm
  platform/ios/platform/darwin/test/MLNSourceQueryTests.m
  platform/ios/platform/darwin/test/MLNStyleLayerTests.h
  platform/ios/platform/darwin/test/MLNStyleTests.mm
  platform/ios/platform/darwin/test/MLNTileSetTests.mm
  platform/ios/platform/darwin/test/MLNVersionNumber.m
  platform/ios/platform/ios/iosapp-UITests/BUILD.bazel
  platform/ios/platform/ios/iosapp-UITests/Info.plist
  platform/ios/platform/ios/iosapp-UITests/XCTestCase+Extensions.swift
  platform/ios/platform/ios/iosapp-UITests/iosapp_TestPlan.xctestplan
  platform/ios/platform/ios/iosapp-UITests/iosapp_UITests.swift
  platform/ios/platform/ios/test/BUILD.bazel
  platform/ios/platform/ios/test/MLNAnnotationViewIntegrationTests.swift
  platform/ios/platform/ios/test/MLNAnnotationViewTests.m
  platform/ios/platform/ios/test/MLNMapAccessibilityElementTests.m
  platform/ios/platform/ios/test/MLNMapViewCompassViewTests.mm
  platform/ios/platform/ios/test/MLNMapViewContentInsetTests.m
  platform/ios/platform/ios/test/MLNMapViewDelegateIntegrationTests.swift
  platform/ios/platform/ios/test/MLNMapViewDirectionTests.mm
  platform/ios/platform/ios/test/MLNMapViewGestureRecognizerTests.mm
  platform/ios/platform/ios/test/MLNMapViewPitchTests.m
  platform/ios/platform/ios/test/MLNMapViewScaleBarTests.m
  platform/ios/platform/ios/test/MLNMapViewZoomTests.mm
  platform/ios/platform/ios/test/MLNNetworkConfigurationTests.m
Labels: iOS, github_actions

#1351 Fix failing test
  platform/ios/platform/darwin/test/MLNStyleLayerTests.m
Labels: iOS

#1345 Fix 3D stencil mode incrementing for each drawable
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/layer_group_gl.cpp
Labels: bug

#1359 Bug/fill attributes
  include/mbgl/gfx/drawable.hpp
  src/mbgl/gfx/drawable_builder.cpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/texture2d.cpp
  src/mbgl/layermanager/fill_layer_factory.cpp
  src/mbgl/renderer/bucket.hpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/renderer_impl.cpp
Labels: bug

#1369 Make stencil mode selection more explicit to fix 3D mode with no stenciling
  src/mbgl/gl/layer_group_gl.cpp
Labels: bug

#1384 Fix Linux render test CI failure showing up as pass
  .github/workflows/linux-ci.yml
  .github/workflows/pr-render-test-result.yml
Labels: linux, github_actions

#1390 Check YAML pre commit
  .github/actions/download-workflow-run-artifact/action.yml
  .pre-commit-config.yaml
Labels: github_actions

#1398 Workflows fixes and improvements
  .github/actions/download-workflow-run-artifact/action.yml
  .github/workflows/ios-ci.yml
  .github/workflows/ios-render-test.yml
  .github/workflows/linux-ci.yml
  .github/workflows/pr-render-test-result.yml
  .github/workflows/pr-size-test-result.yml
Labels: github_actions

#1356 Avoid running privileged workflows on forks
  .github/workflows/android-ci.yml
  .github/workflows/ios-render-test.yml
Labels: github_actions

#1407 Change upload creation iOS render test
  .github/workflows/ios-render-test.yml
Labels: iOS, github_actions

#1406 Disable location-indicator query-test on iOS
  metrics/ignores/platform-ios.json
  render-test/ios/iosTestRunner.mm
  render-test/render_test.cpp
Labels: build, iOS

#1408 Install actionlint (GitHub Action workflow linter)
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
  .github/workflows/gh-pages-ios-api.yml
  .github/workflows/ios-pre-release.yml
  .github/workflows/ios-render-test.yml
  .github/workflows/macos-ci.yml
  .github/workflows/node-ci-mac.yml
  .pre-commit-config.yaml
Labels: github_actions

#1409 ios-render-test: ensure upload status is SUCCEEDED
  .github/workflows/ios-render-test.yml
Labels: iOS, github_actions

#1368 Linux CI: Retry failed XOpenDisplay calls and only log errors in coverage run
  .github/workflows/linux-ci.yml
  platform/linux/BUILD.bazel
  platform/linux/linux.cmake
  platform/linux/src/headless_backend_glx.cpp
  test/BUILD.bazel
  test/storage/main_resource_loader.test.cpp
Labels: github_actions
