Repository maplibre/maplibre-native, pull requests merged in 2023-05, with the labels that each got.

#1111 Update paths from maplibre-gl-native to maplibre-native
  .github/workflows/node-ci-mac.yml
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
  .github/workflows/qt-ci.yml
  CMakeLists.txt
  README.md
  design-proposals/2022-10-27-rendering-modularization.md
  docs/doxygen/MAINPAGE.md
  docs/doxygen/footer.html
  docs/mdbook/src/introduction.md
  platform/android/DEVELOPING.md
  platform/android/gradle/artifact-settings.gradle
  platform/ios/CHANGELOG.md
  platform/ios/platform/ios/INSTALL.md
  platform/ios/platform/ios/README.md
  platform/ios/platform/ios/docs/pod-README.md
  platform/ios/platform/ios/jazzy.yml
  platform/ios/platform/ios/scripts/deploy-packages.sh
  platform/ios/platform/ios/scripts/deploy-swift-package.sh
  platform/ios/platform/ios/scripts/publish.sh
  platform/ios/platform/ios/scripts/update-swift-package.sh
  platform/ios/platform/macos/INSTALL.md
  platform/ios/platform/macos/scripts/deploy-packages.sh
  platform/linux/README.md
  platform/qt/README.md
  platform/qt/scripts/configure_Qt5_Android_static.sh
  platform/qt/scripts/configure_Qt5_Linux.sh
  platform/qt/scripts/configure_Qt5_iOS_static.sh
  platform/qt/scripts/configure_Qt5_macOS.sh
  platform/qt/scripts/configure_Qt5_macOS_static.sh
  platform/qt/scripts/configure_Qt6_macOS.sh
  platform/qt/scripts/configure_Qt6_macOS_static.sh
  platform/windows/README.md
  qt_attribution.json
Labels: cherry-pick

#1113 Implement `index-of` expression
  CMakeLists.txt
  include/mbgl/style/expression/expression.hpp
  include/mbgl/style/expression/index_of.hpp
  metrics/integration/expression-tests/index-of/assert-array/test.json
  metrics/integration/expression-tests/index-of/assert-string/test.json
  metrics/integration/expression-tests/index-of/basic-array/test.json
  metrics/integration/expression-tests/index-of/basic-string/test.json
  metrics/integration/expression-tests/index-of/invalid-haystack/test.json
  metrics/integration/expression-tests/index-of/invalid-needle/test.json
  metrics/integration/expression-tests/index-of/with-from-index/test.json
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.kt
  src/mbgl/style/expression/index_of.cpp
  src/mbgl/style/expression/parsing_context.cpp
Labels: enhancement, android, js-parity, cpp-core

#1122 Run iOS size test on CI through Bazel
  .github/workflows/ios-ci.yml
  .github/workflows/pr-render-test-result.yml
  .github/workflows/pr-size-test-result.yml
  BUILD.bazel
  bazel/flags.bzl
  platform/ios/.gitignore
  platform/ios/BUILD.bazel
  platform/ios/bazel/macros.bzl
  src/mbgl/util/version.cpp
Labels: build, iOS, github_actions

#1139 Linux tests + coverage report with Bazel
  .bazelrc
  .bazelversion
  .github/workflows/ios-ci.yml
  .github/workflows/linux-ci.yml
  BUILD.bazel
  bazel/flags.bzl
  platform/default/BUILD.bazel
  platform/linux/BUILD.bazel
  src/mbgl/util/grid_index.cpp
  src/mbgl/util/grid_index.hpp
  test/BUILD.bazel
  test/storage/sync_file_source.test.cpp
  test/util/grid_index.test.cpp
  vendor/BUILD.bazel
Labels: build

#1146 Docs setting up Xcode project with Bazel, fix assets example app Bazel
  platform/ios/BUILD.bazel
  platform/ios/README.md
  platform/ios/platform/ios/README.md
Labels: documentation, iOS

#1157 Add favicon mdbook docs
  docs/mdbook/theme/favicon.png
Labels: documentation

#1188 Topic/vao per segment
  CMakeLists.txt
  include/mbgl/gfx/drawable.hpp
  include/mbgl/gfx/drawable_builder.hpp
  include/mbgl/gfx/drawable_impl.hpp
  include/mbgl/gl/drawable_gl.hpp
  include/mbgl/gl/drawable_gl_builder.hpp
  src/mbgl/gfx/attribute.hpp
  src/mbgl/gfx/context.hpp
  src/mbgl/gfx/draw_mode.hpp
  src/mbgl/gfx/drawable_builder.cpp
  src/mbgl/gfx/drawable_builder_impl.hpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/drawable_gl_builder.cpp
  src/mbgl/gl/drawable_gl_impl.hpp
  src/mbgl/gl/layer_group_gl.cpp
  src/mbgl/gl/upload_pass.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
Labels: bug

#1190 Consolidate android-ci-pull.yml and android-ci.yml
  .github/workflows/android-ci-pull.yml
  .github/workflows/android-ci.yml
Labels: android, github_actions
