Repository maplibre/maplibre-native, pull requests merged in 2023-12, with the labels that each got.

#1850 Benchmark activity Android
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/benchmark/BenchmarkActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/layout/activity_benchmark.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/strings.xml
Labels: android, ⚡ performance

#1903 Metal permutations
  include/mbgl/gfx/shader_group.hpp
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/mtl/command_encoder.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/mtl/render_pass.hpp
  include/mbgl/shaders/gl/shader_group_gl.hpp
  include/mbgl/shaders/mtl/background.hpp
  include/mbgl/shaders/mtl/background_pattern.hpp
  include/mbgl/shaders/mtl/circle.hpp
  include/mbgl/shaders/mtl/clipping_mask.hpp
  include/mbgl/shaders/mtl/collision_box.hpp
  include/mbgl/shaders/mtl/collision_circle.hpp
  include/mbgl/shaders/mtl/debug.hpp
  include/mbgl/shaders/mtl/fill.hpp
  include/mbgl/shaders/mtl/fill_extrusion.hpp
  include/mbgl/shaders/mtl/fill_extrusion_pattern.hpp
  include/mbgl/shaders/mtl/heatmap.hpp
  include/mbgl/shaders/mtl/heatmap_texture.hpp
  include/mbgl/shaders/mtl/hillshade.hpp
  include/mbgl/shaders/mtl/hillshade_prepare.hpp
  include/mbgl/shaders/mtl/line.hpp
  include/mbgl/shaders/mtl/line_gradient.hpp
  include/mbgl/shaders/mtl/raster.hpp
  include/mbgl/shaders/mtl/shader_group.hpp
  include/mbgl/shaders/mtl/shader_program.hpp
  include/mbgl/shaders/mtl/symbol_icon.hpp
  include/mbgl/shaders/mtl/symbol_sdf.hpp
  include/mbgl/shaders/mtl/symbol_text_and_icon.hpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/shaders/mtl/fill.cpp
  src/mbgl/shaders/mtl/line.cpp
  src/mbgl/shaders/mtl/shader_program.cpp
  src/mbgl/shaders/mtl/symbol_sdf.cpp
  src/mbgl/shaders/mtl/symbol_text_and_icon.cpp
  test/api/custom_layer.test.cpp
  test/gl/bucket.test.cpp
  test/gl/context.test.cpp
  test/gl/enum.test.cpp
  test/gl/gl_functions.test.cpp
  test/gl/object.test.cpp
  test/renderer/backend_scope.test.cpp
  test/util/hash.test.cpp
  test/util/offscreen_texture.test.cpp
Labels: enhancement, metal, ⚡ performance

#1918 Use 64-bit hashes regardless of platform
  include/mbgl/gfx/shader_group.hpp
  include/mbgl/shaders/gl/shader_group_gl.hpp
  include/mbgl/shaders/mtl/shader_group.hpp
  src/mbgl/util/hash.hpp
Labels: cpp-core

#1925 Android Benchmark on AWS Device Farm
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-device-test.yml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/benchmark/BenchmarkActivity.kt
Labels: github_actions, ⚡ performance

#1927 Small CI fixes Android
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-ci.yml
Labels: github_actions

#1930 Remove slashes from AWS Device Farm uploads
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
Labels: github_actions

#1932 Run benchmark on request
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
  CONTRIBUTING.md
Labels: github_actions

#1933 Add missing quotes
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-device-test.yml
Labels: github_actions

#1934 Add explicit frame capture
  include/mbgl/mtl/mtl_fwd.hpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/renderer/renderer_impl.hpp
Labels: metal, ⚡ performance

#1947 [bazel] Switch to bzlmod
  .bazelrc
  .bazelversion
  MODULE.bazel
  WORKSPACE
Labels: build

#1951 Use custom test spec for benchmark on AWS Device Farm
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-device-test.yml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/AndroidManifest.xml
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/benchmark/BenchmarkActivity.kt
Labels: github_actions

#1946 Line layer UBO improvements
  include/mbgl/shaders/gl/drawable_line.hpp
  include/mbgl/shaders/gl/drawable_line_gradient.hpp
  include/mbgl/shaders/gl/drawable_line_pattern.hpp
  include/mbgl/shaders/gl/drawable_line_sdf.hpp
  include/mbgl/shaders/line_layer_ubo.hpp
  include/mbgl/shaders/mtl/common.hpp
  include/mbgl/shaders/mtl/line.hpp
  include/mbgl/shaders/mtl/line_gradient.hpp
  shaders/drawable.line.fragment.glsl
  shaders/drawable.line.vertex.glsl
  shaders/drawable.line_gradient.fragment.glsl
  shaders/drawable.line_gradient.vertex.glsl
  shaders/drawable.line_pattern.fragment.glsl
  shaders/drawable.line_pattern.vertex.glsl
  shaders/drawable.line_sdf.fragment.glsl
  shaders/drawable.line_sdf.vertex.glsl
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.hpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/shaders/mtl/line.cpp
  src/mbgl/shaders/mtl/line_gradient.cpp
  src/mbgl/style/layers/custom_drawable_layer.cpp
Labels: ⚡ performance

#1911 OpenGL: Monotonic UBO allocator
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/gl/buffer_allocator.hpp
  include/mbgl/gl/uniform_buffer_gl.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/shaders/gl/drawable_fill_outline.hpp
  src/mbgl/gfx/context.hpp
  src/mbgl/gl/buffer_allocator.cpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/context.hpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/fence.cpp
  src/mbgl/gl/fence.hpp
  src/mbgl/gl/uniform_block_gl.cpp
  src/mbgl/gl/uniform_buffer_gl.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/renderer/renderer_impl.cpp
Labels: ⚡ performance

#1952 Convert java to kotlin (androidTest).
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/maps/IconManagerResolver.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/maps/IconManagerResolver.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreMapTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreMapTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreTest.java
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreTest.kt
Labels: android

#1953 Fix android-device-test.yml
  .github/workflows/android-device-test.yml
Labels: github_actions

#1926 convert java to kotlin (10 last files within 'AndroidSDK..test')
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/MapLibreInjector.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/MapLibreInjector.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/MapLibreTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/MapLibreTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/AndroidLocationEngineImplTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/AndroidLocationEngineImplTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineProxyTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineProxyTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineRequestTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineRequestTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineResultTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineResultTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/LocationEngineTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/MapLibreFusedLocationEngineImplAdditionalTest2.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/MapLibreFusedLocationEngineImplAdditionalTest2.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/MapLibreFusedLocationEngineImplTest.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/engine/MapLibreFusedLocationEngineImplTest.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/utils/MockParcel.java
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/utils/MockParcel.kt
Labels: android

#1966 Add Bloaty iOS size test for PRs
  .github/workflows/ios-ci.yml
  .github/workflows/pr-bloaty-ios.yml
Labels: iOS, github_actions

#1965 Update Linux build instructions
  platform/linux/Dockerfile
  platform/linux/README.md
Labels: documentation, build, linux

#1968 Add id-token permissions to iOS workflow
  .github/workflows/ios-ci.yml
Labels: github_actions

#1971 contents: write for ios-ci
  .github/workflows/ios-ci.yml
Labels: github_actions

#1970 Fix dangling reference `file_source.cpp` Android
  platform/android/MapboxGLAndroidSDK/src/cpp/file_source.cpp
Labels: bug, android

#1967 Sunset non-Metal iOS builds on CI
  .github/workflows/ios-ci.yml
  .github/workflows/pr-bloaty-ios.yml
  platform/darwin/test/MLNDocumentationExampleTests.swift
  platform/darwin/test/MLNMapSnapshotterTests.m
Labels: metal, iOS, github_actions

#1976 Use debug build for Android UI tests (CI)
  .github/workflows/android-ci.yml
  platform/android/MapboxGLAndroidSDKTestApp/build.gradle
Labels: build, android, github_actions
