Repository maplibre/maplibre-native, pull requests merged in 2024-04, with the labels that each got.

#2220 [qt/cpp-core:opengl-2] Fix Parser::parseLayers id access segfault
  src/mbgl/style/parser.cpp
Labels: Qt

#2172 Remove `MBGL_UNUSED`
  platform/default/src/mbgl/util/compression.cpp
  test/storage/offline_database.test.cpp
Labels: cpp-core

#2229 Move Gradle dependencies to Gradle version catalog
  benchmark/android/.gitignore
  platform/android/MapLibreAndroid/build.gradle
  platform/android/MapLibreAndroidLint/build.gradle
  platform/android/MapLibreAndroidTestApp/build.gradle
  platform/android/build.gradle
  platform/android/gradle/android-nitpick.gradle
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/libs.versions.toml
  test/android/.gitignore
Labels: build, android

#2231 Android: Allow custom ModuleProvider implementations in the SDK
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/MapLibre.java
  platform/android/MapLibreAndroidTestApp/src/main/AndroidManifest.xml
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/storage/CustomHttpRequestImpl.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/utils/ExampleCustomModuleProviderImpl.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/utils/ExampleHttpRequestImpl.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/values/descriptions.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/titles.xml
Labels: android

#2234 Add debug symbols to iOS GitHub release
  .github/workflows/ios-ci.yml
Labels: build, iOS, github_actions

#2240 Configure AWS Credentials in iOS release workflow
  .github/workflows/ios-ci.yml
  platform/ios/VERSION
Labels: github_actions

#2246 Update npm packages
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  .github/changed-files.yml
  .github/workflows/upload-coverage.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

#2249 Fix package.json
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  .github/workflows/node-ci.yml
  package-lock.json
  platform/android/package-lock.json
  pnpm-lock.yaml
Labels: github_actions

#2254 Use NS::TransferPtr instead of NS::RetainPtr
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
  src/mbgl/mtl/texture2d.cpp
Labels: bug, metal

#2257 Additional leaks
  src/mbgl/mtl/context.cpp
Labels: bug, metal

#2258 Fix test app issues, add tests
  platform/darwin/src/MLNComputedShapeSource.mm
  platform/ios/app/MBXViewController.mm
  platform/ios/bazel/files.bzl
  platform/ios/iosapp-UITests/BUILD.bazel
  platform/ios/iosapp-UITests/iosapp_UITests.swift
  platform/ios/src/MLNMapView_Private.h
Labels: bug, enhancement, iOS

#2265 Update Android application ID to match expected value
  platform/android/MapLibreAndroidTestApp/build.gradle
Labels: bug, android

#2267 Remove oudated tests documentation, Javadoc Gradle config
  platform/android/Makefile
  platform/android/MapLibreAndroid/build.gradle
  platform/android/TESTS.md
  platform/android/gradle/gradle-javadoc.gradle
Labels: documentation, android

#2263 Fix node windows workflow
  .github/workflows/node-ci.yml
Labels: node, github_actions, windows

#2270 Android Studio icon and name
  platform/android/.idea/icon.svg
  platform/android/settings.gradle
Labels: android

#2268 Use Gradle version catalog for plugins
  .github/dependabot.yml
  platform/android/MapLibreAndroid/build.gradle
  platform/android/MapLibreAndroidLint/build.gradle
  platform/android/MapLibreAndroidTestApp/build.gradle
  platform/android/build.gradle
  platform/android/gradle/libs.versions.toml
Labels: dependencies, android

#2294 Add debug symbols to Android release
  .github/workflows/android-release.yml
  platform/android/Makefile
  platform/android/MapLibreAndroid/gradle.properties
Labels: build, android, github_actions

#2298 Fix in Android Makefile when build dir does not exist
  platform/android/Makefile
Labels: android, github_actions

#2293 iOS - Allow changing of User-Agent
  platform/darwin/src/http_file_source.mm
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#2288 Fix issue that marks iOS releases as pre-releases
  .github/workflows/ios-ci.yml
  .github/workflows/ios-pre-release.yml
Labels: iOS, github_actions

#2301 Store Android benchmark results on S3
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-device-test.yml
  .github/workflows/typecheck-scripts.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/aws-device-farm/download-benchmark-results.mjs
  scripts/jsconfig.json
Labels: android, github_actions

#2302 Small Fixes Android Device Test
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#2307 Revert codecov upgrade
  .github/dependabot.yml
  .github/workflows/upload-coverage.yml
Labels: github_actions

#2309 Run Android Instrumentation Tests as part of PR workflow
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
  .github/workflows/android-device-test/upload-external-data.sh
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/benchmark/BenchmarkActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/utils/ApiKeyUtils.kt
Labels: android, github_actions

#2311 Gradle Improvements
  .github/workflows/android-device-test.yml
  benchmark/android/app/build.gradle
  platform/android/MapLibreAndroid/build.gradle
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/annotations/MarkerTest.kt
  platform/android/MapLibreAndroidLint/build.gradle
  platform/android/MapLibreAndroidTestApp/build.gradle
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/benchmark/BenchmarkActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/maplayout/OverlayMapActivity.kt
  platform/android/build.gradle
  platform/android/gradle/dependencies.gradle
  platform/android/gradle/libs.versions.toml
  platform/android/gradle/native-build.gradle
  render-test/android/app/build.gradle
Labels: android

#2314 Replace mapboxMap with maplibreMap
  docs/mdbook/src/android/annotation-guide.md
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/annotations/Annotation.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/annotations/InfoWindow.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/annotations/Marker.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/annotations/Polygon.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/annotations/Polyline.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/camera/CameraUpdateFactory.kt
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/constants/MapLibreConstants.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/exceptions/MapLibreConfigurationException.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/AnnotationManager.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapFragment.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapLibreMap.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapLibreMapOptions.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapView.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MarkerContainer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/OnMapReadyCallback.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/PolygonContainer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/PolylineContainer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/Style.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/SupportMapFragment.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/UiSettings.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/offline/OfflineRegionDefinition.kt
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/expressions/Expression.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/layers/CustomLayer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/sources/Source.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/utils/MapFragmentUtils.java
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/annotations/AnnotationTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreMapTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/TransformTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/annotations/MarkerTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/annotations/PolygonTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/annotations/PolylineTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/camera/CameraTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/geometry/GeoJsonConversionTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/geometry/LatLngBoundsTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/maps/widgets/CompassViewTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/CustomGeometrySourceTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/ExpressionTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/GeoJsonSourceTests.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/ImageTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/RuntimeStyleTests.java
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/annotation/JsonApiActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/fragment/MapFragmentActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/fragment/NestedViewPagerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/fragment/SupportMapFragmentActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/infowindow/DynamicInfoWindowAdapterActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/maplayout/DebugModeActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/maplayout/GLSurfaceRecyclerViewActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/DraggableMarkerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/StyleFileActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/SymbolGeneratorActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/textureview/TextureViewDebugModeActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/turf/PhysicalUnitCircleActivity.kt
Labels: android

#2312 Update clang-format (pre-commit)
  .pre-commit-config.yaml
  include/mbgl/gl/buffer_allocator.hpp
  include/mbgl/util/scoped.hpp
  include/mbgl/util/tileset.hpp
  platform/android/MapLibreAndroid/src/cpp/http_file_source.cpp
  platform/android/MapLibreAndroid/src/cpp/snapshotter/map_snapshot.hpp
  platform/node/src/node_expression.hpp
  src/mbgl/annotation/annotation_manager.cpp
  test/actor/actor.test.cpp
Labels: cpp-core

#2330 Fix extra collator dependency
  src/mbgl/style/expression/collator_expression.cpp
  test/style/expression/dependency.test.cpp
Labels: bug

#2280 Sanitizer fixes
  .github/workflows/ios-ci.yml
  include/mbgl/mtl/mtl_fwd.hpp
  include/mbgl/style/layers/mtl/custom_layer_render_parameters.hpp
  platform/default/src/mbgl/mtl/headless_backend.cpp
  platform/glfw/metal_backend.mm
  platform/ios/BUILD.bazel
  platform/ios/app/MBXAppDelegate.m
  platform/ios/resources/metal-cpp-ignores.txt
  src/mbgl/geometry/feature_index.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/render_pass.cpp
  src/mbgl/programs/line_program.hpp
  src/mbgl/style/layers/custom_drawable_layer.cpp
  src/mbgl/util/thread_pool.cpp
Labels: bug, iOS

#2321 Android Instrumentation Tests Improvements
  .github/workflows/android-device-test.yml
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/MapLibre.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/integration/ViewPagerScrollTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/MapGestureDetectorTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/offline/OfflineDownloadTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/snapshotter/MapSnapshotterTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/geometry/LatLngBoundsTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/maps/StyleLoadTest.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/espresso/DeviceIndependentTestActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/espresso/PixelTestActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/offline/OfflineActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/GridSourceActivity.kt
  scripts/aws-device-farm/device-farm-client.mjs
  scripts/aws-device-farm/download-benchmark-results.mjs
  scripts/aws-device-farm/log-test-spec-output.mjs
  scripts/aws-device-farm/s3-client.mjs
Labels: android

#2341 Add `id-token` permission to `android-device-test.yml`
  .github/workflows/android-device-test.yml
Labels: github_actions

#2334 Synchronous rendering on Metal when annotation views are visible
  platform/ios/src/MLNMapView+Impl.h
  platform/ios/src/MLNMapView+Metal.h
  platform/ios/src/MLNMapView+Metal.mm
  platform/ios/src/MLNMapView.mm
Labels: bug, metal

#2347 Update changelog 10.3.1
  platform/android/CHANGELOG.md
Labels: android
