Repository maplibre/maplibre-native, pull requests merged in 2024-10, with the labels that each got.

#2884 Fix Mesa3D download file names
  platform/windows/Get-VendorPackages.ps1
Labels: build, windows

#2846 Try using MoltenVK on macOS
  include/mbgl/vulkan/renderer_backend.hpp
  platform/glfw/glfw_view.cpp
  platform/macos/macos.cmake
  src/mbgl/vulkan/renderer_backend.cpp
Labels: macOS, Vulkan

#2887 Make sure `Scheduler::GetCurrent()` cannot return a nullptr
  include/mbgl/actor/scheduler.hpp
  platform/android/MapLibreAndroid/src/cpp/jni_native.cpp
  platform/darwin/src/run_loop.cpp
  platform/windows/windows.cmake
  src/mbgl/actor/scheduler.cpp
Labels: bug, android

#2906 Vulkan xcode build
  platform/glfw/glfw_view.cpp
  platform/glfw/glfw_view.hpp
  src/mbgl/shaders/vulkan/shader_program.cpp
  src/mbgl/vulkan/context.cpp
  src/mbgl/vulkan/drawable.cpp
  src/mbgl/vulkan/texture2d.cpp
Labels: macOS, Vulkan

#2899 Vulkan build tweaks
  bazel/core.bzl
  include/mbgl/shaders/shader_manifest.hpp
  shaders/generate_shader_code.mjs
  src/mbgl/renderer/renderer_impl.cpp
Labels: build, android, Vulkan

#2924 Release MapLibre Native iOS 6.7.1
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#2922 Add location indicator to bazel listing
  bazel/core.bzl
Labels: build

#2937 Make sure `Scheduler::GetCurrent()` cannot return a nullptr
  include/mbgl/actor/scheduler.hpp
  platform/android/MapboxGLAndroidSDK/src/cpp/jni_native.cpp
  platform/darwin/src/run_loop.cpp
  src/mbgl/actor/scheduler.cpp
Labels: bug

#2948 Update NAN to 2.22.0
  platform/node/CMakeLists.txt
Labels: build, node

#2949 Fix descriptor pool fragmentation
  include/mbgl/vulkan/context.hpp
  include/mbgl/vulkan/descriptor_set.hpp
  src/mbgl/vulkan/buffer_resource.cpp
  src/mbgl/vulkan/context.cpp
  src/mbgl/vulkan/descriptor_set.cpp
  src/mbgl/vulkan/texture2d.cpp
Labels: Vulkan

#2954 Fix vulkan validation layer sourceSet debug build
  platform/android/MapLibreAndroid/build.gradle.kts
  platform/android/buildSrc/src/main/kotlin/DownloadVulkanValidationPlugin.kt
Labels: build, android, Vulkan

#2969 Make Get-VendorPackages.ps1 more flexible and less error-prone
  platform/windows/Get-VendorPackages.ps1
Labels: windows

#2974 Add additional sprite to sprite loader test
  test/fixtures/resources/versatiles-sprite/sprite.json
  test/fixtures/resources/versatiles-sprite/sprite.png
  test/fixtures/resources/versatiles-sprite/sprite@2x.json
  test/fixtures/resources/versatiles-sprite/sprite@2x.png
  test/sprite/sprite_loader.test.cpp
Labels: android

#2967 Fix MapSnapshotter
  .gitignore
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/snapshotter/MapSnapshotter.kt
Labels: bug, android

#2965 Encode the style URL in iOS
  platform/darwin/src/http_file_source.mm
  platform/darwin/test/MLNResourceTests.mm
Labels: iOS

#2981 Release MapLibre iOS 6.8.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS
