Repository maplibre/maplibre-native, pull requests merged in 2024-08, with the labels that each got.

#2674 Add id-token permission to ios-device-test.yml
  .github/workflows/ios-device-test.yml
Labels: github_actions

#2673 Prepare MapLibre Native iOS 6.5.3 release
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#2676 Skip macos-ci based on paths
  .github/workflows/macos-ci.yml
Labels: github_actions

#2663 Bump NDK version to 27.0.12077973, replace `ALooper_pollAll` with `ALooper_pollOnce`
  CMakeLists.txt
  platform/android/gradle/dependencies.gradle
  platform/android/src/example_custom_layer.cpp
  platform/android/src/run_loop.cpp
  platform/default/BUILD.bazel
  platform/default/src/mbgl/util/utf.cpp
Labels: android

#2679 Support alternate naming for GL extensions
  src/mbgl/gl/timestamp_query_extension.cpp
Labels: bug, OpenGL

#2696 Bazel updates
  .bazelversion
  MODULE.bazel
  WORKSPACE
Labels: build

#2700 Release MapLibre Native iOS 6.5.4
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package-lock.json
  package.json
  platform/ios/CHANGELOG.md
  pnpm-lock.yaml
  scripts/generate-changelog.mjs
Labels: iOS

#2516 Add `getOfflineRegion` Kotlin API
  include/mbgl/storage/database_file_source.hpp
  platform/android/MapLibreAndroid/src/cpp/offline/offline_manager.cpp
  platform/android/MapLibreAndroid/src/cpp/offline/offline_manager.hpp
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/offline/OfflineManager.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/offline/OfflineManagerTest.kt
  platform/default/include/mbgl/storage/offline_database.hpp
  platform/default/src/mbgl/storage/database_file_source.cpp
  platform/default/src/mbgl/storage/offline_database.cpp
  test/storage/offline_database.test.cpp
Labels: enhancement, android

#2708 Do not use custom shell node-ci
  .github/workflows/node-ci.yml
Labels: node, github_actions

#2722 Scheduling optimizations and tracing
  platform/android/MapLibreAndroid/src/cpp/map_renderer.cpp
  src/mbgl/actor/mailbox.cpp
  src/mbgl/gl/buffer_allocator.cpp
  src/mbgl/renderer/image_manager.cpp
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/util/thread_pool.cpp
Labels: ⚡ performance

#2629 Use timestamps for attribute updates
  include/mbgl/gfx/drawable.hpp
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/gl/vertex_attribute_gl.hpp
  include/mbgl/mtl/upload_pass.hpp
  include/mbgl/mtl/vertex_attribute.hpp
  include/mbgl/mtl/vertex_buffer_resource.hpp
  include/mbgl/util/instrumentation.hpp
  include/mbgl/vulkan/upload_pass.hpp
  include/mbgl/vulkan/vertex_attribute.hpp
  include/mbgl/vulkan/vertex_buffer_resource.hpp
  src/mbgl/gfx/index_vector.hpp
  src/mbgl/gfx/upload_pass.hpp
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/layer_group_gl.cpp
  src/mbgl/gl/upload_pass.cpp
  src/mbgl/gl/upload_pass.hpp
  src/mbgl/gl/value.cpp
  src/mbgl/gl/vertex_attribute_gl.cpp
  src/mbgl/gl/vertex_buffer_resource.hpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/upload_pass.cpp
  src/mbgl/mtl/vertex_attribute.cpp
  src/mbgl/renderer/buckets/circle_bucket.cpp
  src/mbgl/renderer/buckets/fill_bucket.cpp
  src/mbgl/renderer/buckets/fill_extrusion_bucket.cpp
  src/mbgl/renderer/buckets/line_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/paint_property_binder.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/source_state.cpp
  src/mbgl/renderer/sources/render_image_source.cpp
  src/mbgl/text/placement.cpp
  src/mbgl/text/placement.hpp
  src/mbgl/util/thread_pool.hpp
  src/mbgl/vulkan/buffer_resource.cpp
  src/mbgl/vulkan/drawable.cpp
  src/mbgl/vulkan/render_pass.cpp
  src/mbgl/vulkan/upload_pass.cpp
  src/mbgl/vulkan/vertex_attribute.cpp
Labels: bug

#2729 Add back CMake build config for macOS
  .github/workflows/macos-ci.yml
  .github/workflows/node-ci.yml
  CMakeLists.txt
  include/mbgl/mtl/context.hpp
  platform/glfw/CMakeLists.txt
  platform/glfw/glfw_view.cpp
  platform/glfw/metal_backend.mm
  platform/macos/macos.cmake
  src/mbgl/mtl/texture2d.cpp
  src/mbgl/renderer/paint_parameters.cpp
  test/CMakeLists.txt
  vendor/metal-cpp.cmake
Labels: metal, build, macOS, node, github_actions

#2745 [node][main] Cherry pick node 22 publish and readme from opengl-2 branch
  platform/node/CHANGELOG.md
  platform/node/CMakeLists.txt
  platform/node/README.md
  platform/node/package-lock.json
  platform/node/package.json
  platform/node/scripts/publish.sh
Labels: node

#2747 [node][main] Release node v6.0.0-pre.0
  package-lock.json
  platform/node/CHANGELOG.md
  platform/node/package-lock.json
  platform/node/package.json
Labels: node

#2749 [node][main] Add macos-14 back to node publish
  .github/workflows/node-release.yml
Labels: node

#2751 [node][main] fix npm ci to run in platform/node
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
Labels: node

#2752 [node][main] Release node v6.0.0-pre.1
  platform/node/CHANGELOG.md
  platform/node/package-lock.json
  platform/node/package.json
Labels: node

#2739 Use ESM in Node.js code generation scripts
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  .bazelignore
  .github/workflows/linux-ci.yml
  .nvmrc
  BUILD.bazel
  MODULE.bazel
  package-lock.json
  package.json
  platform/android/scripts/generate-style-code.js
  platform/darwin/BUILD.bazel
  platform/darwin/scripts/generate-style-code.mjs
  platform/ios/scripts/style-spec.js
  platform/scripts/check-public-symbols.js
  scripts/generate-style-code.mjs
  scripts/global.d.ts
  scripts/jsconfig.json
  scripts/style-code.mjs
  scripts/style-spec-reference/latest.mjs
  scripts/style-spec.mjs
  shaders/generate_shader_code.mjs
  test/BUILD.bazel
  test/storage/server.js
Labels: build, dependencies

#2765 Remove unused allowsVerticalWritingMode field
  src/mbgl/layout/symbol_feature.hpp
Labels: cpp-core

#2759 ensure ReentrantLock is unlocked after being locked, and on same thread
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/storage/FileSource.java
Labels: android

#2733 Cleanup mbgl/actor/mailbox* implementation for repetition in ensuring valid weakScheduler exists before usage
  include/mbgl/actor/mailbox.hpp
  src/mbgl/actor/mailbox.cpp
Labels: enhancement, cpp-core

#2762 Apply some clang-tidy 18 fixes
  CMakeLists.txt
  include/mbgl/actor/established_actor.hpp
  include/mbgl/gfx/context.hpp
  include/mbgl/gfx/shader.hpp
  include/mbgl/gfx/shader_group.hpp
  include/mbgl/gfx/uniform_buffer.hpp
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/math/minmax.hpp
  include/mbgl/style/expression/expression.hpp
  include/mbgl/style/expression/format_section_override.hpp
  include/mbgl/style/property_expression.hpp
  include/mbgl/util/bitmask_operations.hpp
  include/mbgl/util/chrono.hpp
  include/mbgl/util/convert.hpp
  include/mbgl/util/size.hpp
  include/mbgl/util/traits.hpp
  src/mbgl/actor/mailbox.cpp
  src/mbgl/actor/scheduler.cpp
  src/mbgl/annotation/annotation_manager.cpp
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/layout/symbol_instance.cpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/map/map.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/renderer_backend.cpp
  src/mbgl/renderer/layer_group.cpp
  src/mbgl/renderer/layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/raster_layer_tweaker.cpp
  src/mbgl/renderer/tile_layer_group.cpp
  src/mbgl/util/hash.hpp
  src/mbgl/util/mat3.hpp
  test/text/get_anchors.test.cpp
  vendor/unordered_dense.cmake
  vendor/vulkan.cmake
Labels: cpp-core

#2764 [node][opengl-2] Cherry pick node publish fixes to opengl-2
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
Labels: node

#2756 Use latest MapLibre Style Spec
  .github/workflows/android-ci.yml
  BUILD.bazel
  package-lock.json
  package.json
  platform/android/MapLibreAndroid/src/cpp/style/layers/location_indicator_layer.cpp
  platform/android/MapLibreAndroid/src/cpp/style/layers/location_indicator_layer.hpp
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/location/LocationIndicatorLayer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/layers/HillshadeLayer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/layers/Property.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/layers/PropertyFactory.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/layers/SymbolLayer.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/location/LocationIndicatorLayerTest.java
  platform/android/package-lock.json
  platform/android/package.json
  platform/android/scripts/android-style-spec-overrides.mjs
  platform/android/scripts/generate-style-code.mjs
  platform/darwin/scripts/generate-style-code.mjs
  pnpm-lock.yaml
  scripts/style-code.mjs
  scripts/style-spec-reference/latest.mjs
  scripts/style-spec-reference/v8.json
  scripts/style-spec.mjs
  test/BUILD.bazel
Labels: js-parity

#2743 Fix update time not being set when only drawable indexes are set
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/drawable_gl_impl.hpp
  src/mbgl/gl/upload_pass.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/vulkan/drawable.cpp
Labels: bug

#2773 Use ESM in release-notes Android script
  .github/workflows/android-release.yml
  platform/android/scripts/release-notes.mjs
Labels: android, github_actions
