Repository maplibre/maplibre-native, pull requests merged in 2024-02, with the labels that each got.

#2084 Prevent deferred tile cleanup from sometimes happening on the main thread
  src/mbgl/renderer/tile_pyramid.cpp
Labels: enhancement

#1948 [bazel] Run nodejs inside of bazel for genrules
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  .bazelignore
  .bazelrc
  .github/workflows/ios-ci.yml
  BUILD.bazel
  MODULE.bazel
  platform/BUILD.bazel
  platform/darwin/BUILD.bazel
  platform/darwin/bazel/files.bzl
  platform/darwin/scripts/check-public-symbols.sh
  platform/darwin/scripts/generate-style-code.js
  platform/darwin/src/MLNCustomDrawableStyleLayer.h
  platform/ios/BUILD.bazel
  platform/ios/bazel/files.bzl
  platform/ios/src/MLNCalloutView.h
  platform/ios/src/MLNMapView+IBAdditions.h
  platform/ios/src/Mapbox.template.h
  platform/macos/BUILD.bazel
  platform/macos/src/MLNMapViewDelegate.h
  platform/scripts/check-public-symbols.js
  pnpm-lock.yaml
  scripts/generate-style-code.js
  scripts/style-code.js
  shaders/generate_shader_code.js
Labels: build

#2100 Upload new external data package for every benchmark run
  .github/workflows/android-device-test.yml
  .github/workflows/android-device-test/upload-external-data.sh
Labels: android, github_actions, ⚡ performance

#2102 Configure AWS Credentials android-device-test
  .github/workflows/android-device-test.yml
Labels: github_actions

#2103 Fix role duration
  .github/workflows/android-device-test.yml
Labels: github_actions

#2105 iOS CI Fixes - Release & Docs
  .github/workflows/ios-ci.yml
  platform/ios/scripts/docc.sh
Labels: github_actions

#2106 Pass --hosting-base-path to docc
  platform/ios/scripts/docc.sh
Labels: documentation, iOS

#2091 Minor optimizations
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/layout/symbol_projection.cpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_custom_drawable_layer.cpp
  src/mbgl/renderer/layers/render_custom_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/render_layer.hpp
Labels: ⚡ performance

#2041 MLNCustomStyleLayer + Metal example
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/gfx/drawable_atlases_tweaker.hpp
  include/mbgl/gfx/drawable_custom_layer_host_tweaker.hpp
  include/mbgl/gl/drawable_gl.hpp
  include/mbgl/gl/layer_group_gl.hpp
  include/mbgl/mtl/drawable.hpp
  include/mbgl/mtl/layer_group.hpp
  include/mbgl/mtl/tile_layer_group.hpp
  include/mbgl/style/layers/custom_layer.hpp
  include/mbgl/style/layers/custom_layer_render_parameters.hpp
  include/mbgl/style/layers/mtl/custom_layer_render_parameters.hpp
  platform/BUILD.bazel
  platform/android/src/example_custom_layer.cpp
  platform/darwin/BUILD.bazel
  platform/darwin/app/CustomStyleLayerExample.h
  platform/darwin/app/CustomStyleLayerExample.m
  platform/darwin/app/LimeGreenStyleLayer.h
  platform/darwin/app/LimeGreenStyleLayer.m
  platform/darwin/bazel/files.bzl
  platform/darwin/src/MLNBackendResource.h
  platform/darwin/src/MLNCustomStyleLayer.h
  platform/darwin/src/MLNCustomStyleLayer.mm
  platform/darwin/src/MLNCustomStyleLayer_Private.h
  platform/darwin/src/MLNStyle.mm
  platform/darwin/src/MLNStyleLayerManager.mm
  platform/darwin/src/MLNStyle_Private.h
  platform/darwin/test/MLNStyleTests.mm
  platform/ios/Integration_Tests/MBGLIntegrationTests.mm
  platform/ios/app/MBXViewController.m
  platform/ios/scripts/bazel-package.sh
  platform/ios/sdk-files.json
  platform/ios/src/MLNMapView+Impl.h
  platform/ios/src/MLNMapView+Metal.h
  platform/ios/src/MLNMapView+Metal.mm
  platform/ios/src/MLNMapView+OpenGL.h
  platform/ios/src/MLNMapView+OpenGL.mm
  platform/ios/src/MLNMapView.h
  platform/ios/src/MLNMapView.mm
  platform/ios/src/Mapbox.h
  platform/macos/app/MapDocument.m
  platform/macos/sdk-files.json
  platform/macos/src/Mapbox.h
  src/mbgl/gfx/drawable_custom_layer_host_tweaker.cpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/render_pass.cpp
  src/mbgl/mtl/upload_pass.cpp
  src/mbgl/renderer/layers/render_custom_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/render_tree.hpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/style/layers/custom_drawable_layer.cpp
  src/mbgl/style/layers/custom_layer_render_parameters.cpp
  src/mbgl/style/layers/mtl/custom_layer_render_parameters.cpp
  test/api/custom_layer.test.cpp
Labels: iOS

#2107 Texture by index instead of map
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/gfx/drawable.hpp
  include/mbgl/gfx/drawable_atlases_tweaker.hpp
  include/mbgl/gfx/drawable_builder.hpp
  include/mbgl/gfx/uniform_block.hpp
  include/mbgl/gfx/uniform_buffer.hpp
  include/mbgl/mtl/drawable.hpp
  include/mbgl/shaders/gl/shader_group_gl.hpp
  include/mbgl/shaders/gl/shader_info.hpp
  include/mbgl/shaders/gl/shader_program_gl.hpp
  include/mbgl/shaders/mtl/shader_program.hpp
  include/mbgl/shaders/shader_defines.hpp
  include/mbgl/shaders/shader_program_base.hpp
  src/mbgl/gfx/drawable.cpp
  src/mbgl/gfx/drawable_atlases_tweaker.cpp
  src/mbgl/gfx/drawable_builder.cpp
  src/mbgl/gfx/uniform_block.cpp
  src/mbgl/gfx/uniform_buffer.cpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/drawable_gl_builder.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_builder.cpp
  src/mbgl/renderer/layers/background_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.hpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/shaders/gl/shader_info.cpp
  src/mbgl/shaders/gl/shader_program_gl.cpp
  src/mbgl/shaders/mtl/background_pattern.cpp
  src/mbgl/shaders/mtl/debug.cpp
  src/mbgl/shaders/mtl/fill.cpp
  src/mbgl/shaders/mtl/fill_extrusion_pattern.cpp
  src/mbgl/shaders/mtl/heatmap_texture.cpp
  src/mbgl/shaders/mtl/hillshade.cpp
  src/mbgl/shaders/mtl/hillshade_prepare.cpp
  src/mbgl/shaders/mtl/line.cpp
  src/mbgl/shaders/mtl/line_gradient.cpp
  src/mbgl/shaders/mtl/raster.cpp
  src/mbgl/shaders/mtl/shader_program.cpp
  src/mbgl/shaders/mtl/symbol_icon.cpp
  src/mbgl/shaders/mtl/symbol_sdf.cpp
  src/mbgl/shaders/mtl/symbol_text_and_icon.cpp
Labels: ⚡ performance

#2093 Continued destruction of tile objects on the render thread
  src/mbgl/renderer/tile_pyramid.cpp
  src/mbgl/tile/tile_cache.cpp
  src/mbgl/tile/tile_cache.hpp
Labels: bug, ⚡ performance

#2126 Changelog for iOS 6.1.0
  platform/ios/CHANGELOG.md
Labels: iOS

#2129 Get unit and render tests running on iOS simulator
  src/mbgl/mtl/offscreen_texture.cpp
  src/mbgl/mtl/texture2d.cpp
  test/include/mbgl/test/util.hpp
  test/map/map.test.cpp
Labels: metal, iOS

#2133 Prepare for Android 11.0.0-pre0 release
  .github/workflows/android-release.yml
  platform/android/CHANGELOG.md
Labels: android, github_actions

#2137 Fix Android release
  .github/workflows/android-release.yml
Labels: github_actions

#2136 Try to fix coverage upload
  .github/workflows/upload-coverage.yml
Labels: github_actions

#2143 Prepare for iOS 6.1.1 release
  .github/workflows/ios-ci.yml
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS, github_actions

#2144 Roll back codecov/codecov-action@v4
  .github/workflows/upload-coverage.yml
Labels: github_actions

#2145 Refactor `workflow_run` workflows to not fail
  .github/actions/get-pr-number/action.yml
  .github/workflows/android-device-test.yml
  .github/workflows/pr-bloaty-ios.yml
  .github/workflows/pr-linux-tests.yml
  .github/workflows/pr-render-test-result.yml
  .github/workflows/upload-coverage.yml
Labels: github_actions

#1858 Implementation of multi-sprites in mbgl-core
  .github/workflows/ios-ci.yml
  CMakeLists.txt
  bazel/core.bzl
  metrics/android-render-test-runner/render-tests/sprites/array-default-only/metrics.json
  metrics/android-render-test-runner/render-tests/sprites/array-multiple/metrics.json
  metrics/integration/render-tests/sprites/array-default-only/expected.png
  metrics/integration/render-tests/sprites/array-default-only/style.json
  metrics/integration/render-tests/sprites/array-multiple/expected.png
  metrics/integration/render-tests/sprites/array-multiple/style.json
  metrics/linux-gcc8-release/render-tests/sprites/array-default-only/metrics.json
  metrics/linux-gcc8-release/render-tests/sprites/array-multiple/metrics.json
  platform/android/CHANGELOG.md
  platform/default/src/mbgl/storage/offline_download.cpp
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
  render-test/parser.cpp
  src/mbgl/map/map_impl.cpp
  src/mbgl/sprite/sprite_loader.cpp
  src/mbgl/sprite/sprite_loader.hpp
  src/mbgl/sprite/sprite_loader_observer.hpp
  src/mbgl/sprite/sprite_parser.cpp
  src/mbgl/sprite/sprite_parser.hpp
  src/mbgl/style/conversion/sprite.cpp
  src/mbgl/style/conversion/sprite.hpp
  src/mbgl/style/parser.cpp
  src/mbgl/style/parser.hpp
  src/mbgl/style/sprite.cpp
  src/mbgl/style/sprite.hpp
  src/mbgl/style/style_impl.cpp
  src/mbgl/style/style_impl.hpp
  test/fixtures/style_parser/sprites-missing-fields.info.json
  test/fixtures/style_parser/sprites-missing-fields.style.json
  test/fixtures/style_parser/sprites-not-same-ids.info.json
  test/fixtures/style_parser/sprites-not-same-ids.style.json
  test/renderer/image_manager.test.cpp
  test/renderer/pattern_atlas.test.cpp
  test/sprite/sprite_loader.test.cpp
  test/sprite/sprite_parser.test.cpp
  test/style/style_parser.test.cpp
Labels: js-parity

#2149 Always create check for Android render test, Take into account cancelled workflows
  .github/workflows/android-device-test.yml
  .github/workflows/pr-bloaty-ios.yml
  .github/workflows/pr-linux-tests.yml
  .github/workflows/upload-coverage.yml
Labels: github_actions

#2152 Add optional split output location to codegen scripts
  platform/darwin/scripts/generate-style-code.js
  scripts/generate-style-code.js
  shaders/generate_shader_code.js
Labels: build

#2156 Fix for C++ header in public Objective-C header
  platform/darwin/app/ExampleCustomDrawableStyleLayer.mm
  platform/darwin/src/MLNCustomDrawableStyleLayer.h
  platform/darwin/src/MLNCustomDrawableStyleLayer.mm
Labels: bug, iOS

#2157 Fix Android release script
  platform/android/gradle/gradle-publish.gradle
Labels: build, android

#2158 Release MapLibre Native iOS 6.2.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS
