Repository maplibre/maplibre-native, pull requests merged in 2024-06, with the labels that each got.

#2459 Add Benchmark as default Android Studio run config
  platform/android/.idea/runConfigurations/Benchmark.xml
Labels: android

#2449 Replace `MAPBOX_ETERNAL_CONSTEXPR` with `constexpr`
  src/mbgl/renderer/sources/render_geojson_source.cpp
  src/mbgl/style/expression/compound_expression.cpp
  src/mbgl/style/expression/parsing_context.cpp
  src/mbgl/style/layers/background_layer.cpp
  src/mbgl/style/layers/circle_layer.cpp
  src/mbgl/style/layers/fill_extrusion_layer.cpp
  src/mbgl/style/layers/fill_layer.cpp
  src/mbgl/style/layers/heatmap_layer.cpp
  src/mbgl/style/layers/hillshade_layer.cpp
  src/mbgl/style/layers/layer.cpp.ejs
  src/mbgl/style/layers/line_layer.cpp
  src/mbgl/style/layers/location_indicator_layer.cpp
  src/mbgl/style/layers/raster_layer.cpp
  src/mbgl/style/layers/symbol_layer.cpp
  src/mbgl/style/light.cpp
  src/mbgl/style/light.cpp.ejs
  src/mbgl/util/i18n.cpp
Labels: cpp-core

#2465 Android build config maintenance
  benchmark/android/build.gradle
  platform/android/MapLibreAndroid/build.gradle
  platform/android/MapLibreAndroid/src/cpp/CMakeLists.txt
  platform/android/MapLibreAndroidTestApp/build.gradle
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/feature/QueryRenderedFeaturesBoxSymbolCountActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_espresso_test.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_manual_zoom.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_marker_bulk.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_press_for_marker.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_query_features_box.xml
  platform/android/gradle.properties
  platform/android/gradle/gradle-publish.gradle
  render-test/android/build.gradle
  test/android/build.gradle
Labels: build, android

#2472 Move all `WeakPtrFactory` members to the end of the containing class
  include/mbgl/style/layer.hpp
  include/mbgl/style/sources/custom_geometry_source.hpp
  include/mbgl/style/sources/geojson_source.hpp
  include/mbgl/style/sources/image_source.hpp
  include/mbgl/style/sources/raster_source.hpp
  include/mbgl/style/sources/vector_source.hpp
  src/mbgl/annotation/annotation_manager.hpp
  src/mbgl/annotation/annotation_source.hpp
  src/mbgl/sprite/sprite_loader.hpp
  src/mbgl/tile/geojson_tile.hpp
  src/mbgl/util/thread_pool.hpp
  test/actor/actor.test.cpp
Labels: bug

#2476 Release MapLibre Native iOS 6.5.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#2484 Update README.md
  README.md
Labels: documentation

#2480 Add privacy manifest iOS
  platform/ios/BUILD.bazel
  platform/ios/CHANGELOG.md
  platform/ios/MapLibre.podspec
  platform/ios/PrivacyInfo.xcprivacy
Labels: iOS

#2487 Use `EnvAttachingDeleter` for `LocalGlyphRasterizer` and `AssetManagerFileSource`
  platform/android/MapLibreAndroid/src/cpp/asset_manager_file_source.cpp
  platform/android/MapLibreAndroid/src/cpp/asset_manager_file_source.hpp
  platform/android/MapLibreAndroid/src/cpp/text/local_glyph_rasterizer.cpp
  platform/android/MapLibreAndroid/src/cpp/text/local_glyph_rasterizer_jni.hpp
Labels: bug, android

#2482 Use `std::variant` with `OfflineRegionDefinition`
  include/mbgl/storage/offline.hpp
  include/mbgl/util/variant.hpp
  platform/android/MapLibreAndroid/src/cpp/offline/offline_region.cpp
  platform/darwin/src/MLNOfflinePack.mm
  platform/default/src/mbgl/storage/offline.cpp
  platform/default/src/mbgl/storage/offline_download.cpp
  test/storage/offline.test.cpp
  test/storage/offline_database.test.cpp
Labels: cpp-core

#2481 Use `std::variant` for `Database::tryOpen`
  platform/default/include/mbgl/storage/sqlite3.hpp
  platform/default/src/mbgl/storage/sqlite3.cpp
  platform/qt/src/mbgl/sqlite3.cpp
  test/storage/sqlite.test.cpp
Labels: cpp-core

#2490 Update MapLibre logo Android and iOS
  platform/android/MapLibreAndroid/src/main/res/drawable-hdpi/maplibre_logo_icon.png
  platform/android/MapLibreAndroid/src/main/res/drawable-mdpi/maplibre_logo_icon.png
  platform/android/MapLibreAndroid/src/main/res/drawable-xhdpi/maplibre_logo_icon.png
  platform/android/MapLibreAndroid/src/main/res/drawable-xxhdpi/maplibre_logo_icon.png
  platform/android/MapLibreAndroid/src/main/res/drawable-xxxhdpi/maplibre_logo_icon.png
  platform/android/MapLibreAndroid/src/main/res/drawable/maplibre_logo_icon.xml
  platform/ios/resources/Images.xcassets/maplibre-logo-stroke-gray.imageset/Contents.json
  platform/ios/resources/Images.xcassets/maplibre-logo-stroke-gray.imageset/maplibre-logo-stroke-gray.svg
  platform/ios/resources/Images.xcassets/maplibre-logo-stroke-gray.imageset/maplibregl-ctrl-logo.svg
Labels: android, iOS

#2495 Use different icon for IconTest Android
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/annotations/IconTest.java
Labels: android

#2502 Add -fvisibility=hidden flag to Bazel
  bazel/flags.bzl
  platform/ios/test/CI-Expressions.xctestplan
  platform/ios/test/CI.xctestplan
Labels: build

#2504 Enable LTO iOS
  .github/workflows/ios-ci.yml
Labels: build, ⚡ performance

#2505 Rename layer id annotations
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/constants/MapLibreConstants.java
  platform/macos/src/MLNMapView.mm
Labels: android

#2500 Fix GL Fence signaling status
  include/mbgl/gl/buffer_allocator.hpp
  src/mbgl/gl/buffer_allocator.cpp
  src/mbgl/gl/fence.cpp
  src/mbgl/gl/fence.hpp
Labels: OpenGL

#2507 Compare camera positions with delta in instrumentation tests
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/TransformTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/CustomGeometrySourceTest.kt
Labels: android

#2508 Prepare MapLibre Native Android 11.0.1 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#2509 Fix location debug symbols Android release
  platform/android/Makefile
Labels: build, android

#2417 Add Tracy instrumentation for CPU and GPU in OpenGL mode.
  CMakeLists.txt
  bazel/core.bzl
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/profiling/README.md
  docs/mdbook/src/profiling/tracy-profiling.md
  include/mbgl/gl/uniform_buffer_gl.hpp
  include/mbgl/util/instrumentation.hpp
  platform/android/DEVELOPING.md
  platform/default/src/mbgl/gl/headless_backend.cpp
  platform/glfw/BUILD.bazel
  platform/glfw/glfw_gl_backend.cpp
  platform/glfw/glfw_renderer_frontend.cpp
  platform/glfw/glfw_view.cpp
  src/mbgl/annotation/render_annotation_source.cpp
  src/mbgl/gl/context.cpp
  src/mbgl/gl/debugging_extension.hpp
  src/mbgl/gl/fence.cpp
  src/mbgl/gl/index_buffer_resource.cpp
  src/mbgl/gl/index_buffer_resource.hpp
  src/mbgl/gl/renderbuffer_resource.cpp
  src/mbgl/gl/renderbuffer_resource.hpp
  src/mbgl/gl/renderer_backend.cpp
  src/mbgl/gl/texture_resource.cpp
  src/mbgl/gl/texture_resource.hpp
  src/mbgl/gl/timestamp_query_extension.cpp
  src/mbgl/gl/timestamp_query_extension.hpp
  src/mbgl/gl/uniform_buffer_gl.cpp
  src/mbgl/gl/vertex_buffer_resource.cpp
  src/mbgl/gl/vertex_buffer_resource.hpp
  src/mbgl/renderer/backend_scope.cpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/renderer.cpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/style/style.cpp
  src/mbgl/tile/geojson_tile.cpp
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/geometry_tile_data.cpp
  src/mbgl/tile/geometry_tile_worker.cpp
  src/mbgl/tile/tile_cache.cpp
  src/mbgl/tile/vector_tile_data.cpp
  src/mbgl/util/http_header.cpp
  src/mbgl/util/http_timeout.cpp
  src/mbgl/util/io.cpp
  vendor/tracy.cmake
  vendor/tracy/LICENSE
Labels: ⚡ performance

#2525 Add line style layer example to iOS docs
  platform/ios/CONTRIBUTING.md
  platform/ios/MapLibre.docc/LineStyleLayerExampleUIKit.md
  platform/ios/MapLibre.docc/LocationPrivacyExample.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/app-swift/BUILD.bazel
  platform/ios/app-swift/Data/example.geojson
  platform/ios/app-swift/Sources/LineStyleLayerExampleUIKit.swift
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
Labels: documentation, iOS

#2535 Add iOS example data from API with dynamic styling
  platform/ios/MapLibre.docc/LineStyleLayerExampleUIKit.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/MapLibre.docc/WebAPIDataExampleUIKit.md
  platform/ios/app-swift/BUILD.bazel
  platform/ios/app-swift/Data/lighthouse.png
  platform/ios/app-swift/Sources/LineStyleLayerExampleUIKit.swift
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/app-swift/Sources/WebAPIDataExampleUIKit.swift
Labels: documentation, iOS

#2541 [ios] MapLibre logo with MLNMapSnapshotter
  platform/darwin/src/MLNMapCamera.h
  platform/darwin/src/MLNMapSnapshotter.h
  platform/darwin/src/MLNMapSnapshotter.mm
  platform/darwin/src/MLNSettings.h
  platform/ios/BUILD.bazel
  platform/ios/CHANGELOG.md
  platform/ios/resources/Images.xcassets/maplibre-logo-icon.imageset/Contents.json
  platform/ios/resources/Images.xcassets/maplibre-logo-icon.imageset/maplibre-logo-icon.svg
Labels: iOS

#2540 iOS Documentation: Add Fill Extrustion Layer Example
  platform/ios/MapLibre.docc/BuildingLightExample.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/MapLibre.docc/WebAPIDataExampleUIKit.md
  platform/ios/app-swift/Sources/BuildingLightExample.swift
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/scripts/docc.sh
Labels: documentation, iOS

#2537 More context
  platform/android/CHANGELOG.md
  src/mbgl/layout/symbol_instance.cpp
  src/mbgl/layout/symbol_instance.hpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/renderer/bucket.hpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/text/cross_tile_symbol_index.cpp
  src/mbgl/text/placement.cpp
  src/mbgl/tile/geometry_tile.cpp
Labels: android

#2565 Update CONTRIBUTING.md
  platform/ios/CONTRIBUTING.md
Labels: documentation, iOS
