Repository maplibre/maplibre-native, pull requests merged in 2024-12, with the labels that each got.

#3064 Free up disk space in android-build-cpp-test
  .github/workflows/android-ci.yml
Labels: github_actions

#3056 Add latency to surface updates
  include/mbgl/vulkan/context.hpp
  src/mbgl/vulkan/context.cpp
Labels: android, Vulkan

#3065 Use CMake 3.24.0+ for Android
  platform/android/android.cmake
  platform/android/buildSrc/src/main/kotlin/Versions.kt
  test/android/app/build.gradle.kts
Labels: build, android

#3068 fix: Disable accessibility on hidden compass button
  platform/ios/src/MLNCompassButton.mm
Labels: iOS, accessibility

#3066 Fix crash on unsupported attribute type conversion
  src/mbgl/gl/upload_pass.cpp
  src/mbgl/gl/vertex_attribute_gl.cpp
Labels: bug, OpenGL

#3081 Prepare Android release workflow for Vulkan release
  .github/workflows/android-release.yml
  platform/android/Makefile
  platform/android/buildSrc/src/main/kotlin/maplibre.artifact-settings.gradle.kts
  platform/android/buildSrc/src/main/kotlin/maplibre.gradle-publish.gradle.kts
Labels: android, github_actions

#3087 Fix issue in android-release.yml
  .github/workflows/android-release.yml
Labels: android, github_actions

#3030 Batch up scheduling of deferred deletions
  src/mbgl/renderer/tile_pyramid.cpp
  src/mbgl/tile/tile_cache.cpp
  src/mbgl/tile/tile_cache.hpp
  src/mbgl/vulkan/context.cpp
  src/mbgl/vulkan/descriptor_set.cpp
Labels: ⚡ performance

#3077 Remove `Pass3D`
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
Labels: bug

#3095 Specify Vulkan version needed in AndroidManifest.xml
  platform/android/MapLibreAndroid/src/drawable/AndroidManifest.xml
  platform/android/MapLibreAndroid/src/main/AndroidManifest.xml
  platform/android/MapLibreAndroid/src/vulkan/AndroidManifest.xml
Labels: build, android

#3097 Prepare MapLibre Android 11.7.1 release
  .github/workflows/android-release.yml
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
  scripts/generate-changelog.mjs
Labels: android
