Repository maplibre/maplibre-native, pull requests merged in 2024-09, with the labels that each got.

#2796 Update Android Gradle Plugin across project
  .github/dependabot.yml
  render-test/android/gradle/libs.versions.toml
  test/android/build.gradle
Labels: dependencies, android

#2798 Fix raster masking bug
  src/mbgl/gfx/index_vector.hpp
  src/mbgl/renderer/buckets/raster_bucket.cpp
Labels: bug

#2799 Downgrade to Java 11
  platform/android/MapLibreAndroid/build.gradle
  platform/android/gradle/libs.versions.toml
  platform/android/settings.gradle
  render-test/android/settings.gradle
  test/android/settings.gradle
Labels: build, android

#2804 Prepare MapLibre Android 11.3.0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#2810 Allow selecting renderer on for Android release workflow
  .github/workflows/android-release.yml
  platform/android/Makefile
Labels: android, github_actions

#2813 Release workflow fixes for Vulkan releases
  .github/workflows/android-release.yml
  platform/android/gradle/gradle-publish.gradle
Labels: android, github_actions

#2811 Ensure that all depth values are rendered before any color values
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
Labels: bug

#2812 Attach render test artifacts AWS Device Farm to workflow
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
  render-test/android/app/src/main/AndroidManifest.xml
  scripts/aws-device-farm/log-test-spec-output.mjs
  scripts/aws-device-farm/store-test-artifacts.mjs
Labels: android, github_actions

#2825 Fix duplicate artifact name android-device-test
  .github/workflows/android-device-test.yml
Labels: github_actions

#2819 Improve tile lifecycle determinism
  platform/android/MapLibreAndroid/proguard-rules.pro
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/raster_dem_tile.cpp
  src/mbgl/tile/raster_tile.cpp
  test/map/map.test.cpp
Labels: bug

#2831 Release MapLibre iOS 6.6.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
  scripts/generate-changelog.mjs
Labels: iOS

#2830 Prepare MapLibre Android 11.4.0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#2837 Address some flaky tests
  test/map/map.test.cpp
  test/util/run_loop.test.cpp
Labels: bug

#2833 Release node v6.0.1-pre.0
  platform/node/CHANGELOG.md
  platform/node/DEVELOPING.md
  platform/node/README.md
  platform/node/RELEASE.md
  platform/node/package-lock.json
  platform/node/package.json
Labels: node

#2841 Allow building the legacy renderer for Android
  platform/android/Makefile
Labels: android

#2844 Store Android benchmark results on device
  .github/workflows/android-device-test.yml
  platform/android/MapLibreAndroidTestApp/src/main/AndroidManifest.xml
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/benchmark/BenchmarkActivity.kt
  platform/android/gradle.properties
  platform/android/settings.gradle
  scripts/aws-device-farm/download-benchmark-results.mjs
Labels: android, ⚡ performance

#2801 Expose RENDERMODE_CONTINUOUSLY and RENDERMODE_WHEN_DIRTY
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapView.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/renderer/MapRenderer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/renderer/surfaceview/MapLibreSurfaceView.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/renderer/surfaceview/SurfaceViewMapRenderer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/renderer/textureview/TextureViewMapRenderer.java
  platform/android/MapLibreAndroid/src/opengl/java/org/maplibre/android/maps/renderer/surfaceview/GLSurfaceViewMapRenderer.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreMapTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/NativeMapViewTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/activity/BaseTest.java
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/maplayout/DebugModeActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/menu/menu_debug.xml
Labels: android

#2858 Enable crash mitigation when running OpenGL in the Android emulator
  include/mbgl/renderer/renderer.hpp
  platform/android/MapLibreAndroid/src/cpp/map_renderer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.hpp
  src/mbgl/renderer/layers/render_symbol_layer.hpp
  src/mbgl/renderer/render_layer.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_orchestrator.hpp
  src/mbgl/renderer/renderer.cpp
Labels: bug, android

#2845 Add array support for icon-padding
  CMakeLists.txt
  bazel/core.bzl
  include/mbgl/style/conversion/constant.hpp
  include/mbgl/style/conversion_impl.hpp
  include/mbgl/style/expression/dsl.hpp
  include/mbgl/style/expression/type.hpp
  include/mbgl/style/expression/value.hpp
  include/mbgl/style/layers/symbol_layer.hpp
  include/mbgl/util/interpolate.hpp
  include/mbgl/util/padding.hpp
  metrics/integration/render-tests/icon-padding/databind/expected-mobile.png
  metrics/integration/render-tests/icon-padding/databind/expected.png
  metrics/integration/render-tests/icon-padding/databind/style.json
  metrics/integration/render-tests/icon-padding/default/expected-mobile.png
  metrics/integration/render-tests/icon-padding/default/expected.png
  metrics/integration/render-tests/icon-padding/default/style.json
  metrics/linux-gcc8-release/render-tests/icon-padding/databind/metrics.json
  metrics/linux-gcc8-release/render-tests/icon-padding/default/metrics.json
  platform/android/MapLibreAndroid/src/cpp/conversion/constant.cpp
  platform/android/MapLibreAndroid/src/cpp/conversion/constant.hpp
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/expressions/Expression.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/layers/PropertyFactory.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/style/layers/SymbolLayer.java
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/style/expressions/ExpressionTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/ExpressionTest.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/SymbolLayerTest.java
  platform/android/scripts/generate-style-code.mjs
  platform/darwin/scripts/generate-style-code.mjs
  platform/darwin/src/MLNStyleValue_Private.h
  platform/node/src/node_expression.cpp
  scripts/generate-style-code.mjs
  scripts/style-spec.mjs
  src/mbgl/layout/symbol_instance.cpp
  src/mbgl/layout/symbol_instance.hpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/style/conversion/constant.cpp
  src/mbgl/style/conversion/function.cpp
  src/mbgl/style/conversion/property_value.cpp
  src/mbgl/style/conversion/stringify.hpp
  src/mbgl/style/expression/check_subtype.cpp
  src/mbgl/style/expression/coercion.cpp
  src/mbgl/style/expression/dsl.cpp
  src/mbgl/style/expression/interpolate.cpp
  src/mbgl/style/expression/parsing_context.cpp
  src/mbgl/style/expression/value.cpp
  src/mbgl/style/layers/symbol_layer.cpp
  src/mbgl/style/layers/symbol_layer_properties.hpp
  src/mbgl/text/collision_feature.cpp
  src/mbgl/text/collision_feature.hpp
  src/mbgl/text/shaping.hpp
  src/mbgl/util/padding.cpp
  test/CMakeLists.txt
  test/android/.gitignore
  test/style/conversion/padding.test.cpp
  test/style/conversion/stringify.test.cpp
  test/util/padding.test.cpp
Labels: js-parity

#2861 Move WeakPtrFactory in `map_renderer.hpp`
  include/mbgl/util/run_loop.hpp
  platform/android/MapLibreAndroid/src/cpp/map_renderer.hpp
  platform/qt/src/utils/scheduler.hpp
Labels: bug, android

#2842 Hillshade geometry update fixes
  include/mbgl/gfx/drawable.hpp
  include/mbgl/gl/drawable_gl.hpp
  include/mbgl/gl/vertex_attribute_gl.hpp
  include/mbgl/mtl/context.hpp
  include/mbgl/mtl/drawable.hpp
  include/mbgl/mtl/upload_pass.hpp
  include/mbgl/mtl/vertex_attribute.hpp
  include/mbgl/vulkan/drawable.hpp
  include/mbgl/vulkan/upload_pass.hpp
  include/mbgl/vulkan/vertex_attribute.hpp
  src/mbgl/gfx/upload_pass.hpp
  src/mbgl/gl/drawable_gl.cpp
  src/mbgl/gl/upload_pass.cpp
  src/mbgl/gl/upload_pass.hpp
  src/mbgl/gl/vertex_attribute_gl.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/upload_pass.cpp
  src/mbgl/mtl/vertex_attribute.cpp
  src/mbgl/renderer/buckets/hillshade_bucket.cpp
  src/mbgl/renderer/buckets/hillshade_bucket.hpp
  src/mbgl/renderer/buckets/raster_bucket.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/vulkan/drawable.cpp
  src/mbgl/vulkan/upload_pass.cpp
  src/mbgl/vulkan/vertex_attribute.cpp
Labels: bug

#2863 Use `thread_local` for thread local scheduler
  src/mbgl/actor/scheduler.cpp
Labels: cpp-core

#2866 Prepare MapLibre Native Android 11.5.0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
  scripts/generate-changelog.mjs
Labels: android

#2867 Release MapLibre Native iOS 6.7.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#2870 Continue with release if deploying docs fails
  .github/workflows/ios-ci.yml
  platform/ios/VERSION
Labels: iOS

#2872 Android renderThreadManager changed to non static
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/renderer/surfaceview/MapLibreSurfaceView.java
  platform/android/MapLibreAndroid/src/opengl/java/org/maplibre/android/maps/renderer/surfaceview/MapLibreGLSurfaceView.java
  platform/android/MapLibreAndroid/src/vulkan/java/org/maplibre/android/maps/renderer/surfaceview/MapLibreVulkanSurfaceView.java
Labels: android
