Repository maplibre/maplibre-native, pull requests merged in 2024-05, with the labels that each got.

#2367 Update user agent from `Mapbox` to `MapLibreNative`
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/build.gradle
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/module/http/HttpRequestImpl.java
  platform/darwin/src/http_file_source.mm
  platform/default/src/mbgl/storage/http_file_source.cpp
  platform/ios/CHANGELOG.md
Labels: linux, android, iOS

#2374 Prepare for MapLibre Native Android 11.0.0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#2377 Update Badges iOS
  platform/ios/README.md
Labels: documentation

#2384 Add iOS Getting Started Guide to DocC
  .github/workflows/gh-pages-docc.yml
  platform/ios/CONTRIBUTING.md
  platform/ios/MapLibre.docc/GettingStarted.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/MapLibre.docc/Resources/.gitignore
  platform/ios/scripts/docc.sh
Labels: documentation, iOS

#2385 Format Swift files with SwiftFormat
  .pre-commit-config.yaml
  benchmark/ios/codesigning/generate-entitlements.swift
  platform/darwin/test/MLNDocumentationExampleTests.swift
  platform/darwin/test/MLNDocumentationGuideTests.swift
  platform/darwin/test/MLNSDKTestHelpers.swift
  platform/ios/Integration_Tests/MLNSourceTests.swift
  platform/ios/Integration_Tests/Snapshotter Tests/MLNMapSnapshotterSwiftTests.swift
  platform/ios/bench_UITests/bench_UITests.swift
  platform/ios/iosapp-UITests/XCTestCase+Extensions.swift
  platform/ios/iosapp-UITests/iosapp_UITests.swift
  platform/ios/scripts/swift_package_template.swift
  platform/ios/test/MLNAnnotationViewIntegrationTests.swift
  platform/ios/test/MLNMapViewDelegateIntegrationTests.swift
  platform/macos/test/MLNMapViewDelegateIntegrationTests.swift
  test/ios/codesigning/generate-entitlements.swift
Labels: iOS

#2387 Add line on user tap example to iOS Docs
  platform/darwin/src/MLNPolyline.h
  platform/ios/MapLibre.docc/GettingStarted.md
  platform/ios/MapLibre.docc/LineOnUserTap.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/scripts/docc.sh
Labels: documentation, iOS

#2389 User Location and Location Privacy Example iOS
  platform/ios/CONTRIBUTING.md
  platform/ios/MapLibre.docc/GettingStarted.md
  platform/ios/MapLibre.docc/LineOnUserTap.md
  platform/ios/MapLibre.docc/LocationPrivacyExample.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/app-swift/BUILD.bazel
  platform/ios/app-swift/Info.plist
  platform/ios/app-swift/Sources/LineTapMapView.swift
  platform/ios/app-swift/Sources/LocationPrivacyExample.swift
  platform/ios/app-swift/Sources/MapLibreApp.swift
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/app-swift/Sources/SimpleMapView.swift
  scripts/update-ios-examples.mjs
Labels: documentation, iOS

#2392 Add iOS example for constraining map to certain area
  platform/ios/MapLibre.docc/BlockingGesturesExample.md
  platform/ios/MapLibre.docc/ExampleStyles.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/app-swift/Sources/BlockingGesturesExample.swift
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/app-swift/Sources/Styles.swift
  platform/ios/src/MLNMapViewDelegate.h
Labels: documentation, iOS

#2379 Fix Metal frame glitch on older devices
  include/mbgl/shaders/mtl/shader_program.hpp
  src/mbgl/gfx/color_mode.hpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/drawable_impl.hpp
  src/mbgl/shaders/mtl/shader_program.cpp
Labels: metal, ⚡ performance

#2405 [qt] Update CI setup
  .github/workflows/qt-ci.yml
Labels: Qt, cherry-pick

#2406 Fix deprecations in glyph_manager.cpp
  src/mbgl/text/glyph_manager.cpp
Labels: cherry-pick

#2404 [cmake] Rename targets output folder to MapLibre
  CMakeLists.txt
  benchmark/CMakeLists.txt
  expression-test/CMakeLists.txt
  platform/glfw/CMakeLists.txt
  render-test/CMakeLists.txt
  test/CMakeLists.txt
Labels: cherry-pick

#2408 [qt] Fix building on platforms with multiple Qt versions installed
  platform/qt/qt.cmake
Labels: cherry-pick

#2414 [qt] Update to the latest Qt install action
  .github/actions/qt5-build/entrypoint.sh
  .github/actions/qt6-build/entrypoint.sh
  .github/workflows/qt-ci.yml
Labels: Qt

#2416 (Re)move oudated information from .md files
  CONTRIBUTING.md
  DEVELOPING.md
  platform/android/DEVELOPING.md
  platform/ios/CONTRIBUTING.md
  platform/ios/README.md
  platform/linux/README.md
Labels: documentation

#2412 Fix Android docs deployment
  .github/workflows/android-ci.yml
  .github/workflows/gh-pages-android-api.yml
  platform/android/MapLibreAndroid/Module.md
  platform/android/MapLibreAndroid/build.gradle
  platform/android/gradle/libs.versions.toml
Labels: documentation, android

#2422 Add run configuration for Instrumentation Tests Android
  platform/android/.idea/runConfigurations/Instrumentation_Tests.xml
  platform/android/DEVELOPING.md
  platform/android/settings.gradle
Labels: build, android

#2431 Allow pre-releases from branches
  .github/workflows/ios-ci.yml
Labels: iOS, github_actions

#2435 Remove usage of some deprecated Android functions
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapGestureDetector.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/NativeMapView.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/Transform.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/snapshotter/MapSnapshotter.kt
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/style/expressions/ExpressionTest.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/camera/GestureDetectorActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/maplayout/VisibilityChangeActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/offline/DownloadRegionActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterBitMapOverlayActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterHeatMapActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterLocalStyleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/AnimatedImageSourceActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/turf/WithinExpressionActivity.kt
Labels: android

#2442 Fixed memory usage high in some cases
  platform/ios/src/MLNMapView+Impl.h
  platform/ios/src/MLNMapView+Metal.h
  platform/ios/src/MLNMapView+Metal.mm
  platform/ios/src/MLNMapView.mm
Labels: bug, iOS

#2441 Add `text-max-width` render tests from MapLibre GL JS
  metrics/integration/render-tests/text-max-width/force-newline-line-center/expected.png
  metrics/integration/render-tests/text-max-width/force-newline-line-center/style.json
  metrics/integration/render-tests/text-max-width/force-newline-line/expected.png
  metrics/integration/render-tests/text-max-width/force-newline-line/style.json
  metrics/integration/render-tests/text-max-width/zero-width-line-center-placement/expected.png
  metrics/integration/render-tests/text-max-width/zero-width-line-center-placement/style.json
  metrics/integration/render-tests/text-max-width/zero-width-line-placement/expected.png
  metrics/integration/render-tests/text-max-width/zero-width-line-placement/style.json
  metrics/linux-gcc8-release/render-tests/text-max-width/force-newline-line-center/metrics.json
  metrics/linux-gcc8-release/render-tests/text-max-width/force-newline-line/metrics.json
  metrics/linux-gcc8-release/render-tests/text-max-width/zero-width-line-center-placement/metrics.json
  metrics/linux-gcc8-release/render-tests/text-max-width/zero-width-line-placement/metrics.json
Labels: js-parity

#2450 Fix link to iOS documentation
  platform/ios/README.md
Labels: documentation, iOS

#2443 RasterTile / mailbox fix
  src/mbgl/actor/mailbox.cpp
  src/mbgl/tile/geometry_tile.hpp
  src/mbgl/tile/raster_dem_tile.cpp
  src/mbgl/tile/raster_dem_tile.hpp
  src/mbgl/tile/raster_tile.cpp
  src/mbgl/tile/raster_tile.hpp
  src/mbgl/tile/tile.cpp
  src/mbgl/tile/tile.hpp
  src/mbgl/tile/tile_loader.hpp
  src/mbgl/tile/tile_loader_impl.hpp
  src/mbgl/tile/vector_tile.cpp
  src/mbgl/tile/vector_tile.hpp
  test/style/source.test.cpp
Labels: bug
