Repository maplibre/maplibre-native, pull requests merged in 2024-11, with the labels that each got.

#2984 Allow android-ci to be run on free GitHub runnner
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
Labels: github_actions

#2964 Upload Android benchmark results to S3
  .github/workflows/android-device-test.yml
  scripts/aws-device-farm/store-test-artifacts.mjs
Labels: android, github_actions, ⚡ performance

#2982 Prepare MapLibre Android 11.6.0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#2985 Apply fixes android-ci and android-device-test
  .github/workflows/android-device-test.yml
  .github/workflows/android-release.yml
Labels: android, github_actions

#2957 Fix puck rendering behavior Android
  src/mbgl/gl/drawable_gl.cpp
Labels: bug, OpenGL

#2992 Prepare MapLibre Android 11.6.1 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#2996 Fix 16K alignment for Android build
  .github/workflows/android-ci.yml
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/build.gradle.kts
  platform/android/MapLibreAndroidTestApp/build.gradle.kts
  platform/android/scripts/check-alignment.sh
Labels: android, github_actions

#3000 Update Bazel dependencies
  MODULE.bazel
Labels: build, iOS

#3001 Update bundle id prefix
  platform/ios/app-swift/BUILD.bazel
Labels: build, iOS

#3002 Reuse allocated descriptor sets
  include/mbgl/util/instrumentation.hpp
  include/mbgl/vulkan/descriptor_set.hpp
  include/mbgl/vulkan/texture2d.hpp
  metrics/expectations/platform-android-vulkan/render-tests/icon-text-fit/textFit-grid-long/expected.png
  metrics/ignores/linux-vulkan.json
  src/mbgl/vulkan/buffer_resource.cpp
  src/mbgl/vulkan/context.cpp
  src/mbgl/vulkan/descriptor_set.cpp
  src/mbgl/vulkan/drawable.cpp
  src/mbgl/vulkan/texture2d.cpp
  src/mbgl/vulkan/uniform_buffer.cpp
Labels: Vulkan

#3012 Attempt to fix instrumentation tests
  .github/workflows/android-device-test.yml
  .github/workflows/ios-device-test.yml
  scripts/aws-device-farm/aws-device-farm-run.sh
Labels: github_actions

#3014 Fix instrumentation tests, attempt 2
  .github/workflows/android-device-test.yml
  .github/workflows/ios-device-test.yml
  scripts/aws-device-farm/aws-device-farm-run.sh
Labels: github_actions

#3015 Fix ios-device-test
  .github/workflows/ios-device-test.yml
Labels: github_actions

#2978 Split out Android examples to separate documentation site
  .github/workflows/android-ci.yml
  .github/workflows/gh-pages-android-examples.yml
  .gitignore
  .pre-commit-config.yaml
  docs/mdbook/src/android/README.md
  docs/mdbook/src/android/location-component-guide.md
  platform/android/DEVELOPING.md
  platform/android/Makefile
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/attribution/AttributionParser.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/snapshotter/MapSnapshotter.kt
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/attribution/AttributionParseTest.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/annotation/JsonApiActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/camera/GestureDetectorActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/camera/LatLngBoundsActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/location/BasicLocationPulsingCircleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterBitMapOverlayActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterHeatMapActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterLocalStyleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/RuntimeStyleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/StyleFileActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/styles/TestStyles.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/menu/menu_runtime_style.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/raw/demotiles.json
  platform/android/MapLibreAndroidTestApp/src/main/res/raw/sat_style.json
  platform/android/MapLibreAndroidTestApp/src/main/res/values/actions.xml
  platform/android/docs/README.md
  platform/android/docs/annotations/add-markers.md
  platform/android/docs/annotations/marker-annotations.md
  platform/android/docs/assets/extra.css
  platform/android/docs/assets/logo.svg
  platform/android/docs/camera/animation-types.md
  platform/android/docs/camera/animator-animation.md
  platform/android/docs/camera/cameraposition.md
  platform/android/docs/camera/gesture-detector.md
  platform/android/docs/camera/lat-lng-bounds.md
  platform/android/docs/configuration.md
  platform/android/docs/getting-started.md
  platform/android/docs/location-component.md
  platform/android/docs/snapshotter.md
  platform/android/mkdocs.yaml
Labels: documentation, android

#3024 Revert "Encode the style URL in iOS (#2965)"
  platform/darwin/src/http_file_source.mm
  platform/darwin/test/MLNResourceTests.mm
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#3037 feat: add `getZoom` and `setZoom` function support for Android Auto
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapLibreMap.java
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/maps/MapLibreMapTest.kt
Labels: enhancement, android

#3038 Add more examples to MapLibre Andoid Example Documentation
  platform/android/DEVELOPING.md
  platform/android/Makefile
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/AnimatedImageSourceActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/AnimatedSymbolLayerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/BuildingFillExtrusionActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/CircleLayerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/CustomSpriteActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/DataDrivenStyleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/DistanceExpressionActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/DraggableMarkerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/RealTimeGeoJsonActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/styles/TestStyles.kt
  platform/android/docs/Dockerfile
  platform/android/docs/README.md
  platform/android/docs/assets/extra.css
  platform/android/docs/camera/animation-types.md
  platform/android/docs/camera/cameraposition.md
  platform/android/docs/camera/lat-lng-bounds.md
  platform/android/docs/camera/max-min-zoom.md
  platform/android/docs/camera/move-map-pixels.md
  platform/android/docs/camera/zoom-methods.md
  platform/android/docs/configuration.md
  platform/android/docs/index.md
  platform/android/docs/location-component.md
  platform/android/docs/main.py
  platform/android/docs/snapshotter.md
  platform/android/docs/styling/animated-image-source.md
  platform/android/docs/styling/animated-symbol-layer.md
  platform/android/docs/styling/building-layer.md
  platform/android/docs/styling/circle-layer.md
  platform/android/docs/styling/custom-sprite.md
  platform/android/docs/styling/data-driven-style.md
  platform/android/docs/styling/distance-expression.md
  platform/android/docs/styling/draggable-marker.md
  platform/android/docs/styling/live-realtime-data.md
  platform/android/mkdocs.yaml
Labels: documentation, android

#3044 Increase ccache size android-ci
  .github/workflows/android-ci.yml
Labels: github_actions

#3051 Add thermal status to benchmark results
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/benchmark/BenchmarkActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/utils/BenchmarkUtils.kt
Labels: android

#3046 Fix the issue that the empty polyline cannot be updated
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/PolygonContainer.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/PolylineContainer.java
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/maps/AnnotationManagerTest.kt
Labels: android

#2977 Guide to using GeoJsonDataSource
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/feature/QuerySourceFeaturesActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/CollectionUpdateOnStyleChange.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/HeatmapLayerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/NoStyleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/RuntimeStyleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/ZoomFunctionSymbolLayerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/turf/MapSnapshotterWithinExpression.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/utils/ResourceUtils.kt
  platform/android/docs/geojson-guide.md
Labels: documentation, android
