Repository maplibre/maplibre-native, pull requests merged in 2024-01, with the labels that each got.

#1987 Add warning about changing names in Android getting started docs
  docs/mdbook/src/android/getting-started-guide.md
Labels: documentation, android

#1991 Automated CocoaPods release
  .github/workflows/ios-ci.yml
  platform/ios/MapLibre.podspec
Labels: iOS, github_actions

#1992 Fix Cocoapods release
  .github/workflows/ios-ci.yml
Labels: iOS

#1993 Automated release to Swift Package Index
  .github/workflows/ios-ci.yml
Labels: iOS, github_actions

#1996 Add changelog to iOS releases
  .github/workflows/ios-ci.yml
  platform/ios/CHANGELOG.md
Labels: iOS, github_actions

#149 add methods getTiles and setTiles to mimick maplibre-gl-js interface
  include/mbgl/style/sources/vector_source.hpp
  src/mbgl/style/sources/vector_source.cpp
  test/style/source.test.cpp
Labels: enhancement, js-parity, cpp-core

#1994 Stencil clear
  src/mbgl/renderer/paint_parameters.cpp
Labels: bug

#1997 Skip instead of fail workflows
  .github/workflows/android-device-test.yml
  .github/workflows/ios-ci.yml
  .github/workflows/pr-bloaty-ios.yml
  .github/workflows/pr-render-test-result.yml
  .github/workflows/pr-tests.yml
Labels: github_actions

#2002 Add instructions iOS release and small fix
  .github/workflows/ios-ci.yml
  SECURITY.md
  platform/ios/RELEASE.md
Labels: iOS, github_actions

#1995 Update node release based on maplibre-js release workflow - v2 with changelog
  .github/workflows/node-ci-mac.yml
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
  .nvmrc
  package-lock.json
  package.json
  platform/node/CHANGELOG.md
  platform/node/README.md
  platform/node/RELEASE.md
Labels: node, github_actions

#2005 [node][opengl-2] Update node release based on maplibre-js release workflow - v2 with changelog
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
  .nvmrc
  platform/node/CHANGELOG.md
  platform/node/RELEASE.md
Labels: cherry-pick

#2014 Enable incompatible_disallow_empty_glob
  .bazelrc
  platform/BUILD.bazel
  platform/ios/benchmark/BUILD.bazel
Labels: build

#2023 [opengl-2] cherry pick slice and index-of expression
  CMakeLists.txt
  include/mbgl/style/expression/expression.hpp
  include/mbgl/style/expression/index_of.hpp
  include/mbgl/style/expression/slice.hpp
  metrics/integration/expression-tests/index-of/assert-array/test.json
  metrics/integration/expression-tests/index-of/assert-string/test.json
  metrics/integration/expression-tests/index-of/basic-array/test.json
  metrics/integration/expression-tests/index-of/basic-string/test.json
  metrics/integration/expression-tests/index-of/invalid-haystack/test.json
  metrics/integration/expression-tests/index-of/invalid-needle/test.json
  metrics/integration/expression-tests/index-of/with-from-index/test.json
  metrics/integration/expression-tests/slice/array-one-index/test.json
  metrics/integration/expression-tests/slice/array-two-indexes/test.json
  metrics/integration/expression-tests/slice/invalid-inputs/test.json
  metrics/integration/expression-tests/slice/string-one-index/test.json
  metrics/integration/expression-tests/slice/string-two-indexes/test.json
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/style/expressions/Expression.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/style/expressions/ExpressionTest.kt
  src/mbgl/style/expression/index_of.cpp
  src/mbgl/style/expression/parsing_context.cpp
  src/mbgl/style/expression/slice.cpp
Labels: cherry-pick

#2006 Avoid redundant bindings/states based on Metal profiler feedback.
  include/mbgl/mtl/render_pass.hpp
  include/mbgl/mtl/texture2d.hpp
  src/mbgl/mtl/buffer_resource.cpp
  src/mbgl/mtl/context.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/render_pass.cpp
  src/mbgl/mtl/texture2d.cpp
  src/mbgl/mtl/tile_layer_group.cpp
  src/mbgl/mtl/upload_pass.cpp
Labels: metal, ⚡ performance

#2042 UV timer hack
  platform/default/src/mbgl/util/timer.cpp
  test/util/timer.test.cpp
Labels: bug

#2050 Line tweaker
  src/mbgl/renderer/layers/background_layer_tweaker.cpp
  src/mbgl/renderer/layers/circle_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_texture_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_texture_layer_tweaker.hpp
  src/mbgl/renderer/layers/hillshade_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_prepare_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/raster_layer_tweaker.cpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.hpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.hpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/render_layer.cpp
  src/mbgl/renderer/render_layer.hpp
Labels: ⚡ performance

#2049 Eliminate an extra vector allocation for many attributes
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/shaders/mtl/shader_program.hpp
  src/mbgl/gfx/vertex_attribute.cpp
  src/mbgl/shaders/mtl/background.cpp
  src/mbgl/shaders/mtl/background_pattern.cpp
  src/mbgl/shaders/mtl/circle.cpp
  src/mbgl/shaders/mtl/clipping_mask.cpp
  src/mbgl/shaders/mtl/collision_box.cpp
  src/mbgl/shaders/mtl/collision_circle.cpp
  src/mbgl/shaders/mtl/debug.cpp
  src/mbgl/shaders/mtl/fill.cpp
  src/mbgl/shaders/mtl/fill_extrusion.cpp
  src/mbgl/shaders/mtl/fill_extrusion_pattern.cpp
  src/mbgl/shaders/mtl/heatmap.cpp
  src/mbgl/shaders/mtl/heatmap_texture.cpp
  src/mbgl/shaders/mtl/hillshade.cpp
  src/mbgl/shaders/mtl/hillshade_prepare.cpp
  src/mbgl/shaders/mtl/line.cpp
  src/mbgl/shaders/mtl/line_gradient.cpp
  src/mbgl/shaders/mtl/raster.cpp
  src/mbgl/shaders/mtl/shader_program.cpp
  src/mbgl/shaders/mtl/symbol_icon.cpp
  src/mbgl/shaders/mtl/symbol_sdf.cpp
  src/mbgl/shaders/mtl/symbol_text_and_icon.cpp
Labels: ⚡ performance

#2054 Don't save an extra copy of properties-as-uniforms set with symbol da…
  include/mbgl/gfx/vertex_attribute.hpp
  src/mbgl/gfx/symbol_drawable_data.hpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
Labels: enhancement, ⚡ performance

#1956 [bazel] Update to 7.0.0
  .bazelversion
  MODULE.bazel
  render-test/BUILD.bazel
  test/BUILD.bazel
Labels: build

#2060 Combine multiple segments into a drawable when `sortFeaturesByKey` is not used
  src/mbgl/mtl/drawable.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
Labels: ⚡ performance

#2071 Use C++17 <optional> in csscolorparser
  vendor/csscolorparser/csscolorparser.cpp
  vendor/csscolorparser/csscolorparser/csscolorparser.hpp
Labels: build

#2073 Use `enableDepth` option
  include/mbgl/gfx/drawable.hpp
  include/mbgl/mtl/tile_layer_group.hpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/tile_layer_group.cpp
  src/mbgl/renderer/layer_tweaker.cpp
Labels: bug, metal
