Repository maplibre/maplibre-native, pull requests merged in 2024-03, with the labels that each got.

#2166 Always generate token `android-device-test.yml`
  .github/workflows/android-device-test.yml
Labels: github_actions

#2170 Fix benchmarks on CI Linux
  .github/workflows/pr-linux-tests.yml
Labels: github_actions

#2165 Port: Allow setting padding when camera is tracking
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/LocationAnimatorCoordinator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/LocationCameraController.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/LocationComponent.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/LocationComponentConstants.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/MapLibreAnimator.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/MapLibreAnimatorListener.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/MapLibreAnimatorProvider.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/MapLibreCameraAnimatorAdapter.java
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/MapLibrePaddingAnimator.kt
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/PaddingEvaluator.kt
  platform/android/MapboxGLAndroidSDK/src/test/java/org/maplibre/android/location/LocationAnimatorCoordinatorTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/location/LocationComponentTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/location/LocationModesActivity.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/menu/menu_location_mode.xml
Labels: enhancement, android

#2168 Remove unused scripts platform/ios
  .github/workflows/gh-pages-ios-api.yml
  platform/ios/INSTALL.md
  platform/ios/Makefile
  platform/ios/Mapbox.playground/Contents.swift
  platform/ios/Mapbox.playground/contents.xcplayground
  platform/ios/Mapbox.playground/playground.xcworkspace/contents.xcworkspacedata
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/ios/framework/Mapbox-static.h
  platform/ios/framework/modulemap
  platform/ios/framework/strip-frameworks.sh
  platform/ios/jazzy.yml
  platform/ios/scripts/deploy-packages.sh
  platform/ios/scripts/deploy-snapshot.sh
  platform/ios/scripts/deploy-to-cocoapods.sh
  platform/ios/scripts/document.sh
  platform/ios/scripts/ios-code-coverage.sh
  platform/ios/scripts/lint-plists.sh
  platform/ios/scripts/lint-podspecs.js
  platform/ios/scripts/metrics.sh
  platform/ios/scripts/package.sh
  platform/ios/scripts/publish.sh
  platform/ios/scripts/release-notes-github.md.ejs
  platform/ios/scripts/release-notes-jazzy.md.ejs
  platform/ios/scripts/release-notes.js
  platform/ios/scripts/size-check.sh
  platform/ios/scripts/update-swift-package.sh
  platform/ios/scripts/update-version.sh
  platform/ios/scripts/validate-framework-zip.sh
  platform/ios/scripts/xcpackage.sh
  platform/ios/testall.sh
Labels: iOS

#2169 Remove references to Mapbox iOS examples
  platform/darwin/src/MLNAnnotation.h
  platform/darwin/src/MLNFeature.h
  platform/darwin/src/MLNGeometry.h
  platform/darwin/src/MLNImageSource.h
  platform/darwin/src/MLNMapCamera.h
  platform/darwin/src/MLNMapSnapshotter.h
  platform/darwin/src/MLNOfflineStorage.h
  platform/darwin/src/MLNPointAnnotation.h
  platform/darwin/src/MLNPolygon.h
  platform/darwin/src/MLNPolyline.h
  platform/darwin/src/MLNRasterTileSource.h
  platform/darwin/src/MLNShapeSource.h
  platform/darwin/src/MLNStyle.h
  platform/darwin/src/MLNStyleLayer.h
  platform/darwin/src/MLNTilePyramidOfflineRegion.h
  platform/darwin/src/MLNVectorTileSource.h
  platform/darwin/src/NSExpression+MLNAdditions.h
  platform/ios/src/MLNAnnotationImage.h
  platform/ios/src/MLNAnnotationView.h
  platform/ios/src/MLNCalloutView.h
  platform/ios/src/MLNMapView.h
  platform/ios/src/MLNMapView.mm
  platform/ios/src/MLNMapViewDelegate.h
  platform/ios/src/MLNUserLocation.h
  platform/ios/src/MLNUserLocationAnnotationView.h
Labels: documentation, iOS

#2162 Add render tests to Gradle project root at `platform/android`
  platform/android/DEVELOPING.md
  platform/android/Makefile
  platform/android/MapboxGLAndroidSDK/src/main/java/org/maplibre/android/offline/OfflineManager.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/maps/MapGestureDetectorTest.kt
  platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/strings.xml
  platform/android/gradle/publish-root.gradle
  platform/android/settings.gradle
  render-test/android/app/build.gradle
  render-test/android/build.gradle
  render-test/android/settings.gradle
Labels: android

#2171 Bring back removed script, make sure CI runs on deleted files
  .github/workflows/android-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/linux-ci.yml
  .github/workflows/pr-linux-tests.yml
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/ios/scripts/lint-plists.sh
Labels: github_actions

#2160 Add option to disable bundle assertion in Darwin platform
  platform/darwin/src/NSBundle+MLNAdditions.mm
Labels: build, iOS, macOS

#2177 Prepare for Android 11.0.0-pre4
  platform/android/CHANGELOG.md
  platform/android/MapboxGLAndroidSDK/gradle.properties
Labels: android

#2185 Fix RealTimeGeoJsonActivity
  platform/android/MapboxGLAndroidSDKTestApp/src/main/java/org/maplibre/android/testapp/activity/style/RealTimeGeoJsonActivity.kt
Labels: android

#2190 CI fixes
  .github/workflows/android-ci.yml
  .github/workflows/pr-linux-tests.yml
Labels: github_actions

#2188 iOS Developer Docs Render Tests
  platform/ios/BUILD.bazel
  platform/ios/CONTRIBUTING.md
  platform/ios/DEVELOPING.md
  platform/ios/README.md
  render-test/ios/Info.plist
Labels: documentation, iOS

#2197 Makes `setURL` method on MLNImageSource public
  platform/darwin/src/MLNImageSource.h
  platform/darwin/test/MLNImageSourceTests.m
Labels: enhancement, iOS

#2198 Makes `setCoordinates` method on MLNImageSource public
  platform/darwin/src/MLNImageSource.h
  platform/darwin/test/MLNImageSourceTests.m
Labels: enhancement, iOS

#2200 Android render test quality of life
  .github/workflows/android-ci.yml
  render-test/android/app/build.gradle
  render-test/manifest_parser.cpp
Labels: android

#2219 [qt/cpp-core:main] Fix Parser::parseLayers id access segfault
  src/mbgl/style/parser.cpp
Labels: Qt
