Repository maplibre/maplibre-native, pull requests merged in 2024-07, with the labels that each got.

#2571 Prepare MapLibre Native Android 11.0.2-pre0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
  platform/android/RELEASE.md
Labels: android

#2563 Add C++ Unit Tests for Android
  benchmark/android/app/build.gradle
  platform/android/Makefile
  platform/android/TESTS.md
  platform/android/android.cmake
  platform/android/gradle/native-build.gradle
  platform/android/settings.gradle
  platform/android/src/test/test_runner.cpp
  render-test/android/app/build.gradle
  test/CMakeLists.txt
  test/android/app/build.gradle
  test/android/app/src/main/AndroidManifest.xml
  test/android/build.gradle
  test/android/gradle.properties
  test/android/settings.gradle
Labels: build, android

#2577 Run Android C++ Unit Tests on AWS Device Farm
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#2543 iOS Documentation: Snapshotter and Vector Layer
  platform/darwin/src/MLNMapSnapshotter.h
  platform/darwin/src/MLNMapSnapshotter.mm
  platform/darwin/src/MLNSource.h
  platform/darwin/src/MLNVectorTileSource.h
  platform/ios/CHANGELOG.md
  platform/ios/MapLibre.docc/DDSCircleLayerExample.md
  platform/ios/MapLibre.docc/LineStyleLayerExample.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/MapLibre.docc/POIAlongRouteExample.md
  platform/ios/MapLibre.docc/StaticSnapshotExample.md
  platform/ios/MapLibre.docc/WebAPIDataExample.md
  platform/ios/app-swift/Sources/DDSCircleLayerExample.swift
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/app-swift/Sources/POIAlongRouteExample.swift
  platform/ios/app-swift/Sources/StaticSnapShotExample.swift
Labels: documentation, iOS

#2569 Fix some compiler warnings
  include/mbgl/mtl/renderer_backend.hpp
  src/mbgl/gfx/stencil_mode.hpp
Labels: bug

#2343 Move Node.js package.json to platform/node
  .github/workflows/android-device-test.yml
  .github/workflows/linux-ci.yml
  .github/workflows/macos-release.yml
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
  .github/workflows/typecheck-scripts.yml
  package.json
  platform/node/CMakeLists.txt
  platform/node/RELEASE.md
  platform/node/cmake/module.cmake
  platform/node/index.js
  platform/node/package.json
  platform/node/test/mockfs.js
  pnpm-lock.yaml
Labels: node

#2589 Attempt to fix Android C++ Unit Tests on AWS Device Farm
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#2595 Release MapLibre Native iOS 6.5.1
  platform/ios/CHANGELOG.md
  platform/ios/LICENSE.md
  platform/ios/VERSION
Labels: iOS

#2602 [ios] Fix version in action sheet
  platform/darwin/bazel/example_config.bzl
  platform/darwin/src/http_file_source.mm
  platform/ios/BUILD.bazel
  platform/ios/Integration_Test_Harness/Info.plist
  platform/ios/Integration_Tests/Info.plist
  platform/ios/app/Info.plist
  platform/ios/bazel/macros.bzl
  platform/ios/benchmark/Info.plist
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/ios/iosapp-UITests/Info.plist
  platform/ios/resources/Base.lproj/Localizable.strings
  platform/ios/resources/ca.lproj/Localizable.strings
  platform/ios/resources/cs.lproj/Localizable.strings
  platform/ios/resources/da.lproj/Localizable.strings
  platform/ios/resources/de.lproj/Localizable.strings
  platform/ios/resources/he.lproj/Localizable.strings
  platform/ios/resources/hu.lproj/Localizable.strings
  platform/ios/resources/ja.lproj/Localizable.strings
  platform/ios/resources/lt.lproj/Localizable.strings
  platform/ios/resources/pt-BR.lproj/Localizable.strings
  platform/ios/resources/sv.lproj/Localizable.strings
  platform/ios/resources/zh-Hans.lproj/Localizable.strings
  platform/ios/resources/zh-Hant.lproj/Localizable.strings
  platform/ios/src/MLNMapView.mm
Labels: iOS

#2608 iOS DocC Documentation: User Interactions
  platform/ios/MapLibre.docc/Customizing_Fonts.md
  platform/ios/MapLibre.docc/GestureRecognizers.md
  platform/ios/MapLibre.docc/Info.plist_Keys.md
  platform/ios/docs/guides/Gesture Recognizers.md
  platform/ios/docs/img/user-interaction/RotateSydney.gif
  platform/ios/docs/img/user-interaction/quickzoom.gif
Labels: documentation, iOS

#2612 [ios] Switch out deprecated openURL method
  platform/ios/src/MLNMapView.mm
Labels: iOS

#2607 iOS Documentation: Add example adding multiple images
  MODULE.bazel
  platform/ios/MapLibre.docc/MultipleImagesExample.md
  platform/ios/app-swift/Assets.xcassets/nps-restrooms.imageset/16px-nps-restrooms.png
  platform/ios/app-swift/Assets.xcassets/nps-restrooms.imageset/48px-nps-restrooms .png
  platform/ios/app-swift/Assets.xcassets/nps-restrooms.imageset/Contents.json
  platform/ios/app-swift/Assets.xcassets/nps-restrooms.imageset/nps-restrooms.png
  platform/ios/app-swift/Assets.xcassets/nps-trailhead.imageset/16px-nps-trailhead.png
  platform/ios/app-swift/Assets.xcassets/nps-trailhead.imageset/48x-nps-trailhead.png
  platform/ios/app-swift/Assets.xcassets/nps-trailhead.imageset/Contents.json
  platform/ios/app-swift/Assets.xcassets/nps-trailhead.imageset/nps-trailhead.png
  platform/ios/app-swift/Assets.xcassets/nps-viewpoint.imageset/Contents.json
  platform/ios/app-swift/Assets.xcassets/nps-viewpoint.imageset/Viewpoint-16.png
  platform/ios/app-swift/Assets.xcassets/nps-viewpoint.imageset/Viewpoint-32.png
  platform/ios/app-swift/Assets.xcassets/nps-viewpoint.imageset/Viewpoint-48.png
  platform/ios/app-swift/BUILD.bazel
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/app-swift/Sources/MultipleImagesExample.swift
Labels: documentation, iOS

#2599 Fix Cocoapods release
  platform/ios/CHANGELOG.md
  platform/ios/MapLibre.podspec
  platform/ios/VERSION
Labels: iOS

#2597 iOS Documentation: Offline Capabilities
  platform/darwin/src/MLNOfflineStorage.h
  platform/ios/MapLibre.docc/ManageOfflineRegionsExample.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/MapLibre.docc/OfflinePackExample.md
  platform/ios/app-swift/Sources/ManageOfflineRegionsExample.swift
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/app-swift/Sources/OfflinePackExample.swift
Labels: documentation, iOS

#2631 Fix null-pointer dereference MapRenderer Android
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/src/cpp/map_renderer.cpp
Labels: bug, android

#2630 Don't unbind texture units in release builds
  src/mbgl/gl/context.cpp
Labels: ⚡ performance

#2624 Avoid re-creating fill extrusion drawables unnecessarily
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
Labels: bug, ⚡ performance

#2633 Make sure checks are created for Android device tests
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#2636 Take locks before signaling thread condition variables
  src/mbgl/tile/tile_cache.cpp
  src/mbgl/tile/tile_cache.hpp
  src/mbgl/util/thread_pool.cpp
Labels: bug

#2642 Docs: Use docker build commands as params
  .gitignore
  platform/linux/README.md
Labels: documentation, linux

#2641 Remove unused\dead code from mbg/util/dtoa* implementation for converting decimals to ASCII(vice versa) and associated tests
  CMakeLists.txt
  bazel/core.bzl
  benchmark/CMakeLists.txt
  benchmark/util/dtoa.benchmark.cpp
  src/mbgl/util/dtoa.cpp
  src/mbgl/util/dtoa.hpp
  test/CMakeLists.txt
  test/util/dtoa.test.cpp
Labels: cpp-core

#2651 Prepare MapLibre Native Android 11.1.0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#2649 Refactor expression.test.cpp to use std::filesystem
  .github/workflows/qt-ci.yml
  platform/ios/test/core/BUILD.bazel
  test/style/expression/expression.test.cpp
Labels: cpp-core

#2634 Replace platform-specific code with std::filesystem in MBTiles test
  platform/android/DEVELOPING.md
  test/storage/mbtiles_file_source.test.cpp
Labels: cpp-core

#2646 Feature/documentation maplibre map options
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/android/map-options-guide.md
  platform/android/MapLibreAndroidTestApp/src/main/AndroidManifest.xml
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/options/MapOptionsRuntimeActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/options/MapOptionsXmlActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_map_options_runtime.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_map_options_xml.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/categories.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/descriptions.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/titles.xml
Labels: documentation, android

#2666 Comment out test in testPlaceFeatureValues
  platform/ios/test/MLNMapAccessibilityElementTests.m
Labels: iOS

#2669 Add all Android roots to Dependabot
  .github/dependabot.yml
Labels: android, github_actions

#2664 Do not evaluate tracy.cmake when MLN_USE_TRACY is false
  CMakeLists.txt
  vendor/tracy.cmake
Labels: build

#2665 Remove OkHttp3 ProGuard rules
  platform/android/MapLibreAndroid/proguard-rules.pro
  render-test/android/build.gradle
  test/android/build.gradle
Labels: android

#2672 Use GitHub's OIDC provider to authenticate with AWS
  .github/actions/aws-device-farm-run/action.yml
  .github/workflows/android-device-test.yml
  .github/workflows/ios-device-test.yml
Labels: github_actions
