Repository maplibre/maplibre-native, pull requests merged in 2025-08, with the labels that each got.

#3705 Do not run notify-release-on-prs.ts for forks
  .github/workflows/android-release.yml
  .github/workflows/ios-ci.yml
Labels: github_actions

#3716 Add Sentry to `MapLibreAndroidTestApp`
  .github/actions/setup-android-ci/action.yml
  .github/workflows/android-ci.yml
  .github/workflows/android-testapp-release.yml
  platform/android/MapLibreAndroidTestApp/build.gradle.kts
  platform/android/MapLibreAndroidTestApp/src/main/AndroidManifest.xml
  platform/android/buildSrc/build.gradle.kts
  platform/android/buildSrc/src/main/kotlin/SentryConfigPlugin.kt
Labels: android

#3719 fix android-testapp-release workflow
  .github/workflows/android-testapp-release.yml
Labels: github_actions

#3743 Use sccache with S3 backend for Android CI
  .github/actions/install-sccache/action.yml
  .github/actions/setup-android-ci/action.yml
  .github/workflows/android-ci.yml
  .github/workflows/linux-ci.yml
  platform/android/MapLibrePlugin/src/main/kotlin/org/maplibre/CcachePlugin.kt
  platform/android/settings.gradle.kts
Labels: build, github_actions

#3681 Fix Android backend cleanup
  platform/android/MapLibreAndroid/src/cpp/android_gl_renderer_backend.cpp
  platform/android/MapLibreAndroid/src/cpp/map_renderer.cpp
  platform/android/MapLibreAndroid/src/opengl/java/org/maplibre/android/maps/renderer/surfaceview/MapLibreGLSurfaceView.java
Labels: android, OpenGL

#3755 use separate install-sccache script
  .github/actions/install-sccache/action.yml
  .github/actions/install-sccache/install-sccache
Labels: github_actions

#3756 format Bazel files with buildifier
  BUILD.bazel
  MODULE.bazel
  platform/BUILD.bazel
  platform/darwin/BUILD.bazel
  platform/darwin/bazel/files.bzl
  platform/ios/BUILD.bazel
  platform/ios/bazel/files.bzl
  platform/linux/BUILD.bazel
Labels: github_actions

#3751 Add Compose Multiplatform section to README
  README.md
Labels: documentation

#3726 Add weak pointer management to RasterSource and derived classes
  include/mbgl/style/sources/raster_dem_source.hpp
  include/mbgl/style/sources/raster_source.hpp
  include/mbgl/style/sources/tile_source.hpp
  include/mbgl/style/sources/vector_source.hpp
  src/mbgl/style/sources/raster_dem_source.cpp
Labels: bug, cpp-core

#3761 Release MapLibre Android 11.13.1
  platform/android/CHANGELOG.md
  platform/android/VERSION
Labels: android

#3765 Add Sentry build tags
  platform/android/MapLibreAndroidTestApp/build.gradle.kts
  platform/android/MapLibreAndroidTestApp/src/main/AndroidManifest.xml
  platform/android/buildSrc/src/main/kotlin/SentryConfigPlugin.kt
  platform/android/src/example_custom_layer.cpp
Labels: android

#3738 Tweak layer depth distribution
  src/mbgl/renderer/paint_parameters.hpp
  src/mbgl/shaders/vulkan/shader_program.cpp
  test/fixtures/map/layer_depth_distribution/line/expected.png
  test/map/map.test.cpp
Labels: metal, Vulkan

#3772 set MLN_WITH_OPENGL=OFF by default, like Metal/Vulkan
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
  .github/workflows/qt-ci.yml
  CMakeLists.txt
  benchmark/android/app/build.gradle
  platform/android/MapLibreAndroid/build.gradle.kts
  render-test/android/app/build.gradle.kts
  src/mbgl/renderer/paint_parameters.cpp
  src/mbgl/shaders/gl/legacy/program.hpp
  test/android/app/build.gradle.kts
Labels: build
