Repository maplibre/maplibre-native, pull requests merged in 2025-09, with the labels that each got.

#3763 Add weak pointer handling
  include/mbgl/style/layer.hpp
  include/mbgl/style/sources/custom_geometry_source.hpp
  include/mbgl/style/sources/geojson_source.hpp
  include/mbgl/style/sources/image_source.hpp
  include/mbgl/style/sources/raster_dem_source.hpp
  include/mbgl/style/sources/raster_source.hpp
  include/mbgl/style/sources/vector_source.hpp
  include/mbgl/util/run_loop.hpp
  platform/android/MapLibreAndroid/src/cpp/map_renderer.hpp
  src/mbgl/annotation/annotation_manager.hpp
  src/mbgl/annotation/annotation_source.hpp
  src/mbgl/renderer/render_source.hpp
  src/mbgl/sprite/sprite_loader.hpp
  src/mbgl/style/layers/background_layer.cpp
  src/mbgl/style/layers/circle_layer.cpp
  src/mbgl/style/layers/fill_extrusion_layer.cpp
  src/mbgl/style/layers/fill_layer.cpp
  src/mbgl/style/layers/heatmap_layer.cpp
  src/mbgl/style/layers/hillshade_layer.cpp
  src/mbgl/style/layers/layer.cpp.ejs
  src/mbgl/style/layers/line_layer.cpp
  src/mbgl/style/layers/location_indicator_layer.cpp
  src/mbgl/style/layers/raster_layer.cpp
  src/mbgl/style/layers/symbol_layer.cpp
  src/mbgl/style/sources/raster_dem_source.cpp
  src/mbgl/tile/geojson_tile.hpp
  src/mbgl/util/thread_pool.hpp
  test/actor/actor.test.cpp
Labels: bug

#3739 Save a bit more space in Android CI by getting rid of swap storage
  .github/actions/setup-android-ci/action.yml
Labels: github_actions

#3806 Use draft releases so we can use immutable releases
  .github/workflows/android-release.yml
  .github/workflows/core-release.yml
  .github/workflows/node-release.yml
Labels: security

#3811 Swap out unmaintained action Android release workflow
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
  platform/android/CHANGELOG.md
  platform/android/VERSION
Labels: android, github_actions

#3814 Pass draft parameter in android-release for immutable release
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
Labels: android, github_actions

#3820 chore(security): remove unnessesarily persisted permissions
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
  .github/workflows/android-testapp-release.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/gh-pages-android-api.yml
  .github/workflows/ios-ci.yml
  .github/workflows/ios-device-test.yml
  .github/workflows/ios-release-cocoapods.yml
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/node-ci.yml
  .github/workflows/node-release.yml
  .github/workflows/pr-bloaty-ios.yml
  .github/workflows/pr-linux-tests.yml
  .github/workflows/qt-ci.yml
  .github/workflows/rust-ci.yaml
  .github/workflows/typecheck-scripts.yml
  .github/workflows/upload-coverage.yml
  .github/workflows/windows-ci.yml
  vendor/maplibre-native-base/.github/workflows/ci.yml
Labels: github_actions

#3825 fix linux-ci
  .github/workflows/linux-ci.yml
Labels: github_actions

#3831 Manually free bound resources
  src/mbgl/gl/context.cpp
Labels: cpp-core, OpenGL

#3841 Remove bazel-out from xcframework
  platform/darwin/BUILD.bazel
Labels: build, iOS

#3847 Fix crash in camera position
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/location/LocationAnimatorCoordinator.java
Labels: android
