Repository maplibre/maplibre-native, pull requests merged in 2025-03, with the labels that each got.

#3263 Release MapLibre iOS 6.12.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#3264 Modify .bazelignore to allow reading git hash
  .bazelignore
Labels: iOS, github_actions

#3088 Warn on rejected line geometry
  src/mbgl/renderer/buckets/line_bucket.cpp
Labels: enhancement

#3275 Add activity search to Android test app
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/FeatureOverviewActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/adapter/FeatureAdapter.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/drawable-anydpi/ic_search.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/drawable-hdpi/ic_search.png
  platform/android/MapLibreAndroidTestApp/src/main/res/drawable-mdpi/ic_search.png
  platform/android/MapLibreAndroidTestApp/src/main/res/drawable-xhdpi/ic_search.png
  platform/android/MapLibreAndroidTestApp/src/main/res/drawable-xxhdpi/ic_search.png
  platform/android/MapLibreAndroidTestApp/src/main/res/menu/menu_feature_overview.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/strings.xml
Labels: android

#3276 Make Renovate less noisy
  .github/renovate.json
Labels: dependencies, github_actions

#3126 Replace deprecated Node Buffer constructor
  platform/node/test/js/map.test.js
  test/fixtures/sprites/convert_sprite.js
Labels: node

#3278 Add Vector Tile Source example Android Docs & Example app
  platform/android/MapLibreAndroidTestApp/src/main/AndroidManifest.xml
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/sources/VectorTileActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/layout/activity_vector_tile.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/descriptions.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/strings.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/titles.xml
  platform/android/docs/data/MVT.md
Labels: documentation, android

#3287 Strip punctuation from attribution
  platform/darwin/src/MLNAttributionInfo.mm
  platform/darwin/test/MLNAttributionInfoTests.m
Labels: iOS

#3328 Apply clang-tidy fixes (mostly use designated initializers)
  .clang-tidy
  include/mbgl/actor/established_actor.hpp
  include/mbgl/gfx/shader_group.hpp
  include/mbgl/gfx/vertex_attribute.hpp
  include/mbgl/text/glyph.hpp
  include/mbgl/util/event.hpp
  include/mbgl/util/immutable.hpp
  include/mbgl/util/logging.hpp
  src/mbgl/gfx/color_mode.hpp
  src/mbgl/gfx/command_encoder.hpp
  src/mbgl/gfx/cull_face_mode.hpp
  src/mbgl/gfx/depth_mode.hpp
  src/mbgl/gfx/drawable_atlases_tweaker.cpp
  src/mbgl/gfx/drawable_builder_impl.cpp
  src/mbgl/gfx/gpu_expression.cpp
  src/mbgl/gfx/stencil_mode.hpp
  src/mbgl/gfx/upload_pass.hpp
  src/mbgl/layout/pattern_layout.hpp
  src/mbgl/programs/symbol_program.hpp
  src/mbgl/renderer/layers/background_layer_tweaker.cpp
  src/mbgl/renderer/layers/circle_layer_tweaker.cpp
  src/mbgl/renderer/layers/collision_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_extrusion_layer_tweaker.cpp
  src/mbgl/renderer/layers/fill_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_layer_tweaker.cpp
  src/mbgl/renderer/layers/heatmap_texture_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_layer_tweaker.cpp
  src/mbgl/renderer/layers/hillshade_prepare_layer_tweaker.cpp
  src/mbgl/renderer/layers/line_layer_tweaker.cpp
  src/mbgl/renderer/layers/location_indicator_layer_tweaker.cpp
  src/mbgl/renderer/layers/raster_layer_tweaker.cpp
  src/mbgl/renderer/layers/symbol_layer_tweaker.cpp
  src/mbgl/renderer/property_evaluation_parameters.hpp
  src/mbgl/renderer/render_target.cpp
  src/mbgl/renderer/tile_layer_group.cpp
  src/mbgl/style/layers/background_layer.cpp
  src/mbgl/style/layers/circle_layer.cpp
  src/mbgl/style/layers/fill_extrusion_layer.cpp
  src/mbgl/style/layers/fill_layer.cpp
  src/mbgl/style/layers/heatmap_layer.cpp
  src/mbgl/style/layers/hillshade_layer.cpp
  src/mbgl/style/layers/layer.cpp.ejs
  src/mbgl/style/layers/line_layer.cpp
  src/mbgl/style/layers/location_indicator_layer.cpp
  src/mbgl/style/layers/raster_layer.cpp
  src/mbgl/style/layers/symbol_layer.cpp
  src/mbgl/util/tile_coordinate.hpp
Labels: cpp-core

#3331 Create `core-release.yml` for MapLibre Native Core releases
  .github/scripts/install-linux-deps
  .github/workflows/core-release.yml
  .github/workflows/linux-ci.yml
  .github/workflows/pr-linux-tests.yml
  CMakeLists.txt
  CMakePresets.json
  platform/glfw/CMakeLists.txt
  platform/macos/macos.cmake
  vendor/csscolorparser.cmake
  vendor/icu.cmake
  vendor/parsedate.cmake
Labels: github_actions

#3326 Add regression test for #3323, bug in layer dependency tracking
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_hillshade_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_location_indicator_layer.cpp
  src/mbgl/renderer/layers/render_raster_layer.cpp
  src/mbgl/renderer/layers/render_symbol_layer.cpp
  test/fixtures/map/style_update_zoom_dependency/after_update_green/expected.png
  test/fixtures/map/style_update_zoom_dependency/initial_red/expected.png
  test/fixtures/map/style_update_zoom_dependency/style.json
  test/map/map.test.cpp
Labels: bug

#3337 Fix `ErrorSurfaceLostKHR` exception
  platform/android/MapLibreAndroid/src/vulkan/java/org/maplibre/android/maps/renderer/textureview/VulkanTextureViewRenderThread.java
Labels: Vulkan
