Repository maplibre/maplibre-native, pull requests merged in 2025-02, with the labels that each got.

#3193 Release MapLibre iOS 6.11.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#3194 Prepare MapLibre Android 11.8.1 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#3195 Add release processes to Developer Docs
  .github/workflows/gh-pages-mdbook.yml
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/android/release.md
  docs/mdbook/src/ios/release.md
  docs/mdbook/src/release-policy.md
  docs/mdbook/theme/favicon.png
  docs/mdbook/theme/favicon.svg
  platform/android/RELEASE.md
  platform/ios/RELEASE.md
Labels: documentation

#3222 Remove alternate repo names Bazel
  .bazelrc
  MODULE.bazel
  platform/darwin/BUILD.bazel
  platform/ios/BUILD.bazel
  platform/ios/app-swift/BUILD.bazel
  platform/ios/bazel/provisioning.bzl
  platform/ios/benchmark/assets/BUILD.bazel
  platform/ios/iosapp-UITests/BUILD.bazel
  platform/ios/test/BUILD.bazel
  platform/ios/test/common/BUILD.bazel
  platform/ios/test/core/BUILD.bazel
  platform/macos/BUILD.bazel
  platform/macos/app/BUILD.bazel
  render-test/ios/BUILD.bazel
Labels: build

#3244 Add documentation page for iOS dev apps
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/ios/dev-apps.md
Labels: documentation, iOS

#3243 Remove unused files reachability.h, reachability.m
  .pre-commit-config.yaml
  platform/darwin/BUILD.bazel
  platform/darwin/include/mbgl/storage/reachability.h
  platform/darwin/src/reachability.m
Labels: iOS

#3254 Release surface resources when the render thread exits
  platform/android/MapLibreAndroid/src/vulkan/java/org/maplibre/android/maps/renderer/textureview/VulkanTextureViewRenderThread.java
Labels: android, Vulkan

#3257 Fix .bazelignore
  .bazelignore
  .github/changed-files.yml
Labels: build

#3245 Add iOS/macOS observer hooks
  platform/darwin/bazel/files.bzl
  platform/darwin/src/MLNTileOperation.h
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/MapLibre.docc/ObserverExample.md
  platform/ios/app-swift/Sources/MapLibreNavigationView.swift
  platform/ios/app-swift/Sources/ObserverExample.swift
  platform/ios/app/MBXViewController.mm
  platform/ios/sdk-files.json
  platform/ios/src/MLNMapView+Impl.h
  platform/ios/src/MLNMapView+Impl.mm
  platform/ios/src/MLNMapView.mm
  platform/ios/src/MLNMapViewDelegate.h
  platform/ios/src/MLNMapView_Private.h
  platform/ios/test/MLNMapViewDelegateIntegrationTests.swift
  platform/macos/sdk-files.json
  platform/macos/src/MLNMapView+Impl.h
  platform/macos/src/MLNMapView+Impl.mm
  platform/macos/src/MLNMapView.mm
  platform/macos/src/MLNMapViewDelegate.h
  platform/macos/src/MLNMapView_Private.h
Labels: iOS, macOS

#3258 Prepare release MapLibre Android 11.8.2
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android
