Repository maplibre/maplibre-native, pull requests merged in 2025-07, with the labels that each got.

#3604 Fix GeoJSONClusteringActivity
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/GeoJsonClusteringActivity.kt
Labels: android

#3614 Run Android instrumentation tests for Vulkan
  .github/workflows/android-ci.yml
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#3623 Use matrix in android-build for opengl/vulkan builds
  .github/scripts/notify-release-on-prs.ts
  .github/workflows/android-ci.yml
  platform/android/Makefile
Labels: android, github_actions

#3630 Set cmake_minimum_required to 3.10 in maplibre-native-base
  vendor/maplibre-native-base/CMakeLists.txt
Labels: build

#3635 Update Windows documentation to point to the MDBook guide
  docs/mdbook/src/platforms/windows/README.md
  platform/windows/README.md
Labels: documentation

#3646 Fix Windows core-relase action
  .github/workflows/core-release.yml
Labels: build, windows

#3651 Mark AWS Device Farm run as failed if it was SKIPPED
  scripts/aws-device-farm/aws-device-farm-run.sh
Labels: github_actions

#3652 Replace archived action with actions/create-github-app-token@v2
  .github/workflows/android-device-test.yml
  .github/workflows/ios-ci.yml
  .github/workflows/ios-device-test.yml
Labels: github_actions

#3653 Use `check-job-skipped.ts` in other workflows
  .github/scripts/check-job-skipped.ts
  .github/workflows/pr-bloaty-ios.yml
  .github/workflows/pr-linux-tests.yml
  .github/workflows/upload-coverage.yml
Labels: github_actions

#3660 Fix OpenGL symbols leaking to other backend builds
  platform/linux/linux.cmake
Labels: linux

#3649 Add Vulkan device sharing example
  include/mbgl/vulkan/renderer_backend.hpp
  platform/glfw/glfw_vulkan_backend.cpp
  platform/glfw/glfw_vulkan_backend.hpp
  src/mbgl/vulkan/renderer_backend.cpp
Labels: enhancement, Vulkan

#3680 Add rendering stats tracker example
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/events/ObserverActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/events/RenderStatsTracker.kt
  platform/android/docs/observability/observe-map-events.md
Labels: documentation, android
