Repository maplibre/maplibre-native, pull requests merged in 2025-01, with the labels that each got.

#3114 Use bazel_dep for libuv
  MODULE.bazel
  vendor/libuv.BUILD
Labels: build, macOS

#3127 Prepare MapLibre iOS 6.10.0 release
  MODULE.bazel
  platform/darwin/src/MLNComputedShapeSource.h
  platform/darwin/src/MLNMapSnapshotter.h
  platform/ios/CHANGELOG.md
  platform/ios/MapLibre.docc/MapLibre.md
  platform/ios/MapLibre.docc/PMTiles.md
  platform/ios/src/MLNMapView.h
  platform/ios/src/MLNMapViewDelegate.h
Labels: iOS

#3130 Release MapLibre iOS 6.10.0
  platform/ios/VERSION
Labels: iOS

#3122 Fix in-flight frame update
  include/mbgl/vulkan/buffer_resource.hpp
  include/mbgl/vulkan/context.hpp
  include/mbgl/vulkan/renderer_backend.hpp
  include/mbgl/vulkan/uniform_buffer.hpp
  src/mbgl/vulkan/buffer_resource.cpp
  src/mbgl/vulkan/context.cpp
  src/mbgl/vulkan/descriptor_set.cpp
  src/mbgl/vulkan/renderable_resource.cpp
  src/mbgl/vulkan/renderer_backend.cpp
  src/mbgl/vulkan/uniform_buffer.cpp
  src/mbgl/vulkan/upload_pass.cpp
Labels: Vulkan

#3129 Prepare MapLibre Android 11.8.0 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
  platform/android/MapLibreAndroid/src/cpp/http_file_source.cpp
  platform/android/docs/data/PMTiles.md
Labels: android

#3134 Update Android changelog
  platform/android/CHANGELOG.md
Labels: android

#3139 Add benchmark and test for color parser
  benchmark/CMakeLists.txt
  benchmark/util/color.benchmark.cpp
  benchmark/util/tilecover.benchmark.cpp
  test/CMakeLists.txt
  test/util/color.test.cpp
Labels: cpp-core

#3149 Add timeout-minutes to windows-ci workflow
  .github/workflows/windows-ci.yml
Labels: github_actions, windows

#3157 Put git configuration core.longpaths=true in Windows documentation
  platform/windows/README.md
Labels: documentation, windows

#3144 Fix TextureMode crash
  platform/android/MapLibreAndroid/src/vulkan/java/org/maplibre/android/maps/renderer/textureview/VulkanTextureViewRenderThread.java
Labels: Vulkan

#3133 Add some documentation on Android benchmark
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/android/README.md
  docs/mdbook/src/android/benchmark.md
Labels: documentation, android

#3145 Fix scheduler test failure
  src/mbgl/actor/scheduler.cpp
  test/util/async_task.test.cpp
Labels: bug

#3152 Use timestamps for image descriptor updates
  include/mbgl/vulkan/descriptor_set.hpp
  include/mbgl/vulkan/texture2d.hpp
  src/mbgl/vulkan/descriptor_set.cpp
  src/mbgl/vulkan/drawable.cpp
  src/mbgl/vulkan/texture2d.cpp
Labels: Vulkan

#3163 Add NSString initializer MLNVectorTileSource
  platform/darwin/src/MLNVectorTileSource.h
  platform/darwin/src/MLNVectorTileSource.mm
  platform/ios/app/MBXViewController.mm
Labels: iOS

#3173 More detail around Android test app, one minor typo.
  docs/mdbook/src/platforms.md
  platform/android/docs/getting-started.md
Labels: documentation, android
