Repository maplibre/maplibre-native, pull requests merged in 2025-06, with the labels that each got.

#3497 improve automated MapLibre Android release
  .github/scripts/ensure-tag.sh
  .github/scripts/validate-version.sh
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
Labels: android, github_actions

#3523 Fix android-release.yml asset name debug symbols
  .github/workflows/android-release.yml
Labels: build, github_actions

#2958 Add Tile LOD controls
  benchmark/util/tilecover.benchmark.cpp
  include/mbgl/map/map.hpp
  platform/android/MapLibreAndroid/src/cpp/native_map_view.cpp
  platform/android/MapLibreAndroid/src/cpp/native_map_view.hpp
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/MapLibreMap.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/NativeMap.java
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/NativeMapView.java
  platform/glfw/glfw_view.cpp
  platform/ios/app/MBXViewController.mm
  platform/ios/src/MLNMapView.h
  platform/ios/src/MLNMapView.mm
  platform/macos/src/MLNMapView.h
  platform/macos/src/MLNMapView.mm
  src/mbgl/map/map.cpp
  src/mbgl/map/map_impl.cpp
  src/mbgl/map/map_impl.hpp
  src/mbgl/renderer/layers/render_background_layer.cpp
  src/mbgl/renderer/paint_parameters.cpp
  src/mbgl/renderer/paint_parameters.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/renderer_impl.cpp
  src/mbgl/renderer/sources/render_image_source.cpp
  src/mbgl/renderer/tile_parameters.hpp
  src/mbgl/renderer/tile_pyramid.cpp
  src/mbgl/renderer/update_parameters.hpp
  src/mbgl/util/tile_cover.cpp
  src/mbgl/util/tile_cover.hpp
  test/CMakeLists.txt
  test/fixtures/tile_lod/disabled/expected.png
  test/fixtures/tile_lod/pitchThreshold-line/expected.png
  test/fixtures/tile_lod/pitchThreshold-polyline/expected.png
  test/fixtures/tile_lod/radius/expected.png
  test/fixtures/tile_lod/scale/expected.png
  test/include/mbgl/test/util.hpp
  test/include/mbgl/test/vector_tile_test.hpp
  test/src/mbgl/test/util.cpp
  test/style/source.test.cpp
  test/tile/custom_geometry_tile.test.cpp
  test/tile/geojson_tile.test.cpp
  test/tile/raster_dem_tile.test.cpp
  test/tile/raster_tile.test.cpp
  test/tile/tile_lod.test.cpp
  test/util/tile_cover.test.cpp
Labels: enhancement, android, cpp-core, ⚡ performance

#3529 Add missing proguard rules
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/proguard-rules.pro
  platform/android/VERSION
Labels: bug, android

#3536 Fix segfault this-capture GeoJsonSource which may be deleted
  include/mbgl/style/source.hpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/custom_geometry_source.cpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/geojson_source.cpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/geojson_source.hpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/image_source.cpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/raster_dem_source.cpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/raster_source.cpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/source.cpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/source.hpp
  platform/android/MapLibreAndroid/src/cpp/style/sources/vector_source.cpp
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/GeoJsonSourceTests.java
Labels: android

#3537 Fix recycler view test
  platform/android/MapLibreAndroid/src/cpp/android_vulkan_renderer_backend.cpp
  platform/android/MapLibreAndroid/src/cpp/android_vulkan_renderer_backend.hpp
  platform/android/MapLibreAndroid/src/cpp/map_renderer.cpp
  platform/android/MapLibreAndroid/src/vulkan/java/org/maplibre/android/maps/renderer/surfaceview/MapLibreVulkanSurfaceView.java
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/integration/SurfaceViewReopenTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/integration/SurfaceViewReuseTest.kt
  platform/android/MapLibreAndroidTestApp/src/main/AndroidManifest.xml
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/maplayout/SurfaceRecyclerViewActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/maplayout/TextureRecyclerViewActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/res/values/descriptions.xml
  platform/android/MapLibreAndroidTestApp/src/main/res/values/titles.xml
  src/mbgl/gl/context.hpp
  src/mbgl/gl/resource_pool.cpp
Labels: android

#3541 Add `MapRenderer` dangling reference check
  platform/android/MapLibreAndroid/src/cpp/android_renderer_frontend.cpp
  platform/android/MapLibreAndroid/src/cpp/android_renderer_frontend.hpp
  platform/android/MapLibreAndroid/src/cpp/map_renderer.cpp
  platform/android/MapLibreAndroid/src/cpp/map_renderer.hpp
  platform/android/MapLibreAndroid/src/cpp/native_map_view.cpp
Labels: android

#3542 Release MapLibre Android 11.10.2
  .github/scripts/ensure-tag.sh
  platform/android/CHANGELOG.md
  platform/android/VERSION
Labels: android

#3546 Use libuv run loop implementation on macOS
  CMakePresets.json
  docs/mdbook/src/platforms/macos/README.md
  platform/darwin/darwin.cmake
Labels: build, macOS

#3583 Bump version MapLibre Gestures Android
  platform/android/CHANGELOG.md
  platform/android/VERSION
  platform/android/gradle/libs.versions.toml
Labels: android

#3577 Reduce duplicate GPU buffer uploads
  include/mbgl/mtl/render_pass.hpp
  src/mbgl/mtl/buffer_resource.cpp
  src/mbgl/mtl/drawable.cpp
  src/mbgl/mtl/render_pass.cpp
Labels: ⚡ performance

#3576 Symbol Shader Performance Improvments
  include/mbgl/shaders/mtl/symbol.hpp
Labels: ⚡ performance

#3587 Add an option to reverse the direction of the quick zoom gesture
  platform/ios/src/MLNMapView.h
  platform/ios/src/MLNMapView.mm
Labels: iOS

#3588 Release MapLibre iOS 6.16.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS
