Repository maplibre/maplibre-native, pull requests merged in 2025-04, with the labels that each got.

#3352 Fix rare crash LatLngAnimator
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/location/LocationAnimatorCoordinator.java
  platform/android/MapLibreAndroid/src/test/java/org/maplibre/android/location/LocationAnimatorCoordinatorTest.kt
Labels: android

#3362 Stick to CMake 3.41.1 on CI for now
  .github/workflows/pr-bloaty-ios.yml
  .github/workflows/pr-linux-tests.yml
Labels: github_actions

#3364 Retry with curl on CI
  .github/workflows/android-device-test.yml
  .github/workflows/pr-bloaty-ios.yml
  .github/workflows/pr-linux-tests.yml
  .github/workflows/upload-coverage.yml
Labels: github_actions

#3368 Sync surface destruction with main thread
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/renderer/textureview/TextureViewRenderThread.java
  platform/android/MapLibreAndroid/src/opengl/java/org/maplibre/android/maps/renderer/textureview/GLTextureViewRenderThread.java
  platform/android/MapLibreAndroid/src/vulkan/java/org/maplibre/android/maps/renderer/textureview/VulkanTextureViewRenderThread.java
Labels: android

#3372 Prepare MapLibre Android 11.8.6 release
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
Labels: android

#3274 Unignore some Android Instrumentation Tests
  .gitignore
  platform/android/.gitignore
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/integration/FragmentBackStackTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/integration/ViewPagerScrollTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/VisibleRegionTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/offline/OfflineDownloadTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/snapshotter/MapSnapshotterTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/geometry/LatLngBoundsTest.java
Labels: android

#3377 Add page to Developer Docs on Render Tests
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/android/android-tests.md
  docs/mdbook/src/render-tests.md
  metrics/benchmark/android/results.json
  metrics/benchmark/ios/results.json
  metrics/ignores/platform-all.json
  metrics/integration/README.md
  metrics/integration/custom_layer_implementations.js
  metrics/integration/dist/.gitkeep
  metrics/integration/lib/expression.js
  metrics/integration/lib/generate-fixture-json.js
  metrics/integration/lib/harness.js
  metrics/integration/lib/json-diff.js
  metrics/integration/lib/localize-urls.js
  metrics/integration/lib/operation-handlers.js
  metrics/integration/lib/query-browser.js
  metrics/integration/lib/query.js
  metrics/integration/lib/render.js
  metrics/integration/lib/server.js
  metrics/integration/query-tests/result_item.html.tmpl
  metrics/integration/results.html.tmpl
  metrics/integration/rollup.config.test.js
  metrics/integration/testem.js
  metrics/integration/testem_page.html
  platform/android/scripts/metrics.sh
Labels: documentation

#3388 Fix std::bad_function_call in event handling
  platform/qt/src/mbgl/run_loop.cpp
Labels: Qt

#3411 Update Rust cxx version
  .github/renovate.json
  .github/workflows/linux-ci.yml
  MODULE.bazel
  docker/startup.sh
  docs/mdbook/src/rust.md
  rustutils/Cargo.lock
  rustutils/Cargo.toml
  rustutils/generate.sh
Labels: build

#3412 Allow including Mermaid diagrams in Developer Docs
  .github/workflows/gh-pages-mdbook.yml
  docs/mdbook/README.md
  docs/mdbook/book.toml
  docs/mdbook/src/design/ten-thousand-foot-view.md
  docs/mdbook/theme/head.hbs
Labels: documentation

#3413 Release MapLibre iOS 6.13.0
  platform/ios/CHANGELOG.md
  platform/ios/VERSION
Labels: iOS

#3415 Add documentation about macOS to Developer Docs
  CMakePresets.json
  README.md
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/platforms/README.md
  docs/mdbook/src/platforms/android/README.md
  docs/mdbook/src/platforms/android/android-documentation.md
  docs/mdbook/src/platforms/android/android-tests.md
  docs/mdbook/src/platforms/android/benchmark.md
  docs/mdbook/src/platforms/android/release.md
  docs/mdbook/src/platforms/ios/README.md
  docs/mdbook/src/platforms/ios/dev-apps.md
  docs/mdbook/src/platforms/ios/ios-documentation.md
  docs/mdbook/src/platforms/ios/ios-tests.md
  docs/mdbook/src/platforms/ios/release.md
  docs/mdbook/src/platforms/macos/README.md
  platform/android/README.md
  platform/ios/README.md
  platform/macos/README.md
Labels: documentation, macOS

#3419 Make sure android-device-test workflow fails when test fails
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#3421 Add missing `sourceDidChange` event
  .gitmodules
  platform/ios/app/MBXViewController.mm
  platform/ios/src/MLNMapView.mm
  platform/ios/src/MLNMapViewDelegate.h
  platform/ios/test/MLNMapViewDelegateIntegrationTests.swift
  platform/macos/src/MLNMapView.mm
  platform/macos/src/MLNMapViewDelegate.h
  platform/macos/test/MLNMapViewDelegateIntegrationTests.swift
Labels: iOS

#3423 Debug android-device-farm-run.sh
  scripts/aws-device-farm/aws-device-farm-run.sh
Labels: github_actions

#3424 Make sure run_arn is set in android-device-test
  .github/workflows/android-device-test.yml
Labels: android, github_actions

#3426 Make sure Android Instrumentation Tests pass again
  platform/android/.idea/runConfigurations/Instrumentation_Tests.xml
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/maps/MapLibreMapTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/activity/EspressoTest.kt
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/style/RuntimeStyleTests.java
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/camera/LatLngBoundsActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/DataDrivenStyleActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/styles/TestStyles.kt
Labels: android

#3428 Fix typo style name OPENFREEMAP_LIBERTY
  platform/android/MapLibreAndroidTestApp/src/androidTest/java/org/maplibre/android/testapp/activity/EspressoTest.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/camera/LatLngBoundsActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/camera/MaxMinZoomActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/snapshot/MapSnapshotterActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/AnimatedSymbolLayerActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/activity/style/CustomSpriteActivity.kt
  platform/android/MapLibreAndroidTestApp/src/main/java/org/maplibre/android/testapp/styles/TestStyles.kt
Labels: android

#3429 Release Node v6.1.0-pre.0
  platform/node/CHANGELOG.md
  platform/node/package-lock.json
  platform/node/package.json
Labels: node

#3433 [Qt for WebAssembly] Fix http_file_source
  platform/qt/src/mbgl/http_file_source.cpp
Labels: Qt
