Repository maplibre/maplibre-native, pull requests merged in 2025-05, with the labels that each got.

#3444 Make debug releases for Android
  .github/workflows/android-release.yml
  platform/android/CHANGELOG.md
  platform/android/Makefile
  platform/android/MapLibreAndroid/gradle.properties
  platform/android/buildSrc/src/main/kotlin/maplibre.gradle-publish.gradle.kts
Labels: build, android, github_actions

#3445 Update changelog for MapLibre iOS 6.13.0
  platform/ios/CHANGELOG.md
Labels: iOS

#3447 Fix Vulkan SDK URL
  .github/workflows/windows-ci.yml
Labels: build

#3455 Add Pixel 4a to Android render test run
  .github/workflows/android-device-test.yml
  scripts/aws-device-farm/store-test-artifacts.mjs
Labels: android, github_actions

#3458 Create separate workflow for making Cocoapods release
  .github/workflows/ios-ci.yml
  .github/workflows/ios-release-cocoapods.yml
Labels: github_actions

#3451 Update Linux docs, add to Developer Documentation
  CMakePresets.json
  docker/README.md
  docs/mdbook/src/SUMMARY.md
  docs/mdbook/src/platforms/linux/README.md
  docs/mdbook/src/platforms/linux/images/sample-barebones-mbgl-render-out.png
  docs/mdbook/src/platforms/linux/images/sample-maplibre-style-mbgl-render-out.png
  docs/mdbook/src/platforms/linux/using-docker.md
  platform/linux/README.md
Labels: documentation, linux

#3463 Add .git to .bazelignore
  .bazelignore
  BUILD.bazel
  platform/ios/bazel/macros.bzl
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/macos/sdk/Info.plist
Labels: iOS

#3461 Make sure renderThread is alive before calling requestExitAndWait()
  platform/android/CHANGELOG.md
  platform/android/MapLibreAndroid/gradle.properties
  platform/android/MapLibreAndroid/src/main/java/org/maplibre/android/maps/renderer/surfaceview/MapLibreSurfaceView.java
Labels: bug, android

#3465 Improve core static build release
  .github/workflows/core-release.yml
  CMakePresets.json
  vendor/nunicode.cmake
Labels: build, github_actions

#3467 Fix YAML syntax core-release.yml
  .github/workflows/core-release.yml
Labels: github_actions

#3470 Retry iOS UI Tests
  .github/workflows/ios-ci.yml
Labels: github_actions

#3474 Tweak Android release
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
Labels: android, github_actions

#3475 Make sure iOS pre-releases contain 'pre' and update changelog
  .github/workflows/ios-ci.yml
  platform/ios/CHANGELOG.md
Labels: iOS, github_actions

#3480 Do not check out tag in android-release.yml
  .github/scripts/validate-version.sh
  .github/workflows/android-release.yml
  platform/android/scripts/ensure-code-revision.sh
Labels: android, github_actions

#3486 Fix swapchain out of bounds
  src/mbgl/vulkan/renderable_resource.cpp
Labels: android, Vulkan

#3489 Fix vulkan scaling issue
  src/mbgl/vulkan/pipeline.cpp
  src/mbgl/vulkan/renderable_resource.cpp
  src/mbgl/vulkan/renderer_backend.cpp
Labels: android, Vulkan

#3491 Release workflow fixes, release MapLibre Android 11.9.0
  .github/workflows/android-ci.yml
  .github/workflows/android-release.yml
  platform/android/CHANGELOG.md
  platform/android/VERSION
  platform/android/scripts/release-notes-github.md.ejs
  platform/android/scripts/release-notes.mjs
Labels: android, github_actions

#3507 Fix VulkanSDK version
  .github/workflows/windows-ci.yml
Labels: build, windows, Vulkan

#3495 Pattern layout performance improvement
  src/mbgl/layout/pattern_layout.hpp
  src/mbgl/renderer/bucket.hpp
Labels: ⚡ performance
